force-app/main/default/flows/Account_Flow_reset_as_Prospect.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>add_current_item_to_single_variable</name>
        <label>add current item to single variable</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>thisAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Through_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_of_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection_of_Accounts</name>
        <label>add to collection of Accounts</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>AccountstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thisAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Through_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_Fields_on_Account</name>
        <label>Update Status Fields on Account</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>loop_Through_Accounts.CallRevu_Client_Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Through_Accounts.OEM_Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Through_Accounts.Reseller_Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Through_Accounts.TCX_Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_current_item_to_single_variable</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account Flow reset as Prospect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Flow reset as Prospect</label>
    <loops>
        <name>loop_Through_Accounts</name>
        <label>loop Through Accounts</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Accounts_with_no_Service_Agreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status_Fields_on_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_with_no_Service_Agreements</name>
        <label>Get Accounts with no Service Agreements</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Through_Accounts</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Service_Agreement_Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>CallRevu_Client_Account_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>TCX_Account_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>OEM_Account_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reseller_Account_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Dealer_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dealer_Record_Type</name>
        <label>Get Dealer Record Type</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounts_with_no_Service_Agreements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dealer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Accounts</name>
        <label>update Accounts</label>
        <locationX>176</locationX>
        <locationY>984</locationY>
        <inputReference>AccountstoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Dealer_Record_Type</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>AccountstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>thisAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varDealerRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
