force-app/main/default/flows/Account_EnrollmentCaseRollup_Open.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Count_Cases_for_Account_Action_1</name>
        <label>Count Cases for Account Action 1</label>
        <locationX>308</locationX>
        <locationY>1092</locationY>
        <actionName>AccountCaseCounterFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJson</name>
            <value>
                <stringValue>{!allAccounts}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AccountCaseCounterFlow</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>addToCollection</name>
        <label>addToCollection</label>
        <locationX>396</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>allAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thisAcc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cutoff_for_LastModifiedDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToSingleVar</name>
        <label>assignToSingleVar</label>
        <locationX>396</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>thisAcc.caseRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Flow_Configuration_Record.Case_Enrollment_RT_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisAcc.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughAccounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cutoff_for_LastModifiedDate</name>
        <label>cutoff for LastModifiedDate</label>
        <locationX>396</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>lastLastModifedDateinLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughAccounts.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughAccounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_records_are_found</name>
        <label>check if records are found</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>loopThroughAccounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Records Found</defaultConnectorLabel>
        <rules>
            <name>No_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecentlyUpdatedAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Records Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account_EnrollmentCaseRollup(Open) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account_EnrollmentCaseRollup(Open)</label>
    <loops>
        <name>loopThroughAccounts</name>
        <label>loopThroughAccounts</label>
        <locationX>308</locationX>
        <locationY>576</locationY>
        <collectionReference>getRecentlyUpdatedAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignToSingleVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Cases_for_Account_Action_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Flow_Configuration_Record</name>
        <label>get Flow Configuration Record</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecentlyUpdatedAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Configuration_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecentlyUpdatedAccounts</name>
        <label>getRecentlyUpdatedAccounts (first 500)</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_records_are_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Rollup_Needed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Flow_Configuration_Record</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-17</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>allAccounts</name>
        <apexClass>AccountCaseInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastLastModifedDateinLoop</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisAcc</name>
        <apexClass>AccountCaseInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
