force-app/main/default/flows/AgentConversionTimeDifference.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Actual_Time_Assignment</name>
        <label>Actual Time Assignment</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>TimeDIff</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConversionTimeDifference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Actual_Conversion_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actual_Time_Assignment_Zero</name>
        <label>Actual Time Assignment Zero</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>TimeDIff</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Actual_Conversion_Time</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Accept_Time</name>
        <label>Check Accept Time</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Actual_Time_Assignment_Zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agent_Work_Record.AcceptDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actual_Time_Assignment</targetReference>
            </connector>
            <label>IsNotNull</label>
        </rules>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agent_Work_Record.AcceptDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actual_Time_Assignment_Zero</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConversionTimeDifference</name>
        <dataType>Number</dataType>
        <expression>({!$Record.EndTime} - {!Get_Agent_Work_Record.AcceptDateTime})*24*60*60</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>AgentConversionTimeDifference {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AgentConversionTimeDifference</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agent_Work_Record</name>
        <label>Get Agent Work Record</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Accept_Time</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Mail</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AgentWork</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AcceptDateTime</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Actual_Conversion_Time</name>
        <label>Update Actual Conversion Time</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <faultConnector>
            <targetReference>Fault_Mail2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Actual_Conversion_Time__c</field>
            <value>
                <elementReference>TimeDIff</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Agent_Work_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fault_Mail</name>
        <label>Fault Mail</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Agent Conversion Time Difference</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Get Agent Work Record</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Mail2</name>
        <label>Fault Mail</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Agent Conversion Time Difference</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Update Actual Conversion Time</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>TimeDIff</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
