force-app/main/default/flows/Case_Assignment_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Determine_Assignment_Routing</name>
        <label>Determine Assignment Routing</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accounting_Created_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Populate_thisCase_Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TCX Email</stringValue>
                </rightValue>
            </conditions>
            <label>Accounting (Created Internal)</label>
        </rules>
        <rules>
            <name>Accounting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Populate_thisCase_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Flow_Configuration_Records.Account_Default_Record_Type__c</elementReference>
                </rightValue>
            </conditions>
            <label>Accounting</label>
        </rules>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Populate_thisCase_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Flow_Configuration_Records.Case_Cancellation_RT_Id__c</elementReference>
                </rightValue>
            </conditions>
            <label>Cancellation</label>
        </rules>
        <rules>
            <name>DevOps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Populate_thisCase_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>DevOps</label>
        </rules>
        <rules>
            <name>Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Populate_thisCase_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Flow_Configuration_Records.Case_Enrollment_RT_Id__c</elementReference>
                </rightValue>
            </conditions>
            <label>Enrollment</label>
        </rules>
        <rules>
            <name>Quality_Control</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Populate_thisCase_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Quality Control</label>
        </rules>
        <rules>
            <name>SF_Helpdesk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Populate_thisCase_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>SF Helpdesk</label>
        </rules>
        <rules>
            <name>Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Populate_thisCase_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Flow_Configuration_Records.Case_Support_RT_Id__c</elementReference>
                </rightValue>
            </conditions>
            <label>Support</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Assignment Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Flow_Configuration_Records</name>
        <label>get Flow Configuration Records</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Assignment_Routing</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Configuration_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Populate_thisCase_Record</name>
        <label>Populate thisCase Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Flow_Configuration_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varThisCaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_thisCase_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varThisCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
