force-app/main/default/flows/Case_Email_carryover_Support.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Do_emails_exist</name>
        <label>Do emails exist</label>
        <locationX>338</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>Create_Email_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Emails exist</defaultConnectorLabel>
        <rules>
            <name>emails_do_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>emails do not exist</label>
        </rules>
    </decisions>
    <description>Email Carry over from Client Success to Support team</description>
    <environments>Default</environments>
    <interviewLabel>Case Email carryover Support  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Email carryover Support</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message</name>
        <label>Create Email Message</label>
        <locationX>338</locationX>
        <locationY>427</locationY>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>varCaseEmail.CcAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>varCaseEmail.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>varCaseEmail.FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>varCaseEmail.HtmlBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoming</field>
            <value>
                <elementReference>varCaseEmail.Incoming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>varCaseEmail.MessageDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>varCaseEmail.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varCaseEmail.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>varCaseEmail.TextBody</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>338</locationX>
        <locationY>139</locationY>
        <assignRecordIdToReference>varNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Email_Message_for_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Actionable_Items__c</field>
            <value>
                <elementReference>varActionableItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_of_Service__c</field>
            <value>
                <elementReference>varLevelOfService</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Moved from Client Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002fqLU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyNQQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Case_Owner__c</field>
            <value>
                <elementReference>varCaseOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Request Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Email_Message_for_Case</name>
        <label>Lookup Email Message for Case</label>
        <locationX>337</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_emails_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>varCaseEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CcAddress</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>FromAddress</queriedFields>
        <queriedFields>FromName</queriedFields>
        <queriedFields>HtmlBody</queriedFields>
        <queriedFields>Incoming</queriedFields>
        <queriedFields>MessageDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>TextBody</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varActionableItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLevelOfService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
