force-app/main/default/flows/Chat_Transcripts_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Counts the total number of Chat Transcripts related to an Account</description>
        <name>Count_the_Chat_Transcripts_of_Account</name>
        <label>Count the Chat Transcripts of Account</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>VarCountChatTranscript</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_Id_of_Chat_Transcript</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Chat_Transcipt_Count_on_Account</targetReference>
        </connector>
    </assignments>
    <description>Counts the Chat Transcripts related to an Account and populates the count on the Account.</description>
    <environments>Default</environments>
    <interviewLabel>Chat Transcripts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChatTranscript_Count ChatTranscripts On Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Account Id of the created or updated Chat Transcript</description>
        <name>Get_Account_Id_of_Chat_Transcript</name>
        <label>Get Account Id of Chat Transcript</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_the_Chat_Transcripts_of_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Chat_Transcipt_Count_on_Account</name>
        <label>Update Chat Transcipt Count on Account</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <faultConnector>
            <targetReference>Error_Email1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Chat_Transcripts__c</field>
            <value>
                <elementReference>VarCountChatTranscript</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Id_of_Chat_Transcript</targetReference>
        </connector>
        <filterFormula>{!$CustomMetadata.Flow_Control__mdt.ChatTranscriptCountChatTranscriptsOnAcc.Turn_Off__c}=false</filterFormula>
        <object>LiveChatTranscript</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>704</locationX>
        <locationY>431</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Get Account Id of Chat Transcript</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>ChatTranscript_Count ChatTranscripts On Account</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Error_Email1</name>
        <label>Error Email1</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Update_Chat_Transcipt_Count_on_Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>ChatTranscript_Count ChatTranscripts On Account</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>VarCountChatTranscript</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
