force-app/main/default/flows/Content_Attachment_Attempt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>skip_Duplicate_Exception</name>
        <label>skip Duplicate Exception</label>
        <locationX>660</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Send_Email_if_there_s_an_Exception</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Another Exception</defaultConnectorLabel>
        <rules>
            <name>File_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DUPLICATE_VALUE</stringValue>
                </rightValue>
            </conditions>
            <label>File Already Exists</label>
        </rules>
    </decisions>
    <description>- Excluding duplicate record exception (temp fix)</description>
    <environments>Default</environments>
    <interviewLabel>Content Attachment Attempt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Message Session: Add Chat file to case: Record Triggered</label>
    <loops>
        <name>Loop_through_Files_on_the_Session</name>
        <label>Loop through Files on the Session</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Content_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_File_Content_on_Case</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_File_Content_on_Case</name>
        <label>Create File/Content on Case</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Loop_through_Files_on_the_Session</targetReference>
        </connector>
        <faultConnector>
            <targetReference>skip_Duplicate_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Loop_through_Files_on_the_Session.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Documents</name>
        <label>Get Content Documents</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Files_on_the_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Content_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MessagingSession</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Email_if_there_s_an_Exception</name>
        <label>Send Email if there&apos;s an Exception</label>
        <locationX>792</locationX>
        <locationY>755</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create File/Content on Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Add Chat file to case: Record Triggered</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
