force-app/main/default/flows/contactRole_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>assign_Opportunity_Values</name>
        <label>assign Opportunity Values</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>thisOpportunity.Signer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>signerFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisOpportunity.Automation_Running__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>automationToggle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>save_Parent_Opportunity_Changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Recent_Signer_Name</name>
        <label>update Recent Signer Name</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>signerFullName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>go_Through_Contact_Roles.Contact_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>go_Through_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_Signer</name>
        <label>check if Signer</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>go_Through_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Role_is_a_Signer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>go_Through_Contact_Roles.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Recent_Signer_Name</targetReference>
            </connector>
            <label>Contact Role is a Signer</label>
        </rules>
    </decisions>
    <description>Updates the parent opportunity with the Signer full name</description>
    <environments>Default</environments>
    <formulas>
        <name>automationToggle</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!thisOpportunity.Automation_Running__c}= TRUE,FALSE, TRUE)</expression>
    </formulas>
    <interviewLabel>contactRole SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>contactRole SubFlow</label>
    <loops>
        <name>go_Through_Contact_Roles</name>
        <label>go Through Contact Roles</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>get_All_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_if_Signer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_Opportunity_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_All_Contact_Roles</name>
        <label>get All Contact Roles</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>go_Through_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>excludeIdfromContactRoles</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>save_Parent_Opportunity_Changes</name>
        <label>save Parent Opportunity Changes</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <inputReference>thisOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_All_Contact_Roles</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>excludeIdfromContactRoles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>signerFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
