force-app/main/default/flows/Convert_to_Change_Order_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ChangePriceBook</name>
        <label>ChangePriceBook</label>
        <locationX>704</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>LoopThroughClonedOLIs.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopThroughClonedOLIs.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopThroughClonedOLIs.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SavedNewVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_OLIs</name>
        <label>Clone OLIs</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ClonedOLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_OLIs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordstoDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_OLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SavedNewVariable</name>
        <label>SavedNewVariable</label>
        <locationX>704</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>ClonedOLIs2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughClonedOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughPriceBookEntry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SaveProductId</name>
        <label>SaveProductId</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ProductsIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_OLIs.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_OLIs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckProduct</name>
        <label>CheckProduct</label>
        <locationX>836</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>LoopThroughPriceBookEntry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughClonedOLIs.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopThroughPriceBookEntry.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangePriceBook</targetReference>
            </connector>
            <label>ProductFound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Convert to Change Order Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Convert to Change Order Opportunity</label>
    <loops>
        <name>Loop_Through_OLIs</name>
        <label>Loop Through OLIs</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SaveProductId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_OLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughClonedOLIs</name>
        <label>LoopThroughClonedOLIs</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <collectionReference>ClonedOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopThroughPriceBookEntry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughPriceBookEntry</name>
        <label>LoopThroughPriceBookEntry</label>
        <locationX>616</locationX>
        <locationY>1406</locationY>
        <collectionReference>GetPriceBookEntry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopThroughClonedOLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_OLIs</name>
        <label>Create OLIs</label>
        <locationX>176</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Show_Success</targetReference>
        </connector>
        <inputReference>ClonedOLIs2</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_OLIs</name>
        <label>Delete OLIs</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>GetProduct</targetReference>
        </connector>
        <inputReference>recordstoDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change_Order_Cancellation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPriceBookEntry</name>
        <label>GetPriceBookEntry</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPriceBookId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductsIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPriceBookId</name>
        <label>GetPriceBookId</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPriceBookEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProduct</name>
        <label>GetProduct</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPriceBookId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductsIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>LoopThroughClonedOLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Change_Order_Cancellation_Reason__c</field>
            <value>
                <stringValue>Product/Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Order_Cancellation_Type__c</field>
            <value>
                <stringValue>Downgrade</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <stringValue>Change Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>GetPriceBookId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Show_Success</name>
        <label>Show Success</label>
        <locationX>176</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Convertion of opportunity has been successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClonedOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ClonedOLIs2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ProductsIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordstoDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
