force-app/main/default/flows/Convert_to_Change_Order_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ChangePriceBook</name>
        <label>ChangePriceBook</label>
        <locationX>578</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>LoopThroughClonedOLIs.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopThroughClonedOLIs.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopThroughClonedOLIs.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SavedNewVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_OLIs</name>
        <label>Clone OLIs</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClonedOLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_OLIs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordstoDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_OLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_original_Stage</name>
        <label>Keep original Stage</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>originalStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_This_Opportunity.StageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Stage_Value</name>
        <label>Reset Stage Value</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Query_This_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sending_out_Fault_message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SavedNewVariable</name>
        <label>SavedNewVariable</label>
        <locationX>578</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>ClonedOLIs2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughClonedOLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughPriceBookEntry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SaveProductId</name>
        <label>SaveProductId</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ProductsIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_OLIs.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Additional_Opp_Fields</name>
        <label>Update Additional Opp Fields</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Query_This_Opportunity.Change_Order_Cancellation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product/Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Query_This_Opportunity.Change_Order_Cancellation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Downgrade</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Query_This_Opportunity.Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Change Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Query_This_Opportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPriceBookId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Query_This_Opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Query_This_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualify</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Element_Variable</name>
        <label>update Element Variable</label>
        <locationX>842</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>varElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Reset_Stage_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stage_to_Qualify</name>
        <label>Update Stage to Qualify</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Query_This_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualify</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_OLIs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_OLI_are_found</name>
        <label>check if OLI are found</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_OLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OLIs found</defaultConnectorLabel>
        <rules>
            <name>NO_OLIs_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Additional_Opp_Fields</targetReference>
            </connector>
            <label>NO OLIs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_OLIs_need_to_be_replicated</name>
        <label>check if OLIs need to be replicated</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Show_Success_No_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No OLI to recreate</defaultConnectorLabel>
        <rules>
            <name>Recreate_OLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughClonedOLIs</targetReference>
            </connector>
            <label>Recreate OLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProduct</name>
        <label>CheckProduct</label>
        <locationX>710</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <targetReference>LoopThroughPriceBookEntry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughClonedOLIs.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopThroughPriceBookEntry.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangePriceBook</targetReference>
            </connector>
            <label>ProductFound</label>
        </rules>
    </decisions>
    <description>Added null handling for no product scenario(s)</description>
    <environments>Default</environments>
    <formulas>
        <name>OppRTDeveloperNamewithSpaces</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Opportunity_Record_Type.Name},&apos;_&apos;,&apos; &apos;)</expression>
    </formulas>
    <interviewLabel>Convert to Change Order Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Convert to Change Order Opportunity</label>
    <loops>
        <name>Loop_Through_OLIs</name>
        <label>Loop Through OLIs</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SaveProductId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Stage_to_Qualify</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughClonedOLIs</name>
        <label>LoopThroughClonedOLIs</label>
        <locationX>50</locationX>
        <locationY>2162</locationY>
        <collectionReference>ClonedOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopThroughPriceBookEntry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughPriceBookEntry</name>
        <label>LoopThroughPriceBookEntry</label>
        <locationX>490</locationX>
        <locationY>2270</locationY>
        <collectionReference>GetPriceBookEntry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopThroughClonedOLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_OLIs</name>
        <label>Create OLIs</label>
        <locationX>50</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Show_Success</targetReference>
        </connector>
        <inputReference>ClonedOLIs2</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_OLIs</name>
        <label>Delete OLIs</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>GetProduct</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Reset_Stage_Value</targetReference>
        </faultConnector>
        <inputReference>recordstoDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPriceBookId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record_Type</name>
        <label>Get Opportunity Record Type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_This_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change_Order_Cancellation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPriceBookEntry</name>
        <label>GetPriceBookEntry</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Additional_Opp_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPriceBookId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductsIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPriceBookId</name>
        <label>GetPriceBookId</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_OLI_are_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProduct</name>
        <label>GetProduct</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPriceBookEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductsIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_This_Opportunity</name>
        <label>Query This Opportunity</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Keep_original_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>check_if_OLIs_need_to_be_replicated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>update_Element_Variable</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Change_Order_Cancellation_Reason__c</field>
            <value>
                <stringValue>Product/Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Order_Cancellation_Type__c</field>
            <value>
                <stringValue>Downgrade</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <stringValue>Change Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>GetPriceBookId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Opportunity_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualify</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Show_Success</name>
        <label>Show Success</label>
        <locationX>50</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Opportunity has been converted to a  {!OppRTDeveloperNamewithSpaces} Opportunity.  Products were successfully recreated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Success_No_Products</name>
        <label>Show Success No Products</label>
        <locationX>314</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_SuccessMessage</name>
            <fieldText>&lt;p&gt;Opportunity has been converted to a  &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!OppRTDeveloperNamewithSpaces} &lt;/span&gt;Opportunity. No products needed to be recreated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Sending_out_Fault_message</name>
        <label>Sending out Fault message</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>RecipientAddressList</name>
            <value>
                <stringValue>jamalwarren@callrevu.com,kristiejaecklein@callrevu.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <elementReference>varElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Convert to Change Order Opportunity</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ClonedOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ClonedOLIs2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>hasOLI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>originalStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductsIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordstoDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varElementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Default OLIs</stringValue>
        </value>
    </variables>
</Flow>
