force-app/main/default/flows/Count_Service_Agreement_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_values_to_Active_Tracking</name>
        <label>Assign values to Active Tracking</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTrackingCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Agreement_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Active_Trascription</name>
        <label>Assign values to Active Trascription</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTransciptionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Agreement_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valid_Product_Type</name>
        <label>Valid Product Type</label>
        <locationX>528</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Service_Agreement_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tracking_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Tracking_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_Active_Tracking</targetReference>
            </connector>
            <label>Tracking Only</label>
        </rules>
        <rules>
            <name>Transcription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Transcription_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_Active_Trascription</targetReference>
            </connector>
            <label>Transcription</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Count Service Agreement Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Service Agreement Products</label>
    <loops>
        <name>Loop_Service_Agreement_Products</name>
        <label>Loop Service Agreement Products</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Service_Agreement_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Valid_Product_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Service_Agreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Agreement_Products</name>
        <label>Get Service Agreement Products</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Service_Agreement_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CallRevu_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CallRevu_Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Agreement_Products__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Agreement</name>
        <label>Update Service Agreement</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CallRevu_Contract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Tracking_Product__c</field>
            <value>
                <elementReference>varTrackingCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Transcription_Product__c</field>
            <value>
                <elementReference>varTransciptionCount</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Agreement_Products</targetReference>
        </connector>
        <object>Service_Agreement_Products__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varTrackingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTransciptionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
