force-app/main/default/flows/countEnrollmentCases_Open_for_accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>assignAccounttoUpdate</name>
        <label>assignAccounttoUpdate</label>
        <locationX>616</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>varAccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughAccountRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughAccountRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOpenCaseCounttoAccount</name>
        <label>assignOpenCaseCounttoAccount</label>
        <locationX>616</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>loopThroughAccountRecords.of_Open_Enrollment_Cases__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>openEnrollmentCaseCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAccounttoUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>checkQueryCount</name>
        <label>checkQueryCount</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>accountRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getAccountswithEnrollmentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getEnrollmentCaseRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateEnrollmentCount</name>
        <label>updateEnrollmentCount</label>
        <locationX>704</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>openEnrollmentCaseCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughCases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>matchesAccount</name>
        <label>matchesAccount</label>
        <locationX>836</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>loopThroughCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Matches_Account_and_is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughCases.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughCases.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopThroughAccountRecords.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateEnrollmentCount</targetReference>
            </connector>
            <label>Case Matches Account and is Open</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>recentlyModified</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 1</expression>
    </formulas>
    <interviewLabel>countEnrollmentCases(Open) for accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>countEnrollmentCases(Open) for accounts</label>
    <loops>
        <name>loopThroughAccountRecords</name>
        <label>loopThroughAccountRecords</label>
        <locationX>176</locationX>
        <locationY>684</locationY>
        <collectionReference>getAccountswithEnrollmentCase</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopThroughCases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>saveAccountChanges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopThroughCases</name>
        <label>loopThroughCases</label>
        <locationX>616</locationX>
        <locationY>792</locationY>
        <collectionReference>getEnrollmentCaseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>matchesAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignOpenCaseCounttoAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Flow_Configuration_Settings</name>
        <label>Get Flow Configuration Settings</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountswithEnrollmentCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Configuration_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountswithEnrollmentCase</name>
        <label>getAccountswithEnrollmentCase</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkQueryCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>of_Open_Enrollment_Cases__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>recentlyModified</elementReference>
            </value>
        </filters>
        <filters>
            <field>of_Open_Enrollment_Cases__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEnrollmentCaseRecords</name>
        <label>getEnrollmentCaseRecords</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughAccountRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Flow_Configuration_Settings.Case_Enrollment_RT_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>recentlyModified</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>saveAccountChanges</name>
        <label>saveAccountChanges</label>
        <locationX>176</locationX>
        <locationY>1584</locationY>
        <inputReference>varAccountCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Flow_Configuration_Settings</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-11</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountFinalList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_filterCasesforThisAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>foundAccountfromEnrollmentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>openEnrollmentCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountIdCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
