force-app/main/default/flows/Create_and_Update_Service_Agreements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Service_Products_to_Collection</name>
        <label>Add Service Products to Collection</label>
        <locationX>984</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>varServiceAgreementProductsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varServiceAgreemnetProductsLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Service_Agrmt_Product_Collection</name>
        <label>Add to Service Agrmt Product Collection</label>
        <locationX>346</locationX>
        <locationY>1257</locationY>
        <assignmentItems>
            <assignToReference>varServiceAgreementProductsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varServiceAgreemnetProductsLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Current_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Service_Products_to_Update</name>
        <label>Add to Service Products to Update</label>
        <locationX>542</locationX>
        <locationY>1100</locationY>
        <assignmentItems>
            <assignToReference>varServiceProductsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCurrentServiceProductsLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Current_Service_Product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Agrmt_Product_Loop_Variables</name>
        <label>Assign Service Agrmt Product Loop Variables</label>
        <locationX>1063</locationX>
        <locationY>1273</locationY>
        <assignmentItems>
            <assignToReference>varServiceAgreemnetProductsLoop.Opportunity_Line_Item_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityLineItemLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreemnetProductsLoop.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityLineItemLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreemnetProductsLoop.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityLineItemLoop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreemnetProductsLoop.Price_Per_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityLineItemLoop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreemnetProductsLoop.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBillingStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreemnetProductsLoop.CallRevu_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varServiceAgreementID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Service_Agrmt_Product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Agrmt_Product_Loop_Variables_0</name>
        <label>Assign Service Agrmt Product Loop Variables</label>
        <locationX>710</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>varCurrentServiceProductsLoop.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentServiceProductsLoop.Last_Opportunity_Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityLineItemLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentServiceProductsLoop.Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOrderType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Service_Products_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Service_Line_Item</name>
        <label>Assign Values to Service Line Item</label>
        <locationX>1135</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>varServiceAgreemnetProductsLoop.Opportunity_Line_Item_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityLineItemLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreemnetProductsLoop.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityLineItemLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreemnetProductsLoop.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityLineItemLoop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreemnetProductsLoop.CallRevu_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varServiceAgreementID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreemnetProductsLoop.Price_Per_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityLineItemLoop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreemnetProductsLoop.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBillingStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreemnetProductsLoop.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentServiceProductsLoop.Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Service_Products_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines what cases get created with agreement change.</description>
        <name>Case_Workflow_Types</name>
        <label>Case Workflow Types</label>
        <locationX>734</locationX>
        <locationY>633</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Workflow</defaultConnectorLabel>
        <rules>
            <name>Send_To_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityAgreementWorkFlowType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send To Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Enrollment_Case</targetReference>
            </connector>
            <label>Send To Enrollment</label>
        </rules>
        <rules>
            <name>Send_To_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityAgreementWorkFlowType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send To Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Support_Case</targetReference>
            </connector>
            <label>Send To Support</label>
        </rules>
        <rules>
            <name>Send_To_Enrollment_and_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityAgreementWorkFlowType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to Enrollment and Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Case_2</targetReference>
            </connector>
            <label>Send To Enrollment and Support</label>
        </rules>
        <rules>
            <name>DNI_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityAgreementWorkFlowType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum Workflow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAddendumType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum: DNI Setup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Kristine</targetReference>
            </connector>
            <label>DNI Workflow</label>
        </rules>
        <rules>
            <name>Addendum_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityAgreementWorkFlowType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum Workflow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAddendumType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Addendum: DNI Setup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Addendum_Workflow_Case</targetReference>
            </connector>
            <label>Addendum Workflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Match_to_Current_Product</name>
        <label>Check Match to Current Product</label>
        <locationX>933</locationX>
        <locationY>1086</locationY>
        <defaultConnector>
            <targetReference>Loop_Current_Service_Product_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>MatchToCurrentProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentServiceProductsLoop.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varOpportunityLineItemLoop.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Agrmt_Product_Loop_Variables_0</targetReference>
            </connector>
            <label>Match to Current Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Changed_Opp</name>
        <label>New or Changed Opp</label>
        <locationX>179</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>Default_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Authorized_To_Maintain_Agreements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserAuthorization</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Authorized</targetReference>
            </connector>
            <label>Not Authorized To Maintain Agreements</label>
        </rules>
        <rules>
            <name>Already_Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDateProcessed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Already_Processed</targetReference>
            </connector>
            <label>Already Processed</label>
        </rules>
        <rules>
            <name>Missing_Bill_to_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBillToID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>You_Must_Have_a_Bill_to_Account</targetReference>
            </connector>
            <label>Missing Bill-to Location</label>
        </rules>
        <rules>
            <name>Not_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOppStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed-Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Closed_Won_Opportunity</targetReference>
            </connector>
            <label>Not Closed Won</label>
        </rules>
        <rules>
            <name>New_With_Service_Agreement2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varServiceAgreementID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_With_Service_Agreement</targetReference>
            </connector>
            <label>New With Service Agreement</label>
        </rules>
        <rules>
            <name>New_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varServiceAgreementID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBillToID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserAuthorization</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Agreement</targetReference>
            </connector>
            <label>New Opportunity</label>
        </rules>
        <rules>
            <name>Update_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrderType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varServiceAgreementID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBillToID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserAuthorization</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Service_Agreement_Products</targetReference>
            </connector>
            <label>Update Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Loop_Quantity</name>
        <label>Product Loop Quantity</label>
        <locationX>924</locationX>
        <locationY>877</locationY>
        <defaultConnector>
            <targetReference>Loop_Current_Service_Product_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less Than 0</defaultConnectorLabel>
        <rules>
            <name>Greater_Or_Equal_to_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityLineItemLoop.Quantity</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Agrmt_Product_Loop_Variables</targetReference>
            </connector>
            <label>Greater Or Equal to 1</label>
        </rules>
    </decisions>
    <description>Updated stage to correct stage - 10.29 updates: Sangeeta additional information gathers from RSMs</description>
    <environments>Default</environments>
    <formulas>
        <name>varUserAuthorization</name>
        <dataType>String</dataType>
        <expression>Text({!$User.Service_Agreements_Authorized_To_Create__c})</expression>
    </formulas>
    <interviewLabel>Create and Update Service Agreements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create and Update Service Agreements</label>
    <loops>
        <name>Loop_Current_Opportunity_Products</name>
        <label>Loop Current Opportunity Products</label>
        <locationX>686</locationX>
        <locationY>883</locationY>
        <assignNextValueToReference>varOpportunityLineItemLoop</assignNextValueToReference>
        <collectionReference>varOpportunityLineItemCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Loop_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Service_Agreement_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Current_Service_Product_Collection</name>
        <label>Loop Current Service Product Collection</label>
        <locationX>680</locationX>
        <locationY>993</locationY>
        <assignNextValueToReference>varCurrentServiceProductsLoop</assignNextValueToReference>
        <collectionReference>varCurrentServiceProductsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Match_to_Current_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Current_Opportunity_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opp_Line_Items</name>
        <label>Loop Opp Line Items</label>
        <locationX>984</locationX>
        <locationY>237</locationY>
        <assignNextValueToReference>varOpportunityLineItemLoop</assignNextValueToReference>
        <collectionReference>varOpportunityLineItemCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Service_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateNewServiceAgreementProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Addendum_Workflow_Case</name>
        <label>Create Addendum Workflow Case</label>
        <locationX>1783</locationX>
        <locationY>211</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Opportunity_Processed</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varServiceLocationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addendum_Alert__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addendum_Type__c</field>
            <value>
                <elementReference>varAddendumType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Accounts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>varImplementation_Expectations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal Alert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002ftkx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_System_Provider__c</field>
            <value>
                <elementReference>varPhoneSystemProvider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyN1QAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>varServiceAgreementID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Request Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Addendum - Service Change Actions Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Support: Service Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_Kristine</name>
        <label>Create Case for Kristine</label>
        <locationX>1304</locationX>
        <locationY>580</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Service_Agreement</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varServiceLocationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNI_Status__c</field>
            <value>
                <stringValue>Confirm GA Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Existing Client Setup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0053m00000B9ZvWAAV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123m000001I11fAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>varServiceAgreementID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Enrollment_Case</name>
        <label>Create Enrollment Case</label>
        <locationX>1196</locationX>
        <locationY>726</locationY>
        <assignRecordIdToReference>varEnrollmentCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Service_Agreement</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varServiceLocationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>New Client Enrollment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>varImplementation_Expectations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002ftkx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_System_Provider__c</field>
            <value>
                <elementReference>varPhoneSystemProvider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyN1QAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>varServiceAgreementID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Agreement Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creates Enrollment Case when both Enrollment and Service Case are required.</description>
        <name>Create_Enrollment_Case_2</name>
        <label>Create Enrollment Case 2</label>
        <locationX>1080</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>varEnrollmentCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Service_Agreement</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varServiceLocationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>varImplementation_Expectations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002ftkx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_System_Provider__c</field>
            <value>
                <elementReference>varPhoneSystemProvider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyN1QAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>varServiceAgreementID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Agreement</name>
        <label>Create Service Agreement</label>
        <locationX>393</locationX>
        <locationY>422</locationY>
        <assignRecordIdToReference>varServiceAgreementID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Opportunity_With_Service_Agreement</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Share_Fixed_Amount__c</field>
            <value>
                <elementReference>varBillToShareAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Share_Fixed_Frequency__c</field>
            <value>
                <elementReference>varBillToShare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Account__c</field>
            <value>
                <elementReference>varBillToID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Share_Account__c</field>
            <value>
                <elementReference>varBillToShareAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Share_Percentage__c</field>
            <value>
                <elementReference>varBillToSharePercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discovery_Notes__c</field>
            <value>
                <elementReference>varDiscovery_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Features_of_Interest__c</field>
            <value>
                <elementReference>varFeatures_of_Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>varImplementation_Expectations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity_Change_Type__c</field>
            <value>
                <elementReference>varOrderType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_for_Expansion__c</field>
            <value>
                <elementReference>varOpportunity_for_Expansion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Solution_Sub_Source__c</field>
            <value>
                <elementReference>varPrevious_Solution_Sub_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Solution__c</field>
            <value>
                <elementReference>varPrevious_Solution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Location__c</field>
            <value>
                <elementReference>varServiceLocationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_the_Client_Objectives__c</field>
            <value>
                <elementReference>varWhat_are_the_client_Objectives</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_the__c</field>
            <value>
                <elementReference>varWhat_are_the_Customer_Challenges</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Agreement_Products</name>
        <label>Create Service Agreement Products</label>
        <locationX>1053</locationX>
        <locationY>880</locationY>
        <connector>
            <targetReference>Update_Service_Products_to_Update</targetReference>
        </connector>
        <inputReference>varServiceAgreementProductsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create Service Case when both Service and Enrollment Cases are Required</description>
        <name>Create_Service_Case_2</name>
        <label>Create Support Case 2</label>
        <locationX>978</locationX>
        <locationY>754</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Enrollment_Case_2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varServiceLocationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Charge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>varImplementation_Expectations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002fvHt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyNQQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>varServiceAgreementID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Request Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Support Service Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Support_Case</name>
        <label>Create Support Case</label>
        <locationX>1172</locationX>
        <locationY>484</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Service_Agreement</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varServiceLocationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>varImplementation_Expectations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002fvHt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyNQQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>varServiceAgreementID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Request Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Support: Service Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNewServiceAgreementProducts</name>
        <label>CreateNewServiceAgreementProducts</label>
        <locationX>1139</locationX>
        <locationY>238</locationY>
        <inputReference>varServiceAgreementProductsCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Information</name>
        <label>Get Account Information</label>
        <locationX>362</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_Record_Type_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServiceLocationID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPhoneSystemProvider</assignToReference>
            <field>Phone_System_Provider__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Service_Agreement_Products</name>
        <label>Get Current Service Agreement Products</label>
        <locationX>601</locationX>
        <locationY>556</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Workflow_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CallRevu_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServiceAgreementID</elementReference>
            </value>
        </filters>
        <object>Service_Agreement_Products__c</object>
        <outputReference>varCurrentServiceProductsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_up_Opportunity</name>
        <label>Look up Opportunity</label>
        <locationX>180</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varServiceLocationID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAddendumType</assignToReference>
            <field>Addendum_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityAgreementWorkFlowType</assignToReference>
            <field>Agreement_Workflow__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBillToID</assignToReference>
            <field>Bill_To_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBillToShareAccount</assignToReference>
            <field>Bill_To_Share_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBillToShareAmount</assignToReference>
            <field>Bill_to_Share_Fixed_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBillToShare</assignToReference>
            <field>Bill_to_Share_Fixed_Frequency__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBillToSharePercentage</assignToReference>
            <field>Bill_to_Share_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCloseDate</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBillingStartDate</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDateProcessed</assignToReference>
            <field>Date_Processed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDiscovery_Notes</assignToReference>
            <field>Discovery_Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFeatures_of_Interest</assignToReference>
            <field>Features_of_Interest__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varImplementation_Expectations</assignToReference>
            <field>Implementation_Expectations__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunity_for_Expansion</assignToReference>
            <field>Opportunity_for_Expansion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrderType</assignToReference>
            <field>Order_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrevious_Solution_Sub_Source</assignToReference>
            <field>Previous_Solution_Sub_Source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrevious_Solution</assignToReference>
            <field>Previous_Solution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityRecordTypeID</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varServiceAgreementID</assignToReference>
            <field>Service_Agreement_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppStage</assignToReference>
            <field>StageName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWhat_are_the_client_Objectives</assignToReference>
            <field>What_are_the_Client_Objectives__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWhat_are_the_Customer_Challenges</assignToReference>
            <field>What_are_the_Customer_Challenges__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_Opportunity_Line_Items</name>
        <label>Look Up Opportunity Line Items</label>
        <locationX>178</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_or_Changed_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>varOpportunityLineItemCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_Record_Type_Name</name>
        <label>Look Up Record Type Name</label>
        <locationX>178</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_Opportunity_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecordTypeID</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varOpportunityRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Processed</name>
        <label>Update Opportunity Processed</label>
        <locationX>1462</locationX>
        <locationY>356</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Processed__c</field>
            <value>
                <elementReference>varCloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_With_Service_Agreement</name>
        <label>Update Opportunity With Service Agreement</label>
        <locationX>586</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>Update_Service_Agreement_With_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>varServiceAgreementID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Agreement</name>
        <label>Update Service Agreement</label>
        <locationX>1838</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>Update_Opportunity_Processed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServiceAgreementID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Case__c</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Case__c</field>
            <value>
                <elementReference>varEnrollmentCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity__c</field>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Agreement_With_Case</name>
        <label>Update Service Agreement With Case</label>
        <locationX>757</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Case_Workflow_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServiceAgreementID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Case__c</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Products_to_Update</name>
        <label>Update Service Products to Update</label>
        <locationX>1200</locationX>
        <locationY>882</locationY>
        <inputReference>varServiceProductsToUpdateCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Debug</name>
        <label>Debug</label>
        <locationX>1449</locationX>
        <locationY>800</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Opportunity_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varOpportunityID</elementReference>
            </defaultValue>
            <fieldText>Opportunity ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Location_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varServiceLocationName</elementReference>
            </defaultValue>
            <fieldText>Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Debug_1</name>
        <label>Debug 1</label>
        <locationX>1353</locationX>
        <locationY>789</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NewLineItem</name>
            <fieldText>New Line Item</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Default_Error_Message</name>
        <label>Default Error Message</label>
        <locationX>46</locationX>
        <locationY>679</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMesssage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have not met the criteria to create or update a service agreement.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;New Agreement Requirements&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Type = &amp;quot;New&amp;quot;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sevices Agreement is Blank - there should not be one.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Opportunity Stage = Closed Won&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Bill-to Account&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Change Agreement Requirements&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Type is not equal to New&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Service Agreement is not Blank - There must be one for a  change or update&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Opportunity Stege = Closed Won&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Bill-to Account&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Found_Existing</name>
        <label>Found Existing</label>
        <locationX>1295</locationX>
        <locationY>860</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FoundExistinProduct</name>
            <fieldText>Existing Product Found</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Product_Product2ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varOpportunityLineItemLoop.Product2Id</elementReference>
            </defaultValue>
            <fieldText>Opportunity Product Product2ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Agreement_Product_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varCurrentServiceProductsLoop.Product__c</elementReference>
            </defaultValue>
            <fieldText>Service Agreement Product ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_With_Service_Agreement</name>
        <label>New With Service Agreement</label>
        <locationX>236</locationX>
        <locationY>1004</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NewWithServiceAgreement</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You Can Not Process a New Opportunity With a Current Service Agreement.  You Must Change The Order Type to Modify a Current Service Agreement, or if it is a New Opportunity, You Can Not Reference a Current Service Agreement.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Authorized</name>
        <label>Not Authorized</label>
        <locationX>370</locationX>
        <locationY>1080</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotAuthorizedMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#CC0033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You Are Not Authorized To Maintain Service Agreements.  &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#CC0033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#CC0033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;See Your Administrator.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Closed_Won_Opportunity</name>
        <label>Not Closed Won Opportunity</label>
        <locationX>302</locationX>
        <locationY>1048</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotClosedWon</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Opportunity Must Be Closed Won to Process&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Already_Processed</name>
        <label>Opportunity Already Processed</label>
        <locationX>109</locationX>
        <locationY>839</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OpportunityAlreadyProcessed</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This Opportunity Has Already Been Processed.  You Can Not Process It Again.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QuantityDebug</name>
        <label>Quantity Debug</label>
        <locationX>1299</locationX>
        <locationY>965</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varOpportunityLineItemLoop.Quantity</elementReference>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varCloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>You_Must_Have_a_Bill_to_Account</name>
        <label>You Must Have a Bill-to Account</label>
        <locationX>169</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BilltoMissing</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;You Must Have a Bill-to Account To Process an Opportunity.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Look_up_Opportunity</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddendumType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillToID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillToShare</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillToShareAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillToShareAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varBillToSharePercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Case Id</description>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCurrentServiceProductsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement_Products__c</objectType>
    </variables>
    <variables>
        <name>varCurrentServiceProductsLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement_Products__c</objectType>
    </variables>
    <variables>
        <name>varDateProcessed</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDiscovery_Notes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Enrollment Case ID</description>
        <name>varEnrollmentCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFeatures_of_Interest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varImplementation_Expectations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunity_for_Expansion</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Opportunity Agreement Workflow Type</description>
        <name>varOpportunityAgreementWorkFlowType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOpportunityLineItemLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOpportunityObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpportunityRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Opportunity Stage</description>
        <name>varOppStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhoneSystemProvider</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrevious_Solution</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrevious_Solution_Sub_Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varServiceAgreementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceAgreementProductsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement_Products__c</objectType>
    </variables>
    <variables>
        <name>varServiceAgreemnetProductsLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement_Products__c</objectType>
    </variables>
    <variables>
        <name>varServiceLocationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceLocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceProductsToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement_Products__c</objectType>
    </variables>
    <variables>
        <name>varServiceProductsToUpdateObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement_Products__c</objectType>
    </variables>
    <variables>
        <name>varWhat_are_the_client_Objectives</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWhat_are_the_Customer_Challenges</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
