force-app/main/default/flows/Create_Case_Initial_Email_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_thisEvent_to_Collection_for_Creation</name>
        <label>add thisEvent to Collection for Creation</label>
        <locationX>440</locationX>
        <locationY>2828</locationY>
        <assignmentItems>
            <assignToReference>allEventsfromInitialCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughEvents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughEvents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_thisTask_to_Collection_for_Creation</name>
        <label>add thisTask to Collection for Creation</label>
        <locationX>396</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>allTasksfromInitialCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thisTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_varCaseEmail_to_collection</name>
        <label>add varCaseEmail to collection</label>
        <locationX>396</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>allEmailsfromInitialCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCaseEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughEmailMessages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Email_Messages_to_variable</name>
        <label>assign Email Messages to variable</label>
        <locationX>396</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varCaseEmail.CcAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughEmailMessages.CcAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseEmail.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughEmailMessages.FromAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseEmail.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughEmailMessages.FromName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseEmail.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughEmailMessages.HtmlBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseEmail.Incoming</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughEmailMessages.Incoming</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseEmail.MessageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughEmailMessages.MessageDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseEmail.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughEmailMessages.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseEmail.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughEmailMessages.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseEmail.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughEmailMessages.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseEmail.TextBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughEmailMessages.TextBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_varCaseEmail_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_to_Variable</name>
        <label>Assign Event to Variable</label>
        <locationX>440</locationX>
        <locationY>2720</locationY>
        <assignmentItems>
            <assignToReference>thisEvent.WhatId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisEvent.WhoId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisEvent.Subject</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisEvent.Type</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisEvent.Activity_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisEvent.CreatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisEvent.Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisEvent.AccountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisEvent.Activity_Due_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>add_thisEvent_to_Collection_for_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Matching_case_to_Variable</name>
        <label>assign Matching case to Variable</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_FoundCaseRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Case_matching_Case_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>remove_ID_from_case_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_to_Variable</name>
        <label>Assign Task to Variable</label>
        <locationX>396</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>thisTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughTasks.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughTasks.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughTasks.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughTasks.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisTask.Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughTasks.Activity_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughTasks.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisTask.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughTasks.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughTasks.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisTask.Activity_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughTasks.Activity_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_thisTask_to_Collection_for_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>remove_ID_from_case_Variable</name>
        <label>remove ID from case Variable</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_FoundCaseRecord.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>create_Case_from_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_emails_exist</name>
        <label>Do emails exist</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>loopThroughEmailMessages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Emails exist</defaultConnectorLabel>
        <rules>
            <name>emails_do_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Email_Message_for_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Activities_for_Case</targetReference>
            </connector>
            <label>emails do not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_events_exist</name>
        <label>Do events exist</label>
        <locationX>176</locationX>
        <locationY>2504</locationY>
        <defaultConnector>
            <targetReference>loopThroughEvents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Events exist</defaultConnectorLabel>
        <rules>
            <name>No_Events_on_Initial_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Events_for_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Events on Initial Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_tasks_exist</name>
        <label>Do tasks exist</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>loopThroughTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tasks exist</defaultConnectorLabel>
        <rules>
            <name>No_Tasks_on_Initial_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Activities_for_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Events_for_Case</targetReference>
            </connector>
            <label>No Tasks on Initial Case</label>
        </rules>
    </decisions>
    <description>Used for creating a case and the initial Email tied to it to support Case processes using the &apos;Closed-Moved to&apos; statuses + Activity recreation + new Flow Clone approach</description>
    <environments>Default</environments>
    <formulas>
        <name>HtmlBodyMax32K</name>
        <dataType>String</dataType>
        <expression>LEFT({!varCaseEmail.HtmlBody}, 32000)</expression>
    </formulas>
    <formulas>
        <name>varDescriptionOfIssueFORM</name>
        <dataType>String</dataType>
        <expression>&quot;DESCRIPTION OF ISSUE: &quot;&amp;{!varDescriptionOfIssue}&amp;&quot;SUBJECT: &quot;&amp; {!varSubject} &amp;&quot;DESCRIPTION: &quot;&amp;{!varDescription}</expression>
    </formulas>
    <interviewLabel>Create Case + Initial Email Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case + Initial Email Message</label>
    <loops>
        <name>loopThroughEmailMessages</name>
        <label>loopThroughEmailMessages</label>
        <locationX>308</locationX>
        <locationY>782</locationY>
        <collectionReference>Lookup_Email_Message_for_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Email_Messages_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_New_Emails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopThroughEvents</name>
        <label>loopThroughEvents</label>
        <locationX>352</locationX>
        <locationY>2612</locationY>
        <collectionReference>Lookup_Events_for_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Event_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_new_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopThroughTasks</name>
        <label>loopThroughTasks</label>
        <locationX>308</locationX>
        <locationY>1598</locationY>
        <collectionReference>Lookup_Activities_for_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_new_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Case_from_Variable</name>
        <label>create Case from Variable</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Lookup_Email_Message_for_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Case_Not_Created</targetReference>
        </faultConnector>
        <inputReference>var_FoundCaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_New_Emails</name>
        <label>create New Emails</label>
        <locationX>308</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Lookup_Activities_for_Case</targetReference>
        </connector>
        <inputReference>allEmailsfromInitialCase</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_new_Events</name>
        <label>create new Events</label>
        <locationX>352</locationX>
        <locationY>3020</locationY>
        <faultConnector>
            <targetReference>Events_Not_Created</targetReference>
        </faultConnector>
        <inputReference>allEventsfromInitialCase</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_new_Tasks</name>
        <label>create new Tasks</label>
        <locationX>308</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Lookup_Events_for_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Tasks_Not_Created</targetReference>
        </faultConnector>
        <inputReference>allTasksfromInitialCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Case_matching_Case_Id</name>
        <label>get Case matching Case Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Matching_case_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Activities_for_Case</name>
        <label>Lookup Tasks for Case</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_tasks_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Email_Message_for_Case</name>
        <label>Lookup Email Message for Case</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_emails_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Events_for_Case</name>
        <label>Lookup Events for Case</label>
        <locationX>176</locationX>
        <locationY>2396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_events_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Case_matching_Case_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Case_Not_Created</name>
        <label>Case Not Created</label>
        <locationX>880</locationX>
        <locationY>566</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>RecipientAddressList</name>
            <value>
                <stringValue>jamalwarren@callrevu.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create New Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Create Case + Initial Email Message</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Events_Not_Created</name>
        <label>Events Not Created</label>
        <locationX>616</locationX>
        <locationY>3128</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>RecipientAddressList</name>
            <value>
                <stringValue>jamalwarren@callrevu.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>create new Events</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Create Case + Initial Email Message</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Tasks_Not_Created</name>
        <label>Tasks Not Created</label>
        <locationX>572</locationX>
        <locationY>2114</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Lookup_Events_for_Case</targetReference>
        </connector>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>RecipientAddressList</name>
            <value>
                <stringValue>jamalwarren@callrevu.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>create new Tasks</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Create Case + Initial Email Message</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>allEmailsfromInitialCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>allEventsfromInitialCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>allTasksfromInitialCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>thisEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>thisTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_FoundCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActionableItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBrowserUsed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCategoryAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreateDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDescriptionOfIssue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDiscoveryMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLevelOfService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceAgreement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varURLLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkItemLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
