force-app/main/default/flows/Create_Case_From_Bot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>This flow use to create a case from bot and link messaging session to case record.</description>
    <environments>Default</environments>
    <formulas>
        <name>ChatSummary</name>
        <dataType>String</dataType>
        <expression>&quot;Customer Name: &quot;&amp;{!CustomerName} &amp;BR()&amp;
&quot;User Details: &quot;&amp;{!DealershipCompanyName} &amp;BR()&amp;
&quot;Email Address: &quot;&amp;{!EmailAddress} &amp;BR()&amp;
&quot;Issue Description: &quot;&amp;{!Issue_Description}</expression>
    </formulas>
    <interviewLabel>Create Case From Bot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case From Bot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Case_Number</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Mail2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category_Action__c</field>
            <value>
                <stringValue>TBD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>TBD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Type__c</field>
            <value>
                <elementReference>IssueType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SupportQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SupportRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Chat Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>chat_summary__c</field>
            <value>
                <elementReference>ChatSummary</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>Get the case number of the case that was just created.</description>
        <name>Get_Case_Number</name>
        <label>Get Case Number</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Messaging_Session_with_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Case_Number</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Configuration_Setting</name>
        <label>Get Flow Configuration Setting</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Settings</stringValue>
            </value>
        </filters>
        <object>Flow_Configuration_Settings__mdt</object>
        <outputAssignments>
            <assignToReference>SupportRecordTypeId</assignToReference>
            <field>Case_Support_RT_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SupportQueueId</assignToReference>
            <field>Support_Queue_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messaging_Session_with_Case</name>
        <label>Update Messaging Session with Case</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <faultConnector>
            <targetReference>Fault_Mail</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routable_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Flow_Configuration_Setting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fault_Mail</name>
        <label>Fault Mail</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Update Messaging Session with Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Create Case From Bot Flow Error</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Mail2</name>
        <label>Fault Mail</label>
        <locationX>704</locationX>
        <locationY>350</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Create Case From Bot Flow Error</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Case_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of created case</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DealershipCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Issue_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IssueType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Routable_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupportQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SupportRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
