force-app/main/default/flows/Create_and_Update_Service_Agreements_Refurbished.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_new_values_to_OpportunityLineItem</name>
        <label>Assign new values to OpportunityLineItem</label>
        <locationX>1062</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>varOpporunityProduct.celigo_sfnsio__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpporunityProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_collection_variable</name>
        <label>Assign values to collection variable</label>
        <locationX>1062</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpporunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_new_values_to_OpportunityLineItem</name>
        <label>Copy 1 of Assign new values to OpportunityLineItem</label>
        <locationX>3174</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>varOpporunityProduct.celigo_sfnsio__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpporunityProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_values_to_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_values_to_collection_variable</name>
        <label>Copy 1 of Assign values to collection variable</label>
        <locationX>3174</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpporunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Products_NO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Workflow_Types</name>
        <label>Case Workflow Types</label>
        <locationX>974</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Opportunity_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Workflow</defaultConnectorLabel>
        <rules>
            <name>Send_To_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Enrollment_Case_CO</targetReference>
            </connector>
            <label>Send To Enrollment</label>
        </rules>
        <rules>
            <name>Send_To_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Support_Case_CO</targetReference>
            </connector>
            <label>Send To Support</label>
        </rules>
        <rules>
            <name>Send_To_Enrollment_and_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to Enrollment and Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Support_Case_2_CO</targetReference>
            </connector>
            <label>Send To Enrollment and Support</label>
        </rules>
        <rules>
            <name>Addendum_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum Workflow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Addendum_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Addendum: DNI Setup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Addendum_Workflow_Case_CO</targetReference>
            </connector>
            <label>Addendum Workflow</label>
        </rules>
        <rules>
            <name>Enrollment_and_DNI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment and DNI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Enrollment_Case_1_CO</targetReference>
            </connector>
            <label>Enrollment and DNI</label>
        </rules>
        <rules>
            <name>Send_to_DNI_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to DNI Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Support_Case_1_CO</targetReference>
            </connector>
            <label>Send to DNI Only</label>
        </rules>
        <rules>
            <name>DNI_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum Workflow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Addendum_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum: DNI Setup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Kristine_CO</targetReference>
            </connector>
            <label>DNI Workflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Workflow_Types_NO</name>
        <label>Case Workflow Types</label>
        <locationX>3086</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Create_Service_Agreement_NO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Workflow</defaultConnectorLabel>
        <rules>
            <name>Send_To_Enrollment_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Enrollment_Case_NO</targetReference>
            </connector>
            <label>Send To Enrollment</label>
        </rules>
        <rules>
            <name>Send_To_Support_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Support_Case_NO</targetReference>
            </connector>
            <label>Send To Support</label>
        </rules>
        <rules>
            <name>Enrollment_and_Support_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to Enrollment and Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Support_Case_2_NO</targetReference>
            </connector>
            <label>Enrollment and Support</label>
        </rules>
        <rules>
            <name>Addendum_Workflow_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum Workflow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Addendum_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Addendum: DNI Setup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Addendum_Workflow_Case_NO</targetReference>
            </connector>
            <label>Addendum Workflow</label>
        </rules>
        <rules>
            <name>Enrollment_and_DNI_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment and DNI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Enrollment_Case_1_NO</targetReference>
            </connector>
            <label>Enrollment and DNI</label>
        </rules>
        <rules>
            <name>Send_to_DNI_Only_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to DNI Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Support_Case_1_NO</targetReference>
            </connector>
            <label>Send to DNI Only</label>
        </rules>
        <rules>
            <name>DNI_Workflow_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum Workflow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Addendum_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum: DNI Setup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_Kristine_NO</targetReference>
            </connector>
            <label>DNI Workflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Valid_negatives</name>
        <label>Copy 1 of Valid negatives</label>
        <locationX>3306</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Loop_Opportunity_Products_NO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Quantity_field_contains_negative_values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opportunity_Products.Quantity</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_new_values_to_OpportunityLineItem</targetReference>
            </connector>
            <label>Copy 1 of Quantity field contains negative values</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Changed_Opp</name>
        <label>New or Changed Opp</label>
        <locationX>2580</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Default_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Authorized_To_Maintain_Agreements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Service_Agreements_Authorized_To_Create__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Authorized</targetReference>
            </connector>
            <label>Not Authorized To Maintain Agreements</label>
        </rules>
        <rules>
            <name>Already_Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Date_Processed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Already_Processed</targetReference>
            </connector>
            <label>Already Processed</label>
        </rules>
        <rules>
            <name>Missing_Bill_to_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Bill_To_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>You_Must_Have_a_Bill_to_Account</targetReference>
            </connector>
            <label>Missing Bill-to Location</label>
        </rules>
        <rules>
            <name>Not_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_up_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed-Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Closed_Won_Opportunity</targetReference>
            </connector>
            <label>Not Closed Won</label>
        </rules>
        <rules>
            <name>New_With_Service_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Service_Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_With_Service_Agreement_1</targetReference>
            </connector>
            <label>New With Service Agreement</label>
        </rules>
        <rules>
            <name>New_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Service_Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Bill_To_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Service_Agreements_Authorized_To_Create__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Agreement</targetReference>
            </connector>
            <label>New Opportunity</label>
        </rules>
        <rules>
            <name>Update_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Order_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Service_Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_up_Opportunity.Bill_To_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Service_Agreements_Authorized_To_Create__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Service_Agreement_Products</targetReference>
            </connector>
            <label>Update Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType</name>
        <label>Record Type</label>
        <locationX>2580</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change_Order_Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Workflow_Types</targetReference>
            </connector>
            <label>Change Order</label>
        </rules>
        <rules>
            <name>New_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Workflow_Types_NO</targetReference>
            </connector>
            <label>New Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_negatives</name>
        <label>Valid negatives</label>
        <locationX>1194</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_field_contains_negative_values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opportunity_Products.Quantity</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_values_to_OpportunityLineItem</targetReference>
            </connector>
            <label>Quantity field contains negative values</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forCurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>forEnrollmentCase</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!Create_Enrollment_Case_1_NO})), {!Create_Enrollment_Case_1_NO}, IF(NOT(ISNULL({!Create_Enrollment_Case_NO})), {!Create_Enrollment_Case_NO}, &apos;&apos;))</expression>
    </formulas>
    <interviewLabel>Create and Update Service Agreements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create and Update Service Agreements (Refurbished)</label>
    <loops>
        <name>Loop_Opportunity_Products</name>
        <label>Loop Opportunity Products</label>
        <locationX>974</locationX>
        <locationY>1814</locationY>
        <collectionReference>Lookup_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Valid_negatives</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_OpportunityLineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opportunity_Products_NO</name>
        <label>Loop Opportunity Products</label>
        <locationX>3086</locationX>
        <locationY>1814</locationY>
        <collectionReference>Lookup_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Valid_negatives</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Addendum_Workflow_Case_CO</name>
        <label>Create Addendum Workflow Case</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addendum_Alert__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addendum_Type__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Addendum_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Accounts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal Alert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002ftkx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_System_Provider__c</field>
            <value>
                <elementReference>Get_Account_Information.Phone_System_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyN1QAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Request Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Addendum - Service Change Actions Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Support: Service Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Addendum_Workflow_Case_NO</name>
        <label>Create Addendum Workflow Case</label>
        <locationX>2954</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addendum_Alert__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addendum_Type__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Addendum_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Accounts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal Alert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002ftkx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_System_Provider__c</field>
            <value>
                <elementReference>Get_Account_Information.Phone_System_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyN1QAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Request Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Addendum - Service Change Actions Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Support: Service Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_Kristine_CO</name>
        <label>Create Case for Kristine</label>
        <locationX>1634</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Service_Agreement_CO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNI_Status__c</field>
            <value>
                <stringValue>Confirm GA Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Existing Client Setup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0053m00000B9ZvWAAV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123m000001I11fAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_Kristine_NO</name>
        <label>Create Case for Kristine</label>
        <locationX>3746</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Service_Agreement_NO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNI_Status__c</field>
            <value>
                <stringValue>Confirm GA Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Existing Client Setup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0053m00000B9ZvWAAV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123m000001I11fAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Enrollment_Case_1_CO</name>
        <label>Create Enrollment Case</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_Service_Agreement_CO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>New Client Enrollment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002ftkx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_System_Provider__c</field>
            <value>
                <elementReference>Get_Account_Information.Phone_System_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyN1QAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Agreement Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Enrollment_Case_1_NO</name>
        <label>Create Enrollment Case</label>
        <locationX>3218</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Create_Service_Agreement_NO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>New Client Enrollment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002ftkx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_System_Provider__c</field>
            <value>
                <elementReference>Get_Account_Information.Phone_System_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyN1QAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Agreement Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Enrollment_Case_2_CO</name>
        <label>Create Enrollment Case 2</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <assignRecordIdToReference>varEnrollmentCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Service_Agreement_CO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002ftkx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_System_Provider__c</field>
            <value>
                <elementReference>Get_Account_Information.Phone_System_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyN1QAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Enrollment_Case_2_NO</name>
        <label>Create Enrollment Case 2</label>
        <locationX>2690</locationX>
        <locationY>1406</locationY>
        <assignRecordIdToReference>varEnrollmentCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Service_Agreement_NO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002ftkx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_System_Provider__c</field>
            <value>
                <elementReference>Get_Account_Information.Phone_System_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyN1QAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Enrollment_Case_CO</name>
        <label>Create Enrollment Case</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_Service_Agreement_CO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>New Client Enrollment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002ftkx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_System_Provider__c</field>
            <value>
                <elementReference>Get_Account_Information.Phone_System_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyN1QAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Agreement Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Enrollment_Case_NO</name>
        <label>Create Enrollment Case</label>
        <locationX>2162</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Create_Service_Agreement_NO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>New Client Enrollment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002ftkx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_System_Provider__c</field>
            <value>
                <elementReference>Get_Account_Information.Phone_System_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyN1QAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Agreement Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Agreement</name>
        <label>Create Service Agreement</label>
        <locationX>2976</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Opportunity_With_Service_Agreement</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Share_Fixed_Amount__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_to_Share_Fixed_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Share_Fixed_Frequency__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_to_Share_Fixed_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Account__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Share_Account__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_To_Share_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Share_Percentage__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_to_Share_Percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Processed__c</field>
            <value>
                <elementReference>forCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discovery_Notes__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Discovery_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Features_of_Interest__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Features_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity_Change_Type__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Account_Information.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_for_Expansion__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Opportunity_for_Expansion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Solution_Sub_Source__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Previous_Solution_Sub_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Solution__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Previous_Solution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Location__c</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_the_Client_Objectives__c</field>
            <value>
                <elementReference>Look_up_Opportunity.What_are_the_Client_Objectives__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_the__c</field>
            <value>
                <elementReference>Look_up_Opportunity.What_are_the_Customer_Challenges__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Agreement_NO</name>
        <label>Create Service Agreement</label>
        <locationX>3086</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Update_Service_Agreement_NO</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Share_Fixed_Amount__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_to_Share_Fixed_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Share_Fixed_Frequency__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_to_Share_Fixed_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Account__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Share_Account__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_To_Share_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Share_Percentage__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_to_Share_Percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Case__c</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discovery_Notes__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Discovery_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Case__c</field>
            <value>
                <elementReference>varEnrollmentCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Features_of_Interest__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Features_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity_Change_Type__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Look_up_Opportunity.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_for_Expansion__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Opportunity_for_Expansion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Opportunity__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Solution_Sub_Source__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Previous_Solution_Sub_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Location__c</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_the_Client_Objectives__c</field>
            <value>
                <elementReference>Look_up_Opportunity.What_are_the_Client_Objectives__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_the__c</field>
            <value>
                <elementReference>Look_up_Opportunity.What_are_the_Customer_Challenges__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Support_Case_1_CO</name>
        <label>Create Support Case</label>
        <locationX>1370</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Service_Agreement_CO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>2F0053m00000B9ZvWAAV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyNQQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Request Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Support: Service Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Support_Case_1_NO</name>
        <label>Create Support Case</label>
        <locationX>3482</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Service_Agreement_NO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>2F0053m00000B9ZvWAAV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyNQQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Request Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Support: Service Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Support_Case_2_CO</name>
        <label>Create Support Case 2</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Enrollment_Case_2_CO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Charge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002fvHt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyNQQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Request Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Support Service Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Support_Case_2_NO</name>
        <label>Create Support Case 2</label>
        <locationX>2690</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Enrollment_Case_2_NO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Charge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002fvHt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyNQQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Request Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Support Service Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Support_Case_CO</name>
        <label>Create Support Case</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Service_Agreement_CO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002fvHt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyNQQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Request Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Support: Service Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Support_Case_NO</name>
        <label>Create Support Case</label>
        <locationX>2426</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Service_Agreement_NO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002fvHt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyNQQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Request Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Support: Service Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Information</name>
        <label>Get Account Information</label>
        <locationX>2580</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_Record_Type_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look_up_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Service_Agreement_Products</name>
        <label>Get Current Service Agreement Products</label>
        <locationX>3240</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CallRevu_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Agreement_Products__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_up_Opportunity</name>
        <label>Look up Opportunity</label>
        <locationX>2580</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_Record_Type_Name</name>
        <label>Look Up Record Type Name</label>
        <locationX>2580</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Opportunity_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look_up_Opportunity.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity_Line_Items</name>
        <label>Lookup Opportunity Line Items</label>
        <locationX>2580</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_or_Changed_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Processed</name>
        <label>Update Opportunity Processed</label>
        <locationX>974</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Processed__c</field>
            <value>
                <elementReference>forCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_With_Service_Agreement</name>
        <label>Update Opportunity With Service Agreement</label>
        <locationX>2976</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Service_Agreement_With_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OpportunityLineItem</name>
        <label>Update OpportunityLineItem</label>
        <locationX>974</locationX>
        <locationY>2414</locationY>
        <inputReference>varOpportunityLineItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Agreement_CO</name>
        <label>Update Service Agreement</label>
        <locationX>974</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Update_Opportunity_Processed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_to_Account__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Share_Account__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_To_Share_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Case__c</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Processed__c</field>
            <value>
                <elementReference>forCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discovery_Notes__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Discovery_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Case__c</field>
            <value>
                <elementReference>varEnrollmentCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Features_of_Interest__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Features_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_for_Expansion__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Opportunity_for_Expansion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Solution_Sub_Source__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Previous_Solution_Sub_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_the_Client_Objectives__c</field>
            <value>
                <elementReference>Look_up_Opportunity.What_are_the_Client_Objectives__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_the__c</field>
            <value>
                <elementReference>Look_up_Opportunity.What_are_the_Customer_Challenges__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Agreement_NO</name>
        <label>Update Service Agreement</label>
        <locationX>3086</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Loop_Opportunity_Products_NO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_to_Account__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Share_Account__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Bill_To_Share_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Case__c</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Processed__c</field>
            <value>
                <elementReference>forCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discovery_Notes__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Discovery_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Case__c</field>
            <value>
                <elementReference>varEnrollmentCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Features_of_Interest__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Features_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_for_Expansion__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Opportunity_for_Expansion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Solution_Sub_Source__c</field>
            <value>
                <elementReference>Look_up_Opportunity.Previous_Solution_Sub_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_the_Client_Objectives__c</field>
            <value>
                <elementReference>Look_up_Opportunity.What_are_the_Client_Objectives__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_the__c</field>
            <value>
                <elementReference>Look_up_Opportunity.What_are_the_Customer_Challenges__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Agreement_With_Case</name>
        <label>Update Service Agreement With Case</label>
        <locationX>2976</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Service_Agreement</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Case__c</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>Default_Error_Message</name>
        <label>Default Error Message</label>
        <locationX>3504</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <fields>
            <name>ErrorMesssage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;You have not met the criteria to create or update a service agreement.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;New Agreement Requirements&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Type = &quot;New&quot;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Sevices Agreement is Blank - there should not be one.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Opportunity Stage = Closed Won&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Bill-to Account&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Change Agreement Requirements&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Type is not equal to New&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Service Agreement is not Blank - There must be one for a  change or update&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Opportunity Stege = Closed Won&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Bill-to Account&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_With_Service_Agreement_1</name>
        <label>New With Service Agreement</label>
        <locationX>2712</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <fields>
            <name>NewWithServiceAgreement</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(204, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;You Can Not Process a New Opportunity With a Current Service Agreement.  You Must Change The Order Type to Modify a Current Service Agreement, or if it is a New Opportunity, You Can Not Reference a Current Service Agreement.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Authorized</name>
        <label>Not Authorized</label>
        <locationX>1656</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <fields>
            <name>NotAuthorizedMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(204, 0, 51);&quot;&gt;You Are Not Authorized To Maintain Service Agreements.  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(204, 0, 51);&quot;&gt;See Your Administrator.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Closed_Won_Opportunity</name>
        <label>Not Closed Won Opportunity</label>
        <locationX>2448</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <fields>
            <name>NotClosedWon</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(204, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Opportunity Must Be Closed Won to Process&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Already_Processed</name>
        <label>Opportunity Already Processed</label>
        <locationX>1920</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <fields>
            <name>OpportunityAlreadyProcessed</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(204, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This Opportunity Has Already Been Processed.  You Can Not Process It Again.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>You_Must_Have_a_Bill_to_Account</name>
        <label>You Must Have a Bill-to Account</label>
        <locationX>2184</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <fields>
            <name>BilltoMissing</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Arial; color: rgb(204, 0, 0);&quot;&gt;You Must Have a Bill-to Account To Process an Opportunity.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2454</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Look_up_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEnrollmentCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOpporunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
