force-app/main/default/flows/Create_Case_with_Email_Carryover_QC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Do_emails_exist</name>
        <label>Do emails exist</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Email_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Emails exist</defaultConnectorLabel>
        <rules>
            <name>emails_do_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>emails do not exist</label>
        </rules>
    </decisions>
    <description>QC Support Specific</description>
    <environments>Default</environments>
    <formulas>
        <name>HtmlBodyMax32K</name>
        <dataType>String</dataType>
        <expression>LEFT({!varCaseEmail.HtmlBody}, 32000)</expression>
    </formulas>
    <formulas>
        <name>varDescriptionOfIssueFORM</name>
        <dataType>String</dataType>
        <expression>&quot;DESCRIPTION OF ISSUE: &quot;&amp;{!varDescriptionOfIssue}&amp;&quot;SUBJECT: &quot;&amp; {!varSubject} &amp;&quot;DESCRIPTION: &quot;&amp;{!varDescription}</expression>
    </formulas>
    <interviewLabel>Create Case with Email Carryover - QC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case with Email Carryover - QC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message</name>
        <label>Create Email Message</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>varCaseEmail.CcAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>varCaseEmail.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>varCaseEmail.FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>HtmlBodyMax32K</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoming</field>
            <value>
                <elementReference>varCaseEmail.Incoming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>varCaseEmail.MessageDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varNewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>varCaseEmail.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varCaseEmail.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>varCaseEmail.TextBody</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>varNewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Email_Message_for_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Action__c</field>
            <value>
                <elementReference>varCategoryAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Issue__c</field>
            <value>
                <elementReference>varDescriptionOfIssueFORM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>varCaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Create_Date__c</field>
            <value>
                <elementReference>varCreateDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1N000002fu3a</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>varPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001HyNLQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>varServiceAgreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>varCaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL_Link__c</field>
            <value>
                <elementReference>varURLLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Item_Link__c</field>
            <value>
                <elementReference>varWorkItemLink</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Email_Message_for_Case</name>
        <label>Lookup Email Message for Case</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_emails_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>varCaseEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CcAddress</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>FromAddress</queriedFields>
        <queriedFields>FromName</queriedFields>
        <queriedFields>HtmlBody</queriedFields>
        <queriedFields>Incoming</queriedFields>
        <queriedFields>MessageDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>TextBody</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActionableItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBrowserUsed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCategoryAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreateDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDescriptionOfIssue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDiscoveryMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLevelOfService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varServiceAgreement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varURLLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkItemLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
