force-app/main/default/flows/Delayed_Cadence_Delete_Cadence_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Cadence_Tasks_are_Found</name>
        <label>Cadence Tasks are Found</label>
        <locationX>374</locationX>
        <locationY>251</locationY>
        <defaultConnectorLabel>Cadence Tasks Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Cadence_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCadenceTaskID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteCadenceActivityTasks</targetReference>
            </connector>
            <label>Found Cadence Tasks</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delayed Cadence - Delete Cadence Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delayed Cadence - Delete Cadence Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteCadenceActivityTasks</name>
        <label>DeleteCadenceActivityTasks</label>
        <locationX>375</locationX>
        <locationY>383</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cadence_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordDeletes>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>372</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCadenceTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>GetCadenceTasks</name>
        <label>GetCadenceTasks</label>
        <locationX>372</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cadence_Tasks_are_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cadence_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>VarCadenceTaskID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarCadenceTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
