force-app/main/default/flows/deleteOppProductUseCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <description>v53 api version</description>
    <environments>Default</environments>
    <formulas>
        <name>salesPricetoRemove</name>
        <dataType>Number</dataType>
        <expression>-1 * {!$Record.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>deleteOppProductUseCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>deleteOppProductUseCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getParentOpp</name>
        <label>getParentOpp</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>udpateParentOppMRR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getParentOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MRR_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>udpateParentOppMRR</name>
        <label>udpateParentOppMRR</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <flowName>manageOppProductMRRAmount</flowName>
        <inputAssignments>
            <name>thisParentOpportunity</name>
            <value>
                <elementReference>getParentOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>totalMRRPrice</name>
            <value>
                <elementReference>salesPricetoRemove</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
