force-app/main/default/flows/Flow_CallRevu_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>578</locationX>
        <locationY>5699</locationY>
        <actionName>CallRevu_Lead__c.Send_New_CallRevu_Lead_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CallRevu_Lead__c.Send_New_CallRevu_Lead_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_CallRevu_Lead_Owner</name>
        <label>Send Email to CallRevu Lead Owner</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>CallRevu_Lead__c.Send_New_CallRevu_Lead_Owner_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Evaluate_Resend_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CallRevu_Lead__c.Send_New_CallRevu_Lead_Owner_Email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_CallRevu_Lead_Owner_0</name>
        <label>Send Email to CallRevu Lead Owner</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <actionName>CallRevu_Lead__c.Send_New_CallRevu_Lead_Owner_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Email_Alert_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CallRevu_Lead__c.Send_New_CallRevu_Lead_Owner_Email</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_value_to_Contact</name>
        <label>Assign value to Contact</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varContact01.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact01.CallRevu_Lead_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_create_a_new_opportunity</name>
        <label>Assign values to create a new opportunity</label>
        <locationX>446</locationX>
        <locationY>3935</locationY>
        <assignmentItems>
            <assignToReference>varNewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varToday1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 - Sales Qualified Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.CallRevu_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Create_Contact_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.ForecastCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Next_Steps__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Opportunity_Lead_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CallRevu_Lead_Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Opportunity_Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CallRevu_Lead_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Opportunity_Lead_Sub_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CallRevu_Lead_Sub_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CallRevu_Lead_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Referral_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referral_Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Sales_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Reporting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOpportunity.Tier_2_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tier_2_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_new_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_create_a_new_task</name>
        <label>Assign values to create a new task</label>
        <locationX>578</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>varTask01.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.Cadence_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadenceTask01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send CQL Email #1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_new_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_create_a_new_task_0</name>
        <label>Assign values to create a new task</label>
        <locationX>578</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>varTask02.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.Cadence_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadenceTask02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Soft MQL Email #1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_new_task_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_create_a_new_task_0_0</name>
        <label>Assign values to create a new task</label>
        <locationX>578</locationX>
        <locationY>3527</locationY>
        <assignmentItems>
            <assignToReference>varTask03.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.Cadence_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCadenceTask03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Make Hard MQL Call #1 and Leave Hard MQL VM #1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_new_task_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_update_contact</name>
        <label>Assign values to update contact</label>
        <locationX>446</locationX>
        <locationY>4259</locationY>
        <assignmentItems>
            <assignToReference>varContact02.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact02.Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLifecycleStage01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact02.Stop_Cadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_update_contact_0</name>
        <label>Assign values to update contact</label>
        <locationX>578</locationX>
        <locationY>4775</locationY>
        <assignmentItems>
            <assignToReference>varContact03.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact03.Lifecycle_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLifecycleStage02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact02.Stop_Cadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_0</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>710</locationX>
        <locationY>4151</locationY>
        <customErrorMessages>
            <errorMessage>The opportunity cannot be created, because the CallRevu Lead Owner field is empty.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Account_is_Blank_on_Lead_Not_on_Contact</name>
        <label>Account is Blank on Lead/Not on Contact</label>
        <locationX>710</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>CallRevu_Lead_Grading</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_from_Contact</targetReference>
            </connector>
            <label>Account is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>CallRevu_Lead_Auto_Assignment</name>
        <label>CallRevu Lead Auto Assignment</label>
        <locationX>710</locationX>
        <locationY>5183</locationY>
        <defaultConnector>
            <targetReference>Changed_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CallRevu_Lead_Auto_Assignment_0</name>
            <conditionLogic>1 AND 2 AND 5 AND 6 AND(7 OR 8) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manual_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CQL_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRLead_Auto_Assign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Lead (CQL)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Lead (MQL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_to_Account_Owner</targetReference>
            </connector>
            <label>CallRevu Lead Auto Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>CallRevu_Lead_Grading</name>
        <label>CallRevu Lead Grading</label>
        <locationX>710</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Is_Start_CQL_Cadence_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Score_999</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Score2__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>999.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CallRevu_Lead_Grade</targetReference>
            </connector>
            <label>Score &gt;= 999</label>
        </rules>
        <rules>
            <name>Score_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Score2__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Score2__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>999.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CallRevu_Lead_Grade_0</targetReference>
            </connector>
            <label>Score &gt;= 100</label>
        </rules>
        <rules>
            <name>Score_70</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Score2__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Score2__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CallRevu_Lead_Grade_0_0</targetReference>
            </connector>
            <label>Score &gt;= 70</label>
        </rules>
        <rules>
            <name>Score_69</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Score2__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>69.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CallRevu_Lead_Grade_0_0_0</targetReference>
            </connector>
            <label>Score &lt;= 69</label>
        </rules>
        <rules>
            <name>No_Score</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Score2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CallRevu_Lead_Grade_0_0_0_0</targetReference>
            </connector>
            <label>No Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_owner</name>
        <label>Changed owner?</label>
        <locationX>710</locationX>
        <locationY>5483</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner</targetReference>
            </connector>
            <label>Owner is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_status_to_SQL</name>
        <label>Changed status to SQL?</label>
        <locationX>710</locationX>
        <locationY>3827</locationY>
        <defaultConnector>
            <targetReference>Changed_Status_to_Unqualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_changed_to_SQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Opportunity (SQL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_create_a_new_opportunity</targetReference>
            </connector>
            <label>Status changed to SQL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_Status_to_Unqualified</name>
        <label>Changed Status to Unqualified</label>
        <locationX>710</locationX>
        <locationY>4559</locationY>
        <defaultConnector>
            <targetReference>Get_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changes_to_Unqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bad Lead/Unqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unqualified_Date</targetReference>
            </connector>
            <label>Status Changes to Unqualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Resend_Email_Alert</name>
        <label>Evaluate Resend Email Alert</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Account_is_Blank_on_Lead_Not_on_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resend_Email_Alert_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Resend_Email_Alert__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resend_Email_Alert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0123m000000U9RoAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_CallRevu_Lead_Owner_0</targetReference>
            </connector>
            <label>Resend Email Alert is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Resend_Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Record</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Owner__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Kristie Jaecklein</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Owner__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Emily Roberts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CQL_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0123m000000U9RoAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_CallRevu_Lead_Owner</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Start_CQL_Cadence_true</name>
        <label>Is Start CQL Cadence true?</label>
        <locationX>710</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Is_Start_SOFT_MQL_Cadence_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Star CQL Cadence False</defaultConnectorLabel>
        <rules>
            <name>Star_CQL_Cadence_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_CQL_Cadence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CallRevu_Lead_Start_CQL_Cadence</targetReference>
            </connector>
            <label>Star CQL Cadence True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Start_MQL_Cadence_HARD_true</name>
        <label>Is Start MQL Cadence - HARD true?</label>
        <locationX>710</locationX>
        <locationY>3203</locationY>
        <defaultConnector>
            <targetReference>Changed_status_to_SQL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Start MQL Cadence - HARD false</defaultConnectorLabel>
        <rules>
            <name>Start_MQL_Cadence_HARD_true</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND (6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_MQL_Cadence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CallRevu.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Show/Convention</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webinar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DNI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schedule Demo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>More Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facebook Ad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LinkedIn Ad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Display</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PPC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Us</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NADA Pre Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NADA Post Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20 Group</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAAS Summit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driving Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DMSC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OEM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue> Auto Success Magazine </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue> Automotive News </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CallRevu Webinar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CallRevu_Lead_Create_MQL_Cadence_0</targetReference>
            </connector>
            <label>Start MQL Cadence - HARD true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Start_SOFT_MQL_Cadence_True</name>
        <label>Is Start SOFT MQL Cadence True?</label>
        <locationX>710</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>Is_Start_MQL_Cadence_HARD_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Start SOFT MQL Cadence False</defaultConnectorLabel>
        <rules>
            <name>Start_SOFT_MQL_Cadence_True</name>
            <conditionLogic>1 AND  (2 OR 3) AND (4 OR 5) AND (6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_MQL_Cadence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web Form/HubSpot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CallRevu.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Material Download</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Score Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZoomInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CallRevu_Lead_Create_MQL_Cadence</targetReference>
            </connector>
            <label>Start SOFT MQL Cadence True</label>
        </rules>
    </decisions>
    <description>Added CQL alert exclusion</description>
    <environments>Default</environments>
    <formulas>
        <name>varCadenceTask01</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Cadence_Task_Id.Id}),NULL,{!Get_Cadence_Task_Id.Id})</expression>
    </formulas>
    <formulas>
        <name>varCadenceTask02</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Cadence_Task_Id_0.Id}),NULL,{!Get_Cadence_Task_Id_0.Id})</expression>
    </formulas>
    <formulas>
        <name>varCadenceTask03</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Cadence_Task_Id_0_0.Id}),NULL,{!Get_Cadence_Task_Id_0_0.Id})</expression>
    </formulas>
    <formulas>
        <name>varCallRevuName</name>
        <dataType>String</dataType>
        <expression>LEFT(IF(!ISBLANK({!$Record.Account__c}),{!$Record.Account__r.Name}&amp;&quot; - &quot;,&quot;&quot;) &amp;{!$Record.Contact__r.FirstName}&amp;&quot; &quot;&amp;{!$Record.Contact__r.LastName}&amp;&quot; - &quot;&amp;TEXT({!$Record.Lead_Type__c}), 80)</expression>
    </formulas>
    <formulas>
        <name>varCQLDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(AND(ISNEW(),TEXT({!$Record.Status__c}) = &quot;Sales Lead (CQL)&quot;), NOW(), {!$Record.CQL_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>varDateClosed</name>
        <dataType>Date</dataType>
        <expression>IF(AND(ISCHANGED({!$Record.Status__c}), OR(CONTAINS(TEXT({!$Record.Status__c}),&quot;Closed Won&quot;), CONTAINS(TEXT({!$Record.Status__c}),&quot;Closed Lost&quot;))), TODAY(),{!$Record.Date_Closed__c})</expression>
    </formulas>
    <formulas>
        <name>varDuplicateDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISCHANGED({!$Record.Status__c})&amp;&amp;TEXT({!$Record.Status__c})=&quot;Duplicate&quot;,NOW(), {!$Record.Duplicate_Date__c})</expression>
    </formulas>
    <formulas>
        <name>varInitialResponseDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISCHANGED({!$Record.Status__c})&amp;&amp;TEXT({!$Record.Status__c})=&quot;In Progress&quot;,NOW(), {!$Record.Initial_Response_Date_Time__c} )</expression>
    </formulas>
    <formulas>
        <name>varInProgress</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISCHANGED({!$Record.Status__c})&amp;&amp;TEXT({!$Record.Status__c})=&quot;In Progress&quot;,NOW(), {!$Record.In_Progress_Date__c})</expression>
    </formulas>
    <formulas>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varLifecycleStage01</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Lead_Type__c}) = &apos;Current Client&apos;, &apos;Customer&apos;, &apos;Sales Qualified Lead&apos;)</expression>
    </formulas>
    <formulas>
        <name>varLifecycleStage02</name>
        <dataType>String</dataType>
        <expression>IF(AND(!ISBLANK({!$Record.Account_Status__c}), {!$Record.Account_Status__c} = &apos;Current Client&apos;), &apos;Customer&apos;, &apos;Lead&apos;)</expression>
    </formulas>
    <formulas>
        <name>varMQLDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(AND(ISNEW(),TEXT({!$Record.Status__c}) = &quot;Marketing Lead (MQL)&quot;), NOW(), {!$Record.MQL_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>varNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>varOpportunityRecordType</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Opportunity_Record_Type__c}, &apos;Vision&apos;), &apos;0123m000001I17EAAS&apos;, IF(ISPICKVAL({!$Record.Opportunity_Record_Type__c}, &apos;Tier 2&apos;), &apos;0121N0000012oWeQAI&apos;, IF(ISPICKVAL({!$Record.Opportunity_Record_Type__c}, &apos;Tier 2 Change Order&apos;), &apos;0123m000001M95fAAC&apos;, IF(ISPICKVAL({!$Record.Opportunity_Record_Type__c}, &apos;Partnership&apos;), &apos;0123m000000U9OVAA0&apos;, IF(ISPICKVAL({!$Record.Opportunity_Record_Type__c}, &apos;Repackage Change Order&apos;), &apos;0123m000001Dy9FAAS&apos;, &apos;0123m000001I17EAAS&apos;)))))</expression>
    </formulas>
    <formulas>
        <name>varSQLDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISCHANGED({!$Record.Status__c})&amp;&amp;TEXT({!$Record.Status__c})=&quot;New Opportunity&quot;,NOW(),{!$Record.SQL_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>varToday1</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>varUnqualifiedDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISCHANGED({!$Record.Status__c})&amp;&amp;TEXT({!$Record.Status__c})=&quot;Bad/Unqualified&quot;,TODAY(), {!$Record.Unqualified_Date__c})</expression>
    </formulas>
    <formulas>
        <name>varUser</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_user.Id}),NULL,{!Get_user.Id})</expression>
    </formulas>
    <formulas>
        <name>varWarmDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISCHANGED({!$Record.Status__c})&amp;&amp;TEXT({!$Record.Status__c})=&quot;Warm Lead&quot;,NOW(), {!$Record.Warm_Date__c} )</expression>
    </formulas>
    <interviewLabel>Flow CallRevu Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow CallRevu Lead Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_new_opportunity</name>
        <label>Create a new opportunity</label>
        <locationX>446</locationX>
        <locationY>4043</locationY>
        <connector>
            <targetReference>Update_CallRevu_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>varNewOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_a_new_task</name>
        <label>Create a new task</label>
        <locationX>578</locationX>
        <locationY>2387</locationY>
        <connector>
            <targetReference>Is_Start_SOFT_MQL_Cadence_True</targetReference>
        </connector>
        <inputReference>varTask01</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_a_new_task_0</name>
        <label>Create a new task</label>
        <locationX>578</locationX>
        <locationY>3011</locationY>
        <connector>
            <targetReference>Is_Start_MQL_Cadence_HARD_true</targetReference>
        </connector>
        <inputReference>varTask02</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_a_new_task_0_0</name>
        <label>Create a new task</label>
        <locationX>578</locationX>
        <locationY>3635</locationY>
        <connector>
            <targetReference>Changed_status_to_SQL</targetReference>
        </connector>
        <inputReference>varTask03</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cadence_Task_Id</name>
        <label>Get Cadence Task Id</label>
        <locationX>578</locationX>
        <locationY>2171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_to_create_a_new_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send CQL Email #1 - FY23</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cadence_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cadence_Task_Id_0</name>
        <label>Get Cadence Task Id</label>
        <locationX>578</locationX>
        <locationY>2795</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_to_create_a_new_task_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send Soft MQL Email #1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cadence_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cadence_Task_Id_0_0</name>
        <label>Get Cadence Task Id</label>
        <locationX>578</locationX>
        <locationY>3419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_to_create_a_new_task_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Make Hard MQL Call #1 and Leave Hard MQL VM #1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cadence_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user</name>
        <label>Get user</label>
        <locationX>710</locationX>
        <locationY>5075</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CallRevu_Lead_Auto_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tasha Willingham</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_from_Contact</name>
        <label>Update Account from Contact</label>
        <locationX>578</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>CallRevu_Lead_Grading</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CallRevu_Lead</name>
        <label>Update CallRevu Lead</label>
        <locationX>446</locationX>
        <locationY>4151</locationY>
        <connector>
            <targetReference>Assign_values_to_update_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_Created_Date__c</field>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CallRevu_Lead_Create_MQL_Cadence</name>
        <label>Update CallRevu Lead Create MQL Cadence</label>
        <locationX>578</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Get_Cadence_Task_Id_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Create_MQL_Cadence__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CallRevu_Lead_Create_MQL_Cadence_0</name>
        <label>Update CallRevu Lead Create MQL Cadence</label>
        <locationX>578</locationX>
        <locationY>3311</locationY>
        <connector>
            <targetReference>Get_Cadence_Task_Id_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Create_MQL_Cadence__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CallRevu_Lead_Grade</name>
        <label>Update CallRevu Lead Grade</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Is_Start_CQL_Cadence_true</targetReference>
        </connector>
        <inputAssignments>
            <field>CallRevu_Lead_Grade__c</field>
            <value>
                <stringValue>A+</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CallRevu_Lead_Grade_0</name>
        <label>Update CallRevu Lead Grade</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Is_Start_CQL_Cadence_true</targetReference>
        </connector>
        <inputAssignments>
            <field>CallRevu_Lead_Grade__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CallRevu_Lead_Grade_0_0</name>
        <label>Update CallRevu Lead Grade</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Is_Start_CQL_Cadence_true</targetReference>
        </connector>
        <inputAssignments>
            <field>CallRevu_Lead_Grade__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CallRevu_Lead_Grade_0_0_0</name>
        <label>Update CallRevu Lead Grade</label>
        <locationX>842</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Is_Start_CQL_Cadence_true</targetReference>
        </connector>
        <inputAssignments>
            <field>CallRevu_Lead_Grade__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CallRevu_Lead_Grade_0_0_0_0</name>
        <label>Update CallRevu Lead Grade</label>
        <locationX>1106</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Is_Start_CQL_Cadence_true</targetReference>
        </connector>
        <inputAssignments>
            <field>CallRevu_Lead_Grade__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CallRevu_Lead_Start_CQL_Cadence</name>
        <label>Update CallRevu Lead Start CQL Cadence</label>
        <locationX>578</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Get_Cadence_Task_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Start_CQL_Cadence__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>578</locationX>
        <locationY>5591</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>CallRevu_Lead_Owner_Email__c</field>
            <value>
                <elementReference>$Record.CallRevu_Lead_Owner__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>446</locationX>
        <locationY>4367</locationY>
        <connector>
            <targetReference>Changed_Status_to_Unqualified</targetReference>
        </connector>
        <inputReference>varContact02</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_0</name>
        <label>Update Contact</label>
        <locationX>578</locationX>
        <locationY>4883</locationY>
        <connector>
            <targetReference>Get_user</targetReference>
        </connector>
        <inputReference>varContact03</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_record</name>
        <label>Update contact record</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <inputReference>varContact01</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Alert_Sent</name>
        <label>Update Email Alert Sent</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Account_is_Blank_on_Lead_Not_on_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Alert_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_to_Account_Owner</name>
        <label>Update Owner to Account Owner</label>
        <locationX>578</locationX>
        <locationY>5291</locationY>
        <connector>
            <targetReference>Changed_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>CallRevu_Lead_Owner_Email__c</field>
            <value>
                <elementReference>$Record.Account__r.Owner.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallRevu_Lead_Owner__c</field>
            <value>
                <elementReference>$Record.Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_without_conditions</name>
        <label>Update Records without conditions</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Assign_value_to_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CQL_Date_Time__c</field>
            <value>
                <elementReference>varCQLDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Closed__c</field>
            <value>
                <elementReference>varDateClosed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duplicate_Date__c</field>
            <value>
                <elementReference>varDuplicateDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Progress_Date__c</field>
            <value>
                <elementReference>varInProgress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Response_Date_Time__c</field>
            <value>
                <elementReference>varInitialResponseDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Date_Time__c</field>
            <value>
                <elementReference>varMQLDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varCallRevuName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SQL_Date_Time__c</field>
            <value>
                <elementReference>varSQLDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Date__c</field>
            <value>
                <elementReference>varUnqualifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warm_Date__c</field>
            <value>
                <elementReference>varWarmDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unqualified_Date</name>
        <label>Update Unqualified Date</label>
        <locationX>578</locationX>
        <locationY>4667</locationY>
        <connector>
            <targetReference>Assign_values_to_update_contact_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Unqualified_Date__c</field>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Records_without_conditions</targetReference>
        </connector>
        <object>CallRevu_Lead__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varContact01</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContact02</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContact03</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varNewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varTask01</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTask02</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTask03</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
