force-app/main/default/flows/Flow_Account_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_values_to_child_records</name>
        <label>Assign values to child records</label>
        <locationX>270</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>varContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Child_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.TP_Target_Week_text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TP_Target_Week_text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Variable</name>
        <label>Assign Values to Variable</label>
        <locationX>270</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>varContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Child_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_status</name>
        <label>Check Account status</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Update_without_conditions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPemantlyClosed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dealer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanently Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete - Dealer Too Small</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete - Outside of US/CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete - Outside of Core business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Owner</targetReference>
            </connector>
            <label>IsPemantlyClosed</label>
        </rules>
        <rules>
            <name>Buy_Sell_Permanently_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dealer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buy/Sell - Permanently Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Checkbox</targetReference>
            </connector>
            <label>Buy/Sell Permanently Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Channel_type_field</name>
        <label>Check Channel type field</label>
        <locationX>314</locationX>
        <locationY>2147</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Channel_type_field_is_changed_and_Mid_Major</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Channel_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid Major (&gt;0-20)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Mid_Major_field_on_Account_Owner_Profile</targetReference>
            </connector>
            <label>Channel type field is changed and Mid Major</label>
        </rules>
        <rules>
            <name>Channel_type_field_is_changed_and_Major</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Channel_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major (&gt;20)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Major_field_on_Account_Owner_Profile</targetReference>
            </connector>
            <label>Channel type field is changed and Major</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNew_Account</name>
        <label>isNew Account</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Account_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Territory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateTerritory</targetReference>
            </connector>
            <label>is New Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Condition_2</name>
        <label>Start Condition 2</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Start_Conditions_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Has_TP_Week</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTPTargetWeekText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Contacts</targetReference>
            </connector>
            <label>Account Has TP Week</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Conditions_3</name>
        <label>Start Conditions 3</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Check_Channel_type_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>State_of_Incorporation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State_of_Incorporation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121N000001TIw9QAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_State_of_Incorporation</targetReference>
            </connector>
            <label>State of Incorporation</label>
        </rules>
    </decisions>
    <description>Fixed North Dakota, trailing spaces. + territory update check</description>
    <environments>Default</environments>
    <formulas>
        <name>varCallRevuClientAccountStatus</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Tier_3_Active_Agreements__c} &gt; 0 &amp;&amp; {!$Record.Tier_3_Inactive_Agreements__c} &gt;= 0, &apos;Current Client&apos;, IF({!$Record.Tier_3_Active_Agreements__c} = 0 &amp;&amp; {!$Record.Tier_3_Inactive_Agreements__c} &gt; 0, &apos;Former Client&apos;, IF({!$Record.Tier_3_Active_Agreements__c} = 0 &amp;&amp; {!$Record.Tier_3_Inactive_Agreements__c} = 0, &apos;Prospect&apos;, NULL)))</expression>
    </formulas>
    <formulas>
        <name>varCallSource</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Tier_1_Active_Service_Agreement__c} &gt;= 1 &amp;&amp; {!$Record.Tier_1_Inactive_Service_Agreements__c} &gt;= 0, &apos;Current Client&apos;, IF({!$Record.Tier_1_Active_Service_Agreement__c} = 0 &amp;&amp; {!$Record.Tier_1_Inactive_Service_Agreements__c} &gt; 0, &apos;Former Client&apos;, IF({!$Record.Tier_1_Active_Service_Agreement__c} = 0 &amp;&amp; {!$Record.Tier_1_Inactive_Service_Agreements__c} = 0, &apos;Prospect&apos;, NULL)))</expression>
    </formulas>
    <formulas>
        <name>varCallSourceChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.CallSource_Active__c})</expression>
    </formulas>
    <formulas>
        <name>varCallSourceClientAccountStatus</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CallSource_Active__c} &gt;= 1 &amp;&amp; {!$Record.CallSource_Inactive__c} &gt;= 0, &apos;Current Client&apos;, IF({!$Record.CallSource_Active__c} = 0 &amp;&amp; {!$Record.CallSource_Inactive__c} &gt; 0, &apos;Former Client&apos;, IF({!$Record.CallSource_Active__c} = 0 &amp;&amp; {!$Record.CallSource_Inactive__c} = 0, &apos;Prospect&apos;, NULL)))</expression>
    </formulas>
    <formulas>
        <name>varCityStatePhoneKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.BillingCity} + {!$Record.BillingState} + {!$Record.Clean_Phone__c}</expression>
    </formulas>
    <formulas>
        <name>varIsChangedTier1Active</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Tier_1_Active_Service_Agreement__c})</expression>
    </formulas>
    <formulas>
        <name>varIsChangedTier1Inactive</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Tier_1_Inactive_Service_Agreements__c})</expression>
    </formulas>
    <formulas>
        <name>varIsChangedTier2Active</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Tier_2_Active_Agreements__c})</expression>
    </formulas>
    <formulas>
        <name>varIsChangedTier2Inactive</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Tier_2_Inactive_Agreements__c})</expression>
    </formulas>
    <formulas>
        <name>varIsChangedTier3Active</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Tier_3_Active_Agreements__c})</expression>
    </formulas>
    <formulas>
        <name>varIsChangedTier3Inactive</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Tier_3_Inactive_Agreements__c})</expression>
    </formulas>
    <formulas>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varOEMAccountStatus</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Tier_1_Active_Service_Agreement__c} &gt; 0 &amp;&amp; {!$Record.Tier_1_Inactive_Service_Agreements__c} &gt;= 0, &apos;Current Client&apos;, IF({!$Record.Tier_1_Active_Service_Agreement__c} = 0 &amp;&amp; {!$Record.Tier_1_Inactive_Service_Agreements__c} &gt; 0, &apos;Former Client&apos;, IF({!$Record.Tier_1_Active_Service_Agreement__c} = 0 &amp;&amp; {!$Record.Tier_1_Inactive_Service_Agreements__c} = 0, &apos;Prospect&apos;, NULL)))</expression>
    </formulas>
    <formulas>
        <name>varReseller</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Tier_2_Active_Agreements__c} &gt;= 1 &amp;&amp; {!$Record.Tier_2_Inactive_Agreements__c} &gt;= 0, &apos;Current Client&apos;, IF({!$Record.Tier_2_Active_Agreements__c} = 0 &amp;&amp; {!$Record.Tier_2_Inactive_Agreements__c} &gt; 0, &apos;Former Client&apos;, IF({!$Record.Tier_2_Active_Agreements__c} = 0 &amp;&amp; {!$Record.Tier_2_Inactive_Agreements__c} = 0, &apos;Prospect&apos;, NULL)))</expression>
    </formulas>
    <formulas>
        <name>varStateofIncorporation</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.BillingState}, &quot;AL&quot;,&quot;Alabama&quot;, &quot;AK&quot;,&quot;Alaska&quot;, &quot;AZ&quot;,&quot;Arizona&quot;, &quot;AR&quot;,&quot;Arkansas&quot;, &quot;CA&quot;,&quot;California&quot;, &quot;CO&quot;,&quot;Colorado&quot;, &quot;CT&quot;,&quot;Connecticut&quot;, &quot;DE&quot;,&quot;Delaware&quot;, &quot;FL&quot;,&quot;Florida&quot;, &quot;GA&quot;,&quot;Georgia&quot;, &quot;HI&quot;,&quot;Hawaii&quot;, &quot;ID&quot;,&quot;Idaho&quot;, &quot;IL&quot;,&quot;Illinois&quot;, &quot;IN&quot;,&quot;Indiana&quot;, &quot;IA&quot;,&quot;Iowa&quot;, &quot;KS&quot;,&quot;Kansas&quot;, &quot;KY&quot;,&quot;Kentucky&quot;, &quot;LA&quot;,&quot;Louisiana&quot;, &quot;ME&quot;,&quot;Maine&quot;, &quot;MD&quot;,&quot;Maryland&quot;, &quot;MA&quot;,&quot;Massachusetts&quot;, &quot;MI&quot;,&quot;Michigan&quot;, &quot;MN&quot;,&quot;Minnesota&quot;, &quot;MS&quot;,&quot;Mississippi&quot;, &quot;MO&quot;,&quot;Missouri&quot;, &quot;MT&quot;,&quot;Montana&quot;, &quot;NE&quot;,&quot;Nebraska&quot;, &quot;NV&quot;,&quot;Nevada&quot;, &quot;NH&quot;,&quot;New Hampshire&quot;, &quot;NJ&quot;,&quot;New Jersey&quot;, &quot;NM&quot;,&quot;New Mexico&quot;, &quot;NY&quot;,&quot;New York&quot;, &quot;NC&quot;,&quot;North Carolina&quot;, &quot;ND&quot;,&quot;North Dakota&quot;, &quot;OH&quot;,&quot;Ohio&quot;, &quot;OK&quot;,&quot;Oklahoma&quot;, &quot;OR&quot;,&quot;Oregon&quot;, &quot;PA&quot;,&quot;Pennsylvania&quot;, &quot;RI&quot;,&quot;Rhode Island&quot;, &quot;SC&quot;,&quot;South Carolina&quot;, &quot;SD&quot;,&quot;South Dakota&quot;, &quot;TN&quot;,&quot;Tennessee&quot;, &quot;TX&quot;,&quot;Texas&quot;, &quot;UT&quot;,&quot;Utah&quot;, &quot;VT&quot;,&quot;Vermont&quot;, &quot;VA&quot;,&quot;Virginia&quot;, &quot;WA&quot;,&quot;Washington&quot;, &quot;WV&quot;,&quot;West Virginia&quot;, &quot;WI&quot;,&quot;Wisconsin&quot;, &quot;WY&quot;,&quot;Wyoming&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varStreetAddressPhone</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.BillingStreet}, 10) + {!$Record.Clean_Phone__c}</expression>
    </formulas>
    <formulas>
        <name>varTPTargetWeekText</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.TP_Target_Week_text__c})</expression>
    </formulas>
    <interviewLabel>Flow Account Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Account Object</label>
    <loops>
        <name>Loop_Account_Child_Records</name>
        <label>Loop Account Child Records</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_Child_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_child_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Contacts</name>
        <label>Get Child Contacts</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Account_Child_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Update_without_conditions</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051N000006LkkhQAC</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Checkbox</name>
        <label>Update Checkbox</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Update_without_conditions</targetReference>
        </connector>
        <inputAssignments>
            <field>Not_Eligible_for_Delete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051N000006LkkhQAC</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_Records</name>
        <label>Update Child Records</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Start_Conditions_3</targetReference>
        </connector>
        <inputReference>varContacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Major_field_on_Account_Owner_Profile</name>
        <label>Update Major field on Account Owner Profile</label>
        <locationX>314</locationX>
        <locationY>2255</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Major_Account_Owner__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Mid_Major_field_on_Account_Owner_Profile</name>
        <label>Update Mid Major field on Account Owner Profile</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mid_Major_Account_Owner__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_State_of_Incorporation</name>
        <label>Update State of Incorporation</label>
        <locationX>182</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Check_Channel_type_field</targetReference>
        </connector>
        <inputAssignments>
            <field>State_of_Incorporation__c</field>
            <value>
                <elementReference>varStateofIncorporation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_without_conditions</name>
        <label>Update without conditions</label>
        <locationX>314</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Start_Condition_2</targetReference>
        </connector>
        <inputAssignments>
            <field>City_State_Phone_Key__c</field>
            <value>
                <elementReference>varCityStatePhoneKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clean_Phone_TXT__c</field>
            <value>
                <elementReference>$Record.Clean_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Contact_Email__c</field>
            <value>
                <elementReference>$Record.Implementation_Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Contact_Phone__c</field>
            <value>
                <elementReference>$Record.Implementation_Contact__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Address_Phone_Key__c</field>
            <value>
                <elementReference>varStreetAddressPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Workflow__c</field>
            <value>
                <elementReference>$Record.Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isNew_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Count__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Rollup_Needed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>updateTerritory</name>
        <label>updateTerritory</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_Account_status</targetReference>
        </connector>
        <flowName>updateAccountTerritory</flowName>
        <inputAssignments>
            <name>thisAccountRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
