force-app/main/default/flows/Flow_Billing_Agreement_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_a_new_record</name>
        <label>Is a new record?</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_Sync_With_Callrevu_360_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated Record</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Agreement_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sync_With_Callrevu_360_false</name>
        <label>Is Sync With Callrevu 360 false?</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sync_With_CallRevu_360</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sync_With_CallRevu_360__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Agreement_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_0</targetReference>
            </connector>
            <label>Sync With CallRevu 360</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varAuditUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>varBillingAgreementName</name>
        <dataType>String</dataType>
        <expression>left( {!$Record.Bill_to_Account__r.Name} &amp; if( {!$Record.Bill_to_Account__r.Id} != {!$Record.Service_Agreement__r.Service_Location__r.Id} ,&quot; - &quot;&amp;{!$Record.Service_Agreement__r.Service_Location__r.Name},&quot;&quot;)+text({!$Record.CreatedDate}),80)</expression>
    </formulas>
    <formulas>
        <name>varNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Flow Billing Agreement Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Billing Agreement Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Sync_With_CallRevu_360__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_0</name>
        <label>Update Record</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Sync_With_CallRevu_360__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_1</name>
        <label>Update Record</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Is_a_new_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Audit_User_Email__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_User_First_Name__c</field>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_User_ID__c</field>
            <value>
                <elementReference>varAuditUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_User_Last_Name__c</field>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_User_Phone__c</field>
            <value>
                <stringValue>555-555-1212</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varBillingAgreementName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Record_1</targetReference>
        </connector>
        <object>Billing_Agreement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
