force-app/main/default/flows/Flow_Lead_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_Email_alert_for_Lead</name>
        <label>send Email alert for Lead</label>
        <locationX>660</locationX>
        <locationY>971</locationY>
        <actionName>Lead.Standard_Lead_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Lead.Standard_Lead_Alert</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Confirm_Closed_Status_before_Email</name>
        <label>Confirm Closed Status before Email</label>
        <locationX>572</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>send_Email_alert_for_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is Open</defaultConnectorLabel>
        <rules>
            <name>is_Closed_Unqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <label>is Closed (Unqualified)</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Auto_Assignment_Exempt</name>
        <label>is Auto Assignment Exempt?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Flow_Configuration_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Auto Assignment Exempt: False</defaultConnectorLabel>
        <rules>
            <name>Auto_Assignment_Exempt_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Auto_Assignment_Exempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Auto Assignment Exempt: True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_tied_to_exemption_Domain</name>
        <label>Lead tied to exemption Domain</label>
        <locationX>396</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>runAssignmentLogic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>in_Exempted_domain</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>get_Exemption_list.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Exemption_list.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HS_Recent_Conversion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_to_Kristie</targetReference>
            </connector>
            <label>in Exempted domain</label>
        </rules>
    </decisions>
    <description>Updated Standard Lead object notifications+ default new actions + Territory Logic updated + Krsitie set as owner for any domains with exemptions</description>
    <environments>Default</environments>
    <formulas>
        <name>defaultLeadOwnerId</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Get_Flow_Configuration_Settings.Default_Lead_OwnerId__c}),
{!Get_Flow_Configuration_Settings.Default_Lead_OwnerId__c},
&quot;0051N000006LkkhQAC&quot;)</expression>
    </formulas>
    <formulas>
        <name>leadEmailDomain</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Email}, LEFT({!$Record.Email},FIND(&quot;@&quot;,{!$Record.Email})), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Flow Lead Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Lead Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Exemption_list</name>
        <label>get Exemption list</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_tied_to_exemption_Domain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BDM_List_Exemptions__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email_Domain__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email_Domain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>leadEmailDomain</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Configuration_Settings</name>
        <label>Get Flow Configuration Settings</label>
        <locationX>396</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Exemption_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Configuration_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Puts Kristie as the owner</description>
        <name>Assign_Lead_to_Kristie</name>
        <label>Assign Lead to Kristie</label>
        <locationX>220</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051N000006LkkhQAC</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Auto_Assignment_Exempt</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 2) OR (2 AND 3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>HS_Recent_Conversion__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0051N000006LkkhQAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>HS_IP_City__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HS_IP_State_Region__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HS_IP_State_Region_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>runAssignmentLogic</name>
        <label>runAssignmentLogic</label>
        <locationX>572</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Confirm_Closed_Status_before_Email</targetReference>
        </connector>
        <flowName>leadAssignmentSubflow</flowName>
        <inputAssignments>
            <name>leadDefaultOwnerIdValue</name>
            <value>
                <elementReference>Get_Flow_Configuration_Settings.Default_Lead_OwnerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>thisLeadHSConversion</name>
            <value>
                <elementReference>$Record.HS_Recent_Conversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>thisLeadRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
