force-app/main/default/flows/Flow_Service_Agreement_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_values_to_new_Opportunity</name>
        <label>Assign values to new Opportunity</label>
        <locationX>644</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>varOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 - Sales Qualified Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Location__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_new_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AM_to_the_Account_Record</name>
        <label>AM to the Account Record</label>
        <locationX>776</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>Is_Performance_Manager_Null_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KJ_Test</name>
            <conditionLogic>(1 OR 2) AND (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Performance_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KJ_Test__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallSource_Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_KJ_Test</targetReference>
            </connector>
            <label>KJ Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Authorization_Contact_field_changed</name>
        <label>Is Authorization Contact field changed?</label>
        <locationX>776</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Is_Current_Case_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Authorized_Contact_Changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Authorization_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Authorization_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_on_Case_Object</targetReference>
            </connector>
            <label>Authorized Contact Changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CallRevu_Account_Number_null</name>
        <label>Is CallRevu Account Number null?</label>
        <locationX>776</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>Is_Sync_To_CallRevu_360_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CallRevu_Account_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallRevu_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Account_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sync_With_CallRevu_360</targetReference>
            </connector>
            <label>CallRevu Account Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Create_Renewal_Opportunity_true</name>
        <label>Is Create Renewal Opportunity true?</label>
        <locationX>776</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Is_CallRevu_Account_Number_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Renewal_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_Renewal_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record_Type</targetReference>
            </connector>
            <label>Create Renewal Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CRM_changed</name>
        <label>Is CRM changed?</label>
        <locationX>776</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Is_Create_Renewal_Opportunity_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRM_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CRM</targetReference>
            </connector>
            <label>CRM is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Case_null</name>
        <label>Is Current Case null?</label>
        <locationX>776</locationX>
        <locationY>3203</locationY>
        <defaultConnector>
            <targetReference>Is_Preferred_Contact_for_Billing_Field_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Authorization_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Authorization_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_on_Case_Object_0</targetReference>
            </connector>
            <label>Current Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Enrollment_Call_Scheduled_changed</name>
        <label>Is Enrollment Call Scheduled changed?</label>
        <locationX>776</locationX>
        <locationY>5411</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enrollment_Call_Scheduled_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enrollment_Call_Scheduled__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Workflow_Update</targetReference>
            </connector>
            <label>Enrollment Call Scheduled is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Enrollment_Case_Linked</name>
        <label>Is Enrollment Case Linked</label>
        <locationX>776</locationX>
        <locationY>5111</locationY>
        <defaultConnector>
            <targetReference>Is_Enrollment_Call_Scheduled_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Enrollment Case</defaultConnectorLabel>
        <rules>
            <name>Enrollment_Case_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enrollment_Coordinator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enrollment_Case__r.Owner:User.Department</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Agreement</targetReference>
            </connector>
            <label>Enrollment Case Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Include_in_Renewal_Opportunity_Process_field_true</name>
        <label>Is Include in Renewal Opportunity Process field true?</label>
        <locationX>776</locationX>
        <locationY>4103</locationY>
        <defaultConnector>
            <targetReference>Is_Send_Enrollment_Link_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Include_in_Renewal_Opportunity_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Include_in_Renewal_Opportunity_Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Create_Renewal_Opportunity</targetReference>
            </connector>
            <label>Include in Renewal Opportunity Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Performance_Manager_Null_0</name>
        <label>Is Performance Manager Null?</label>
        <locationX>776</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Is_CRM_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Performance_Manager_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Performance_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Performance_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TCX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Performance_Mgr_in_CR360</targetReference>
            </connector>
            <label>Performance Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Preferred_Contact_for_Billing_Field_null</name>
        <label>Is Preferred Contact for Billing Field null?</label>
        <locationX>776</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>Is_Review_Cycle_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Preferred_Contact_for_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AP_Updated_from_Enrollment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Preferred_Contact_For_Billing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Preferred_Contact_For_Billing__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_on_Case_Object_0_0</targetReference>
            </connector>
            <label>Preferred Contact for Billing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Ready_to_Sync_to_CallRevu_360_true</name>
        <label>Is Ready to Sync to CallRevu 360 true?</label>
        <locationX>776</locationX>
        <locationY>2602</locationY>
        <defaultConnector>
            <targetReference>Is_Authorization_Contact_field_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_to_Sync_to_CallRevu_360</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ready_To_Sync_To_CallRevu360__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sync_to_CallRevu_360</targetReference>
            </connector>
            <label>Ready to Sync to CallRevu 360</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Review_Cycle_updated</name>
        <label>Is Review Cycle updated?</label>
        <locationX>776</locationX>
        <locationY>3803</locationY>
        <defaultConnector>
            <targetReference>Is_Include_in_Renewal_Opportunity_Process_field_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_Cycle_is_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Review_Cycle__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Review_Cycle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Review_Cycle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>--Not Assigned--</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Review_Cycle</targetReference>
            </connector>
            <label>Review Cycle is updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Secondary_Contact_updated</name>
        <label>Is Secondary Contact updated?</label>
        <locationX>776</locationX>
        <locationY>4811</locationY>
        <defaultConnector>
            <targetReference>Is_Enrollment_Case_Linked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Secondary_Contact_is_updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Authorization_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Authorization_Code</targetReference>
            </connector>
            <label>Secondary Contact is updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Send_Enrollment_Link_True</name>
        <label>Is Send Enrollment Link True?</label>
        <locationX>776</locationX>
        <locationY>4403</locationY>
        <defaultConnector>
            <targetReference>Is_Secondary_Contact_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Enrollment_Link</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Authorized_Sender_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Account_Update_Link__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_0</targetReference>
            </connector>
            <label>Send Enrollment Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sync_To_CallRevu_360_True</name>
        <label>Is Sync To CallRevu 360 True?</label>
        <locationX>776</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Is_Ready_to_Sync_to_CallRevu_360_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sync_To_CallRevu_360</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sync_To_CallRevu_360__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_2</targetReference>
            </connector>
            <label>Sync To CallRevu 360</label>
        </rules>
    </decisions>
    <description>Added Enrollment Coordinator update from linked Service Agreement Enrollment Case + Deleted Email Alerts + exclusion of TCX tier status for Performance Manager Null check</description>
    <environments>Default</environments>
    <formulas>
        <name>varAuditAcitveUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} +&quot; &quot;+ {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>varAuditActiveUserPhone</name>
        <dataType>String</dataType>
        <expression>Substitute(Substitute(Substitute({!$User.Phone} ,&quot;)&quot;,&quot;&quot;) ,&quot;(&quot;,&quot;&quot;) ,&quot; &quot;,&quot;-&quot;)</expression>
    </formulas>
    <formulas>
        <name>varAuthorizationCode</name>
        <dataType>String</dataType>
        <expression>substitute(substitute(Right(casesafeid({!$Record.Id}),5)&amp;text(now()),&quot;-&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varLastWorkflowUpdate</name>
        <dataType>String</dataType>
        <expression>&quot;Send Enrollment&quot;&amp;text(now())</expression>
    </formulas>
    <formulas>
        <name>varLeadAddress</name>
        <dataType>String</dataType>
        <expression>if(NOT(isblank({!$Record.Lead_Address__c}))&amp;&amp;Contains( {!$Record.Lead_Address__c},&quot;http&quot; ),{!$Record.Lead_Address__c}, if(NOT(isblank({!$Record.Lead_Address__c}))&amp;&amp;NOT(Contains( {!$Record.Lead_Address__c},&quot;http&quot;)),&quot;https://&quot;&amp;{!$Record.Lead_Address__c},{!$Record.Lead_Address__c}))</expression>
    </formulas>
    <formulas>
        <name>varNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>varTodaysDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Flow Service Agreement Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Service Agreement Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_new_Opportunity</name>
        <label>Create a new Opportunity</label>
        <locationX>644</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Is_CallRevu_Account_Number_null</targetReference>
        </connector>
        <inputReference>varOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Record_Type</name>
        <label>Get Opportunity Record Type</label>
        <locationX>644</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_to_new_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dealer_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Authorization_Code</name>
        <label>Update Authorization Code</label>
        <locationX>644</locationX>
        <locationY>4919</locationY>
        <connector>
            <targetReference>Is_Enrollment_Case_Linked</targetReference>
        </connector>
        <inputAssignments>
            <field>Authorization_Code__c</field>
            <value>
                <elementReference>varAuthorizationCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_on_Case_Object</name>
        <label>Update Contact on Case Object</label>
        <locationX>644</locationX>
        <locationY>3011</locationY>
        <connector>
            <targetReference>Is_Current_Case_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Enrollment_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Authorization_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_on_Case_Object_0</name>
        <label>Update Contact on Case Object</label>
        <locationX>644</locationX>
        <locationY>3311</locationY>
        <connector>
            <targetReference>Is_Preferred_Contact_for_Billing_Field_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Current_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Authorization_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_on_Case_Object_0_0</name>
        <label>Update Contact on Case Object</label>
        <locationX>644</locationX>
        <locationY>3611</locationY>
        <connector>
            <targetReference>Is_Review_Cycle_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Enrollment_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Preferred_Contact_For_Billing__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Contact_For_Billing__c</field>
            <value>
                <elementReference>$Record.Preferred_Contact_For_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Create_Renewal_Opportunity</name>
        <label>Update Create Renewal Opportunity</label>
        <locationX>644</locationX>
        <locationY>4211</locationY>
        <connector>
            <targetReference>Is_Send_Enrollment_Link_True</targetReference>
        </connector>
        <inputAssignments>
            <field>Create_Renewal_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CRM</name>
        <label>Update CRM</label>
        <locationX>644</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Is_Create_Renewal_Opportunity_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Location__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM__c</field>
            <value>
                <elementReference>$Record.CRM__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_KJ_Test</name>
        <label>Update KJ Test</label>
        <locationX>644</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Is_Performance_Manager_Null_0</targetReference>
        </connector>
        <inputAssignments>
            <field>KJ_Test__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Workflow_Update</name>
        <label>Update Last Workflow Update</label>
        <locationX>644</locationX>
        <locationY>5519</locationY>
        <inputAssignments>
            <field>Last_Workflow_Update__c</field>
            <value>
                <elementReference>varLastWorkflowUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Performance_Mgr_in_CR360</name>
        <label>Update Performance Mgr in CR360</label>
        <locationX>644</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Is_CRM_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Update_Performance_Mgr_In_CR360__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>776</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>AM_to_the_Account_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Allow_Ad_Source_Edits__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allow_Roster_Edits__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_Email__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_First_Name__c</field>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_ID__c</field>
            <value>
                <elementReference>varAuditAcitveUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_Last_Name__c</field>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_Phone__c</field>
            <value>
                <elementReference>varAuditActiveUserPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Ad_Source__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Hours_of_Operation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Roster__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Address__c</field>
            <value>
                <elementReference>varLeadAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Zone__c</field>
            <value>
                <elementReference>$Record.Service_Location__r.Time_Zone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_0</name>
        <label>Update Records</label>
        <locationX>644</locationX>
        <locationY>4511</locationY>
        <connector>
            <targetReference>Is_Secondary_Contact_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Authorized_Contact_Notified__c</field>
            <value>
                <elementReference>varTodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Account_Update_Link__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Authorized_Sender_Notification__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records</label>
        <locationX>644</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Is_Ready_to_Sync_to_CallRevu_360_true</targetReference>
        </connector>
        <inputAssignments>
            <field>Audit_Active_User_Email__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_First_Name__c</field>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_ID__c</field>
            <value>
                <elementReference>varAuditAcitveUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_Last_Name__c</field>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_Phone__c</field>
            <value>
                <elementReference>$User.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Review_Cycle</name>
        <label>Update Review Cycle</label>
        <locationX>644</locationX>
        <locationY>3911</locationY>
        <connector>
            <targetReference>Is_Include_in_Renewal_Opportunity_Process_field_true</targetReference>
        </connector>
        <inputAssignments>
            <field>Update_Review_Cycle__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Agreement</name>
        <label>Update Service Agreement</label>
        <locationX>644</locationX>
        <locationY>5219</locationY>
        <connector>
            <targetReference>Is_Enrollment_Call_Scheduled_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Enrollment_Coordinator__c</field>
            <value>
                <elementReference>$Record.Enrollment_Case__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sync_to_CallRevu_360</name>
        <label>Update Sync to CallRevu 360</label>
        <locationX>644</locationX>
        <locationY>2711</locationY>
        <connector>
            <targetReference>Is_Authorization_Contact_field_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Sync_To_CallRevu_360__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sync_With_CallRevu_360</name>
        <label>Update Sync With CallRevu 360</label>
        <locationX>644</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Is_Sync_To_CallRevu_360_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Agreement_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sync_With_CallRevu_360__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Billing_Agreement__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
        <object>Service_Agreement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
