force-app/main/default/flows/Flow_CalendlyAction_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>What_is_Name_Field</name>
        <label>What is Name Field?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>invitee_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invitee.created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Create_Event_Flow</targetReference>
            </connector>
            <label>invitee.created</label>
        </rules>
        <rules>
            <name>invitee_canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invitee.canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Cancel_Event_Flow</targetReference>
            </connector>
            <label>invitee.canceled</label>
        </rules>
    </decisions>
    <interviewLabel>Flow Calendy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow CalendlyAction Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_Name_Field</targetReference>
        </connector>
        <object>CalendlyAction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Cancel_Event_Flow</name>
        <label>Run Cancel Event Flow</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <flowName>CancelEvent</flowName>
        <inputAssignments>
            <name>NewCalendlyAction</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Create_Event_Flow</name>
        <label>Run Create Event Flow</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>CreateEvent</flowName>
        <inputAssignments>
            <name>NewCalendlyAction</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
