force-app/main/default/flows/Flow_Service_Agreement_Products_object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_For_Change_In_Next_Billing_Dates</name>
        <label>Check For Change In Next Billing Dates</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Billing_Date_is_not_null</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Billing_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Billing_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Billing_Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Billing_End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Next_Billing_Date</targetReference>
            </connector>
            <label>Next Billing Date is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Last_Modified_Date_changed_0</name>
        <label>Is Last Modified Date changed?</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Sync_Service_Agreement_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Last Modified Date No Changed</defaultConnectorLabel>
        <rules>
            <name>Last_Modified_Date_Changed_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Agreement_Sync_Billing_Items_0</targetReference>
            </connector>
            <label>Last Modified Date Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_Last_Modified_Date_changed_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, It is update</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Effective_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Effective_Date</targetReference>
            </connector>
            <label>Yes, It is New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sync_Service_Agreement_Products</name>
        <label>Sync Service Agreement Products</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Check_For_Change_In_Next_Billing_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Effective_Date_and_End_Date_is_changed</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Effective_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isvalid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sync_With_CallRevu</targetReference>
            </connector>
            <label>Effective Date and End Date is changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Isvalid</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record.System_Sync__c} == &quot;TCX&quot;, {!$Record.System_Sync__c} == &quot;CallSource&quot;)</expression>
    </formulas>
    <formulas>
        <name>varBillingAgreement</name>
        <dataType>String</dataType>
        <expression>{!$Record.Billing_Agreement__r.Billing_Agreement_ID__c} +&quot;-&quot;+ {!$Record.Billing_Line_Item_ID__c}</expression>
    </formulas>
    <formulas>
        <name>varBillingType</name>
        <dataType>String</dataType>
        <expression>if(NOT({!$Record.Product__r.MRR_Product__c}),&quot;One-time&quot;,
if( AND({!$Record.Product__r.MRR_Product__c},NOT(isblank( {!$Record.Effective_Date__c} )),isblank({!$Record.Last_Order_Date__c}), {!$Record.First_Invoice_Amount__c}&gt;0),&quot;Prorated Start&quot;,
if( AND({!$Record.Product__r.MRR_Product__c},NOT(isblank( {!$Record.Effective_Date__c} )),NOT(isblank({!$Record.Last_Order_Date__c})),{!$Record.Last_Invoice_Amount__c}&gt;0),&quot;Prorated End&quot;,&quot;MRR&quot;)))</expression>
    </formulas>
    <formulas>
        <name>varEffectiveDate</name>
        <dataType>Date</dataType>
        <expression>Date(year(today()),Month(today()),Day(Today()))</expression>
    </formulas>
    <formulas>
        <name>varFirstBillingDate</name>
        <dataType>Date</dataType>
        <expression>if(!isblank( {!$Record.Effective_Date__c}),Date(Year({!$Record.Effective_Date__c}),Month({!$Record.Effective_Date__c}),1),NULL)</expression>
    </formulas>
    <formulas>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varNextBillingEndDate</name>
        <dataType>Date</dataType>
        <expression>Case(Text({!$Record.Invoice_Type_To_Create__c}),&quot;First Invoice&quot;, date(year({!$Record.Effective_Date__c}),month({!$Record.Effective_Date__c}), day(addmonths(Date(Year({!$Record.Effective_Date__c}),Month({!$Record.Effective_Date__c}),1),1)-1)) , &quot;Last Invoice&quot;,{!$Record.End_Date__c},&quot;Monthly Invoice&quot;,date(year(Today()),Month(Today()),day(addmonths(Date(Year(Today()),Month(Today()),1),1)-1)),NULL)</expression>
    </formulas>
    <formulas>
        <name>varNextBillingStartDate</name>
        <dataType>Date</dataType>
        <expression>Case(Text({!$Record.Invoice_Type_To_Create__c}),&quot;First Invoice&quot;, {!$Record.Effective_Date__c},&quot;Last Invoice&quot;,Date(Year({!$Record.End_Date__c}),Month({!$Record.End_Date__c}),1),&quot;Monthly Invoice&quot;,Date(Year(Today()),Month(Today()),1),NULL)</expression>
    </formulas>
    <formulas>
        <name>varProductName</name>
        <dataType>String</dataType>
        <expression>left({!$Record.Product__r.Name},80)</expression>
    </formulas>
    <formulas>
        <name>varUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&quot; &quot;+{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Flow Service Agreement Products object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Service Agreement Products object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Audit_Fields_on_Service_0</name>
        <label>Update Audit Fields on Service</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Sync_Service_Agreement_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Audit_Active_User_Email__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_First_Name__c</field>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_Id__c</field>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_Last_Name__c</field>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Effective_Date</name>
        <label>Update Effective Date</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Is_Last_Modified_Date_changed_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>varEffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Billing_Date</name>
        <label>Update Next Billing Date</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Agreement__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Billing_End_Date__c</field>
            <value>
                <elementReference>$Record.Next_Billing_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Billing_Start_Date__c</field>
            <value>
                <elementReference>$Record.Next_Billing_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_To_Invoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Billing_Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_records_without_conditions</name>
        <label>Update records without conditions</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Agreement_And_Prod_Agreement_Key__c</field>
            <value>
                <elementReference>varBillingAgreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <elementReference>varBillingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Billing_Date__c</field>
            <value>
                <elementReference>varFirstBillingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varProductName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Billing_Date__c</field>
            <value>
                <elementReference>varNextBillingEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Billing_Start_Date__c</field>
            <value>
                <elementReference>varNextBillingStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Agreement_Sync_Billing_Items_0</name>
        <label>Update Service Agreement - Sync Billing Items</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_Audit_Fields_on_Service_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CallRevu_Contract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sync_Billing_Items__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sync_With_CallRevu</name>
        <label>Update Sync With CallRevu</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Check_For_Change_In_Next_Billing_Dates</targetReference>
        </connector>
        <inputAssignments>
            <field>Sync_With_CallRevu_360__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_records_without_conditions</targetReference>
        </connector>
        <object>Service_Agreement_Products__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
