force-app/main/default/flows/Flow_Opportunity_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_01</name>
        <label>Send Email Alert</label>
        <locationX>292</locationX>
        <locationY>3335</locationY>
        <actionName>Opportunity.Send_Dealer_Launched_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Account_Rooftop_less_than_8</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Send_Dealer_Launched_Email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_10_0_0</name>
        <label>Send Email Alert</label>
        <locationX>292</locationX>
        <locationY>9107</locationY>
        <actionName>Opportunity.Closed_Lost_Opportunity_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>isAccountPopulated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Closed_Lost_Opportunity_Email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_11</name>
        <label>Send Email Alert</label>
        <locationX>578</locationX>
        <locationY>9791</locationY>
        <actionName>Opportunity.Alert_SOP_to_Void_DS</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_SOP_to_Void_DS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_1_0</name>
        <label>Send Email Alert</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <actionName>Opportunity.Send_Billing_Alert_that_SOP_has_actions_pending</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Loss_Reason_Failure_to_Launch</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Send_Billing_Alert_that_SOP_has_actions_pending</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_2_0</name>
        <label>Send Email Alert</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <actionName>Opportunity.Alert_Billing_All_Actions_are_Completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Loss_Reason_Failure_to_Launch</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_Billing_All_Actions_are_Completed</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_3_0</name>
        <label>Send Email Alert</label>
        <locationX>578</locationX>
        <locationY>1787</locationY>
        <actionName>Opportunity.Send_Email_Alert_for_Campaign_Change_Order</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Loss_Reason_Failure_to_Launch</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Send_Email_Alert_for_Campaign_Change_Order</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_7</name>
        <label>Send Email Alert</label>
        <locationX>314</locationX>
        <locationY>8051</locationY>
        <actionName>Opportunity.Closed_Won_Opportunity</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Account_sources_null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Closed_Won_Opportunity</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_values_to_new_Opportunity</name>
        <label>Assign values to new Opportunity</label>
        <locationX>842</locationX>
        <locationY>7943</locationY>
        <assignmentItems>
            <assignToReference>varOpportunity02.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCloseDate02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityName03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discover</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.CRM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CRM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.CallRevu_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CallRevu_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Closing_Probability_Custom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Closing_Probability_Custom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Closing_Probability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Closing_Probability__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.ForecastCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Opportunity_Lead_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Lead_Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Opportunity_Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Lead_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Opportunity_Lead_Sub_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Lead_Sub_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conversion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121N0000012oWeQAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Related_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Term_Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Term_Renewal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Tier_2_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>eLead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Units_Sold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Units_Sold__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.eLead_Sales_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.eLead_Sales_Rep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity02.Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_new_Opportunity_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_new_task</name>
        <label>Assign values to new task</label>
        <locationX>578</locationX>
        <locationY>3719</locationY>
        <assignmentItems>
            <assignToReference>varNewTask01.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask01.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agreement Follow Up - &lt;8 Rooftops</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask01.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask01.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask01.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDate01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewTask01.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_new_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Opportunity_Contact_Role</name>
        <label>Assign values to Opportunity Contact Role</label>
        <locationX>578</locationX>
        <locationY>4127</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CallRevu_Lead__r.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityContactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_new_Opportunity_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Variable_1</name>
        <label>Assign values to Variable</label>
        <locationX>424</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051N000006KKinQAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Channel Manager</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Team_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Closed_Probability</name>
        <label>Closed Probability</label>
        <locationX>710</locationX>
        <locationY>2711</locationY>
        <defaultConnector>
            <targetReference>Is_launch_date_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Complete_Probability</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closing_Probability__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed-Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Order/Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier2 Change Order/Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dealership Name Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Full-Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partial-Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Saved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Credit Given</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Temporary Downgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade - Right-size Campaign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>One-time fee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Exercised 30 Day Out Clause</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Closing_Probability</targetReference>
            </connector>
            <label>Closed Complete Probability</label>
        </rules>
        <rules>
            <name>Closed_Won_Probability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closing_Probability__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Change Order/Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OEM Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OEM Region/Zone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Campaign Change Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dealership Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Closing_Probability_0</targetReference>
            </connector>
            <label>Closed Won Probability</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_Tier_2_Type_equals_to_eLead</name>
        <label>Tier 2 Type equals to HDS?</label>
        <locationX>710</locationX>
        <locationY>5735</locationY>
        <defaultConnector>
            <targetReference>Is_Tier_2_Type_equals_to_eLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HDS_Opportunity</name>
            <conditionLogic>2 AND (1 OR 5) AND 4 AND 7 AND (6 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_2_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>01s3m000004YFEVAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_Opportunity_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLead_Change_Order_Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_Book_Override__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Price_Book1</targetReference>
            </connector>
            <label>HDS Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_a_Contact_Role_need_Opportunity</name>
        <label>Does a Contact Role need Opportunity?</label>
        <locationX>710</locationX>
        <locationY>4019</locationY>
        <defaultConnector>
            <targetReference>Is_Change_Order_Cancellation_Type_equal_to_Full_Cancellation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_need_Contact_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_Contact_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Create_Contact_Role__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallRevu_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_Opportunity_Contact_Role</targetReference>
            </connector>
            <label>Opportunity need Contact Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Rooftop_less_than_8</name>
        <label>Is Account Rooftop less than 8</label>
        <locationX>710</locationX>
        <locationY>3611</locationY>
        <defaultConnector>
            <targetReference>Does_a_Contact_Role_need_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Rooftops_is_less_than_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountofRooftops</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_new_task</targetReference>
            </connector>
            <label>Account Rooftops is less than 8</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_sources_null</name>
        <label>Is Account sources null?</label>
        <locationX>710</locationX>
        <locationY>8375</locationY>
        <defaultConnector>
            <targetReference>Is_Closed_Lost_recently_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_sources_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Lead_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Lead_Sub_source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Lead_Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Sources</targetReference>
            </connector>
            <label>Account sources is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Ad_Agency</name>
        <label>Is Ad Agency?</label>
        <locationX>710</locationX>
        <locationY>7535</locationY>
        <defaultConnector>
            <targetReference>Is_Status_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ad_Agency</name>
            <conditionLogic>2 AND  7 AND (1 OR 5) AND 4 AND (6 OR 3) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial_Pilot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_2_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>eLead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>01s3m000004YFEVAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_Opportunity_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_2_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>HDS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_Book_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Price_Book_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Ad Agency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Change_Order_Cancellation_Type_equal_to_Full_Cancellation</name>
        <label>Is Change Order Cancellation Type equal to Full-Cancellation?</label>
        <locationX>710</locationX>
        <locationY>4427</locationY>
        <defaultConnector>
            <targetReference>Is_Change_Order_Cancellation_Type_Equal_to_Saved_or_Upgrade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Cancellation_Type_Equal_to_Full_Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change_Order_Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full-Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed-Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Agreement</targetReference>
            </connector>
            <label>Order Cancellation Type Equal to Full Cancellation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Change_Order_Cancellation_Type_Equal_to_Saved_or_Upgrade</name>
        <label>Is Change Order Cancellation Type Equal to Saved or Upgrade</label>
        <locationX>710</locationX>
        <locationY>4727</locationY>
        <defaultConnector>
            <targetReference>Is_Update_Tier_Status_equal_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Cancellation_Type_Equal_to_Saved_or_Upgrade</name>
            <conditionLogic>1 AND 7 AND (2 AND 3) OR (4 AND 5) OR (6 AND 3) OR (5 AND 8) OR (5 AND 9) OR (3 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change_Order_Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed-Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial-Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_Order_Cancellation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temporary Downgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Agreement_0</targetReference>
            </connector>
            <label>Order Cancellation Type Equal to Saved or Upgrade</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Changing_Orders</name>
        <label>Is Changing Orders?</label>
        <locationX>710</locationX>
        <locationY>6935</locationY>
        <defaultConnector>
            <targetReference>Is_Tier_2_Type_HDS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Orders</name>
            <conditionLogic>6 AND ((8 AND 2) OR (1 AND 2) OR (3 AND 2) OR (7 AND 2) OR (1 AND 4 AND 5) OR (3 AND 4 AND 5) OR (8 AND 4 AND 5) OR (7 AND 4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change_Order_Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealership_Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>01s1N000007oLwhQAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_Opportunity_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Test__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Campaign_Change_Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLead_Change_Order_Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Price_Book_0_0_0_0</targetReference>
            </connector>
            <label>Change Orders</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_close_date_greather_than_2021</name>
        <label>Is close date greather than 2021</label>
        <locationX>710</locationX>
        <locationY>2411</locationY>
        <defaultConnector>
            <targetReference>Closed_Probability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Convert_MM_DD_YYYY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2021-01-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_date_to_month</targetReference>
            </connector>
            <label>Convert MM/DD/YYYY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Closed_Lost</name>
        <label>Is Closed Lost?</label>
        <locationX>710</locationX>
        <locationY>9683</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Time_SOP_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_11</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Closed_Lost_recently_Changed</name>
        <label>Is Closed Lost recently Changed</label>
        <locationX>710</locationX>
        <locationY>8675</locationY>
        <defaultConnector>
            <targetReference>isAccountPopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost_updated_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0_0_0</targetReference>
            </connector>
            <label>Closed Lost - updated stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Direct_Sales</name>
        <label>Is Direct Sales?</label>
        <locationX>710</locationX>
        <locationY>6335</locationY>
        <defaultConnector>
            <targetReference>Is_Vision_Packages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Direct_Sales</name>
            <conditionLogic>6 AND 7 AND ((1 AND 2 AND 5) OR (1 AND 4 AND 5) OR (3 AND 2 AND 5) OR (3 AND 4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial_Pilot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>01s1N000004WhJsQAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_Opportunity_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Test__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_Book_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Price_Book_0_0</targetReference>
            </connector>
            <label>Direct Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_launch_date_null</name>
        <label>Is launch date null?</label>
        <locationX>710</locationX>
        <locationY>3011</locationY>
        <defaultConnector>
            <targetReference>Is_Account_Rooftop_less_than_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Launch Date is null</defaultConnectorLabel>
        <rules>
            <name>Launch_Date_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Launch_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Launche_Date</targetReference>
            </connector>
            <label>Launch Date is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Loss_Reason_Failure_to_Launch</name>
        <label>Is Loss Reason Failure to Launch?</label>
        <locationX>710</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Is_close_date_greather_than_2021</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Failure_to_Launch_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loss_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure to Launch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Failure_Date</targetReference>
            </connector>
            <label>Failure to Launch Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_new_record</name>
        <label>Is new record?</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Needs_to_Update_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Tier_2_Type_equals_to_Select_One</targetReference>
            </connector>
            <label>It is new</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Owner_Active</name>
        <label>is Owner Active?</label>
        <locationX>424</locationX>
        <locationY>8999</locationY>
        <defaultConnector>
            <targetReference>isAccountPopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_10_0_0</targetReference>
            </connector>
            <label>Owner is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Partnership_Opportunity</name>
        <label>Is Partnership Opportunity?</label>
        <locationX>710</locationX>
        <locationY>5435</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Is_Tier_2_Type_equals_to_eLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partnership_Opportunity</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_Opportunity_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Business Development Price Book</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Price_Book</targetReference>
            </connector>
            <label>Partnership Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Closed_Won</name>
        <label>Is Status Closed Won?</label>
        <locationX>710</locationX>
        <locationY>7835</locationY>
        <defaultConnector>
            <targetReference>Is_Account_sources_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won_No_CallRevu_Lead_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Trial or Pilot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contacts_0_0</targetReference>
            </connector>
            <label>Closed Won - Non Trial</label>
        </rules>
        <rules>
            <name>Closed_Won_Trial_No_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial or Pilot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_new_Opportunity</targetReference>
            </connector>
            <label>Closed Won Trial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tier_2_Type_equals_to_eLead</name>
        <label>Is Tier 2 Type equals to eLead?</label>
        <locationX>710</locationX>
        <locationY>6035</locationY>
        <defaultConnector>
            <targetReference>Is_Direct_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>eLead</name>
            <conditionLogic>2 AND (1 OR 5) AND 4 AND (6 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_2_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>01s1N000004WhBEQA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_Opportunity_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLead_Change_Order_Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Price_Book_0</targetReference>
            </connector>
            <label>eLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tier_2_Type_equals_to_Select_One</name>
        <label>Is Tier 2 Type equals to Select One?</label>
        <locationX>556</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Needs_to_Update_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tier_2_Type_does_not_Select_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_2_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_Variable_1</targetReference>
            </connector>
            <label>Tier 2 Type does not Select One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tier_2_Type_HDS</name>
        <label>Is Tier 2 Type HDS?</label>
        <locationX>710</locationX>
        <locationY>7235</locationY>
        <defaultConnector>
            <targetReference>Is_Ad_Agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HDS</name>
            <conditionLogic>2 AND 3 AND (1 OR 6) AND (5 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLead_Change_Order_Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_2_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_Opportunity_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>01s3m000004YFEVAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Price_Book_0_0_0_0_0</targetReference>
            </connector>
            <label>HDS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Update_Tier_Status_equal_True</name>
        <label>Is Update Tier Status equal True</label>
        <locationX>710</locationX>
        <locationY>5027</locationY>
        <defaultConnector>
            <targetReference>Is_Partnership_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Tier_Status_equal_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Update_Tier_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change_Order_Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Agreement_1</targetReference>
            </connector>
            <label>Update Tier Status equal True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Vision_Packages</name>
        <label>Is Vision Packages?</label>
        <locationX>710</locationX>
        <locationY>6635</locationY>
        <defaultConnector>
            <targetReference>Is_Changing_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vision_Packages</name>
            <conditionLogic>5 AND (1 AND 2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vision_Packages</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>01s3m000004YFEkAAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_Opportunity_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Test__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Price_Book_0_0_0</targetReference>
            </connector>
            <label>Vision Packages</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAccountPopulated</name>
        <label>isAccountPopulated</label>
        <locationX>710</locationX>
        <locationY>9383</locationY>
        <defaultConnector>
            <targetReference>Is_Closed_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Original_Account_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Original_Account_Owner</targetReference>
            </connector>
            <label>Account is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_to_Update_Campaign</name>
        <label>Needs to Update Campaign</label>
        <locationX>710</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Select_stage_after_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tied_to_a_Campaign</name>
            <conditionLogic>(1 OR 2) OR 3 OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Campaign</targetReference>
            </connector>
            <label>Tied to a Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_an_active_user</name>
        <label>Owner an active user</label>
        <locationX>424</locationX>
        <locationY>3227</locationY>
        <defaultConnector>
            <targetReference>Is_Account_Rooftop_less_than_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner is NOT Active</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Active1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_01</targetReference>
            </connector>
            <label>Owner is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_stage_after_update</name>
        <label>Select stage after update</label>
        <locationX>710</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Is_Loss_Reason_Failure_to_Launch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Send_Agreement_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit for Review (Send to SOPs)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_1_0</targetReference>
            </connector>
            <label>Stage = Submit for Review</label>
        </rules>
        <rules>
            <name>Stage_Agreement_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_2_0</targetReference>
            </connector>
            <label>Stage = Contract</label>
        </rules>
        <rules>
            <name>Stage_Repackage_Acepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repackage Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Campaign_Change_Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_Campaign_Alert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Trigger_Campaign_Alert_0</targetReference>
            </connector>
            <label>Stage = Repackage Acepted</label>
        </rules>
        <rules>
            <name>Stage_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_a_sub_flow_0</targetReference>
            </connector>
            <label>Stage = Closed Won</label>
        </rules>
    </decisions>
    <description>Kristie Added Override and new FY23 Pricebook
1/3/24 - Removed task creation on all closed won&apos;s to remove HW note.
Poojitha Patel 5/12/24 - Flow Optimization
6/12/24 - Updated default Vision Pricebook to FY24 Pricebook
6/12/24 - Removed Enrollment and DNI workflow
+ SOP project changes
+ Original Account Owner field populated</description>
    <environments>Default</environments>
    <formulas>
        <name>varAccountofRooftops</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!$Record.Agreement_Pending_Date__c})), OR({!$Record.Account_of_Rooftops__c} &lt; 8,ISBLANK({!$Record.Account_of_Rooftops__c})), text({!$Record.StageName}) &lt;&gt; &quot;Closed Won&quot;,text({!$Record.StageName}) &lt;&gt; &quot;Closed Lost&quot;, text({!$Record.StageName}) &lt;&gt; &quot;Converted&quot;)</expression>
    </formulas>
    <formulas>
        <name>varCloseDate01</name>
        <dataType>String</dataType>
        <expression>CASE( MONTH({!$Record.CloseDate}), 1, &quot;January&quot;, 2, &quot;February&quot;, 3, &quot;March&quot;, 4, &quot;April&quot;, 5, &quot;May&quot;, 6, &quot;June&quot;, 7, &quot;July&quot;, 8, &quot;August&quot;, 9, &quot;September&quot;, 10, &quot;October&quot;, 11, &quot;November&quot;, &quot;December&quot;) +&apos;&apos;+ Text(YEAR({!$Record.CloseDate}))</expression>
    </formulas>
    <formulas>
        <name>varCloseDate02</name>
        <dataType>Date</dataType>
        <expression>IF(TEXT({!$Record.Trial_Pilot_Type__c}) = &apos;30 Day Trial&apos;, Today() + 30, Today() + 45)</expression>
    </formulas>
    <formulas>
        <name>varDueDate01</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Agreement_Pending_Date__c} + 3</expression>
    </formulas>
    <formulas>
        <name>varFailuretoLaunchDate</name>
        <dataType>Date</dataType>
        <expression>NOW() /* if(ischanged($Record.Loss_Reason__c)&amp;&amp;( ISPICKVAL($Record.Loss_Reason__c, &quot;Failure to Launch&quot;)),NOW(),$Record.Failure_to_Launch_Date__c)*/</expression>
    </formulas>
    <formulas>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varLifecycleStage</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Account.Active__c}) = &apos;Yes&apos;, &apos;Customer&apos;, &apos;Lead&apos;)</expression>
    </formulas>
    <formulas>
        <name>varNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>varOpportunityName01</name>
        <dataType>String</dataType>
        <expression>LEFT(
IF(
YEAR({!$Record.CloseDate}) &gt;= 2025 &amp;&amp;
OR(
{!$Record.RecordType.Name} = &apos;Tier2&apos;,
{!$Record.RecordType.Name} = &apos;Vision Packages&apos;)
&amp;&amp;
!ISBLANK(TEXT({!$Record.Sales_Type__c} ))
&amp;&amp;
!ISBLANK(TEXT({!$Record.Opportunity_Product__c}))
&amp;&amp;
!ISBLANK({!$Record.of_Rooftops_for_Opportunity__c}),
/*New logic*/
{!$Record.Account.Name} &amp;
&apos; - &apos; &amp; TEXT({!$Record.Sales_Type__c} ) &amp;
&apos; - &apos; &amp; TEXT({!$Record.Opportunity_Product__c}) &amp;
&apos; - &apos; &amp; TEXT({!$Record.of_Rooftops_for_Opportunity__c}) &amp; &apos; locations&apos;,
/*old logic*/
{!$Record.Account.Name} &amp;&apos; - &apos;&amp; {!$Record.RecordType.Name} &amp;&apos; - &apos;&amp; TEXT(MONTH({!$Record.CloseDate})) &amp; &apos;/&apos; &amp; TEXT(DAY({!$Record.CloseDate})) &amp; &apos;/&apos; &amp; TEXT(YEAR({!$Record.CloseDate})))
,120)</expression>
    </formulas>
    <formulas>
        <name>varOpportunityName02</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Account.Name} + &apos;Conversion&apos;, 80)</expression>
    </formulas>
    <formulas>
        <name>varOpportunityName03</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &apos;Conversion&apos;</expression>
    </formulas>
    <formulas>
        <name>varTermRenewal</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Term_Months__c}, &apos;1&apos;, &apos;1 Month&apos;, &apos;3&apos;, &apos;3 Month&apos;, &apos;6&apos;, &apos;6 Month&apos;, &apos;12&apos;, &apos;12 Month&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Flow Opportunity Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Opportunity Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_new_Opportunity_0</name>
        <label>Create a new Opportunity</label>
        <locationX>842</locationX>
        <locationY>8051</locationY>
        <connector>
            <targetReference>Is_Account_sources_null</targetReference>
        </connector>
        <inputReference>varOpportunity02</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_a_new_Opportunity_Contact_Role</name>
        <label>Create a new Opportunity Contact Role</label>
        <locationX>578</locationX>
        <locationY>4235</locationY>
        <connector>
            <targetReference>Is_Change_Order_Cancellation_Type_equal_to_Full_Cancellation</targetReference>
        </connector>
        <inputReference>varOpportunityContactRole</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_a_new_task</name>
        <label>Create a new task</label>
        <locationX>578</locationX>
        <locationY>3827</locationY>
        <connector>
            <targetReference>Does_a_Contact_Role_need_Opportunity</targetReference>
        </connector>
        <inputReference>varNewTask01</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Team_Member</name>
        <label>Create Opportunity Team Member</label>
        <locationX>424</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Needs_to_Update_Campaign</targetReference>
        </connector>
        <inputReference>varOpportunityTeamMember</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Convert_date_to_month</name>
        <label>Convert date to month</label>
        <locationX>578</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>Closed_Probability</targetReference>
        </connector>
        <inputAssignments>
            <field>Close_Month__c</field>
            <value>
                <elementReference>varCloseDate01</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Sources</name>
        <label>Update Account Sources</label>
        <locationX>578</locationX>
        <locationY>8483</locationY>
        <connector>
            <targetReference>Is_Closed_Lost_recently_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Channel__c</field>
            <value>
                <elementReference>$Record.Opportunity_Lead_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>$Record.Opportunity_Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Sub_source__c</field>
            <value>
                <elementReference>$Record.Opportunity_Lead_Sub_Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Campaign</name>
        <label>update Campaign</label>
        <locationX>446</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Select_stage_after_update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>send_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Update_Opportunity_Totals__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Campaign</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Closing_Probability</name>
        <label>Update Closing Probability</label>
        <locationX>446</locationX>
        <locationY>2819</locationY>
        <connector>
            <targetReference>Is_launch_date_null</targetReference>
        </connector>
        <inputAssignments>
            <field>Closing_Probability__c</field>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Closing_Probability_0</name>
        <label>Update Closing Probability</label>
        <locationX>710</locationX>
        <locationY>2819</locationY>
        <connector>
            <targetReference>Is_launch_date_null</targetReference>
        </connector>
        <inputAssignments>
            <field>Closing_Probability__c</field>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_0_0_0</name>
        <label>Update Contact</label>
        <locationX>424</locationX>
        <locationY>8783</locationY>
        <connector>
            <targetReference>Update_Opportunity_Close_Date_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lifecycle_Stage__c</field>
            <value>
                <elementReference>varLifecycleStage</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contacts_0_0</name>
        <label>Update Contacts</label>
        <locationX>314</locationX>
        <locationY>7943</locationY>
        <connector>
            <targetReference>Send_Email_Alert_7</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path6</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lifecycle_Stage__c</field>
            <value>
                <stringValue> Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Failure_Date</name>
        <label>Update Failure Date</label>
        <locationX>578</locationX>
        <locationY>2219</locationY>
        <connector>
            <targetReference>Is_close_date_greather_than_2021</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Failure_to_Launch_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Failure_to_Launch_Date__c</field>
            <value>
                <elementReference>varFailuretoLaunchDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Launche_Date</name>
        <label>Update Launche Date</label>
        <locationX>424</locationX>
        <locationY>3119</locationY>
        <connector>
            <targetReference>Owner_an_active_user</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path4</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Launched__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Close_Date_0_0_0</name>
        <label>Update Opportunity Close Date</label>
        <locationX>424</locationX>
        <locationY>8891</locationY>
        <connector>
            <targetReference>is_Owner_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Fault_Path1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Original_Account_Owner</name>
        <label>update Original Account Owner</label>
        <locationX>578</locationX>
        <locationY>9491</locationY>
        <connector>
            <targetReference>Is_Closed_Lost</targetReference>
        </connector>
        <inputAssignments>
            <field>Original_Account_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price_Book</name>
        <label>Update Price Book</label>
        <locationX>578</locationX>
        <locationY>5543</locationY>
        <connector>
            <targetReference>Copy_1_of_Is_Tier_2_Type_equals_to_eLead</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s3m000004YFuCAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price_Book1</name>
        <label>Update Price Book</label>
        <locationX>578</locationX>
        <locationY>5843</locationY>
        <connector>
            <targetReference>Is_Tier_2_Type_equals_to_eLead</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s3m000004YFEVAA4</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price_Book_0</name>
        <label>Update Price Book</label>
        <locationX>578</locationX>
        <locationY>6143</locationY>
        <connector>
            <targetReference>Is_Direct_Sales</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s1N000004WhBEQA0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price_Book_0_0</name>
        <label>Update Price Book</label>
        <locationX>578</locationX>
        <locationY>6443</locationY>
        <connector>
            <targetReference>Is_Vision_Packages</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s1N000004WhJsQAK</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price_Book_0_0_0</name>
        <label>Update Price Book</label>
        <locationX>578</locationX>
        <locationY>6743</locationY>
        <connector>
            <targetReference>Is_Changing_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price_Book_Override__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s3m000004xJwZAAU</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price_Book_0_0_0_0</name>
        <label>Update Price Book</label>
        <locationX>578</locationX>
        <locationY>7043</locationY>
        <connector>
            <targetReference>Is_Tier_2_Type_HDS</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s1N000007oLwhQAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price_Book_0_0_0_0_0</name>
        <label>Update Price Book</label>
        <locationX>578</locationX>
        <locationY>7343</locationY>
        <connector>
            <targetReference>Is_Ad_Agency</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s3m000004YFEVAA4</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price_Book_0_0_0_0_0_0</name>
        <label>Update Price Book</label>
        <locationX>578</locationX>
        <locationY>7643</locationY>
        <connector>
            <targetReference>Is_Status_Closed_Won</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s3m000004YFEVAA4</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_records_without_conditions</name>
        <label>Update records without conditions</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Is_new_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Demo_Contact_Email__c</field>
            <value>
                <elementReference>$Record.Demo_Contact_s_Email_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varOpportunityName01</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Agreement</name>
        <label>Update Service Agreement</label>
        <locationX>578</locationX>
        <locationY>4535</locationY>
        <connector>
            <targetReference>Is_Change_Order_Cancellation_Type_Equal_to_Saved_or_Upgrade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Agreement__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallRevu_Account_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Agreement_0</name>
        <label>Update Service Agreement</label>
        <locationX>578</locationX>
        <locationY>4835</locationY>
        <connector>
            <targetReference>Is_Update_Tier_Status_equal_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Agreement__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallRevu_Account_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Agreement_1</name>
        <label>Update Service Agreement</label>
        <locationX>578</locationX>
        <locationY>5135</locationY>
        <connector>
            <targetReference>Update_Tier_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Agreement__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tier_Status__c</field>
            <value>
                <elementReference>$Record.Tier_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tier_Status</name>
        <label>Update Tier Status</label>
        <locationX>578</locationX>
        <locationY>5243</locationY>
        <connector>
            <targetReference>Is_Partnership_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Update_Tier_Status__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Trigger_Campaign_Alert_0</name>
        <label>Update Trigger Campaign Alert</label>
        <locationX>578</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Send_Email_Alert_3_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Trigger_Campaign_Alert__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_records_without_conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Automation_Running__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Updated_from_Case__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Fault_Path1</name>
        <label>Copy 1 of Fault Path1</label>
        <locationX>732</locationX>
        <locationY>8999</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Update_Opportunity_Close_Date_0_0_0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Flow Opportunity Object</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path3</name>
        <label>Fault Path3</label>
        <locationX>842</locationX>
        <locationY>1787</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Update_Trigger_Campaign_Alert_0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Flow Opportunity Object</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path4</name>
        <label>Fault Path4</label>
        <locationX>732</locationX>
        <locationY>3227</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Update_Launche_Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Flow Opportunity Object</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path6</name>
        <label>Fault Path6</label>
        <locationX>578</locationX>
        <locationY>8051</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Update_Contacts_0_0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Flow Opportunity Object</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Launch_a_sub_flow_0</name>
        <label>Launch a sub flow</label>
        <locationX>1106</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Is_Loss_Reason_Failure_to_Launch</targetReference>
        </connector>
        <flowName>Update_Campaign_Total_MRR_and_One_Time_Fees</flowName>
        <inputAssignments>
            <name>VarCampaignID</name>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>send_Exception</name>
        <label>send Exception</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>RecipientAddressList</name>
            <value>
                <stringValue>jamalwarren@callrevu.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>update Campaign</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Flow Opportunity Object</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varCase01</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCase02</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewTask01</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varNewTask02</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varNewTask03</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varNewTask04</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varOpportunity01</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpportunity02</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpportunity03</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varOpportunityTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
