force-app/main/default/flows/Flow_Active_Employee_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Start_Conditions</name>
        <label>Start Conditions</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Stop Flow</defaultConnectorLabel>
        <rules>
            <name>Start_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStartConditions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records</targetReference>
            </connector>
            <label>Start Flow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varAuditActiveUser</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>varCellPhone</name>
        <dataType>String</dataType>
        <expression>Substitute(Substitute(Substitute( {!$Record.Cell_Phone__c} ,&quot; &quot;,&quot;-&quot;),&quot;(&quot;,&quot;&quot;),&quot;)&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varStartConditions</name>
        <dataType>Boolean</dataType>
        <expression>ischanged({!$Record.LastModifiedDate}) || isnew()</expression>
    </formulas>
    <interviewLabel>Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Active Employee Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Audit_Active_User_Email__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_First_Name__c</field>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_ID__c</field>
            <value>
                <elementReference>varAuditActiveUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Active_User_Last_Name__c</field>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cell_Phone__c</field>
            <value>
                <elementReference>varCellPhone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_Conditions</targetReference>
        </connector>
        <object>Active_Employees__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
