force-app/main/default/flows/Flow_Survey_Question_Response_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_01</name>
        <label>Send Email Alert 01</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apexErrorEmail</name>
            <value>
                <stringValue>kristiejaecklein@callrevu.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <stringValue>0033m000039kw0WAAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Survey_Escalation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>noreply-sf@callrevu.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>A Survey response has been escalated to you!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <stringValue>MattHeher@callrevu.com, AliciaKlyn@callrevu.com, Jimmenard@callrevu.com, NicoleDavis@callrevu.com, TaylorMitchell@callrevu.com, KristiejaeckleiN@callrevu.com, rebeccahughes@callrevu.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TreatBodiesAsTemplate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>GLSendEmail__SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Escalation_Needed</name>
        <label>Escalation Needed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Survey_Escalations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Response_Contains</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND NOT 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Response__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Unlikely</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Response__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dissatisfied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Response__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Neutral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Escalated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey_Question__r.Enable_Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey_Question__r.Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Free Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Escalate_to_Manager</targetReference>
            </connector>
            <label>Response Contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_Escalation_0</name>
        <label>Survey Escalation</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Survey_NPS_Score_Low_0</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Response__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Unlikely</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Escalate_to_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Escalated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Response__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dissatisfied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Escalated</targetReference>
            </connector>
            <label>Survey NPS Score Low</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_Escalations</name>
        <label>Survey Escalations</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Survey_Escalation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parse_Survey_Value_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Response__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Escalated__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TEST__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Survey_Rating_0</targetReference>
            </connector>
            <label>Parse Survey Value</label>
        </rules>
    </decisions>
    <description>Update juancruzansaldi@callrevu.com email address with kristiejaecklein@callrevu.com</description>
    <environments>Default</environments>
    <formulas>
        <name>varSurveyRaiting</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Response__c}, &apos;5 – Very Satisfied&apos;, &apos;5&apos;, &apos;4 - Satisfied&apos;, &apos;4&apos;, &apos;3 - Neutral&apos;, &apos;3&apos;, &apos;2 - Dissatisfied&apos;, &apos;2&apos;, &apos;1 – Very Dissatified&apos;, &apos;1&apos;, &apos;Extremly Likely&apos;, &apos;5&apos;, &apos;Likely&apos;, &apos;4&apos;, &apos;Neutral&apos;, &apos;3&apos;, &apos;Unlikely&apos;, &apos;2&apos;, &apos;Extremly Unlikely&apos;, &apos;1&apos;, NULL)</expression>
    </formulas>
    <interviewLabel>Flow Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Survey Question Response Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Escalate_to_Manager</name>
        <label>Update Escalate to Manager</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Survey_Escalations</targetReference>
        </connector>
        <inputAssignments>
            <field>Escalate_to_Manager__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Escalated</name>
        <label>Update Escalated</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Send_Email_Alert_01</targetReference>
        </connector>
        <inputAssignments>
            <field>Escalated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Rating_0</name>
        <label>Update Survey Rating</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Survey_Escalation_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Survey_Rating__c</field>
            <value>
                <elementReference>varSurveyRaiting</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Escalation_Needed</targetReference>
        </connector>
        <object>SurveyQuestionResponse__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
