force-app/main/default/flows/Gainsight_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assignment_data_to_create_new_task</name>
        <label>Assignment data to create new task</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>varTask01.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDueDate02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Batch_01.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Action needed - 15 Days Post Launch Check-in!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Batch_01.PM_Assigned__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CTA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask01.Originating_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Batch_01.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_values_to_Collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_data_to_create_new_task_Service_Agreement</name>
        <label>Assignment data to create new task (Service Agreement)</label>
        <locationX>138</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>varTask02.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDueDate03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Batch_02.Current_Case__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Action Needed - First QBR for new Dealer!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Batch_02.Current_Case__r.PM_Assigned__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CTA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask02.Originating_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Batch_02.Current_Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_values_to_Collection_variable_Service_Agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_data_to_create_new_task_Service_Agreement_2</name>
        <label>Assignment data to create new task (Service Agreement)</label>
        <locationX>402</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>varTask03.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDueDate03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Batch_02.Enrollment_Case__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Action Needed - First QBR for new Dealer!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Batch_02.Enrollment_Case__r.PM_Assigned__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CTA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTask03.Originating_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Batch_02.Enrollment_Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_values_to_Collection_variable_Service_Agreement_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_new_values_of_case_field</name>
        <label>Assignment new values of case field</label>
        <locationX>138</locationX>
        <locationY>2016</locationY>
        <assignmentItems>
            <assignToReference>varCase01.X15_Day_Post_Launch_CTA_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Batch_01_01.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_values_to_Collection_variable_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_new_values_of_case_field_2</name>
        <label>Assignment new values of case field</label>
        <locationX>138</locationX>
        <locationY>2424</locationY>
        <assignmentItems>
            <assignToReference>varCase02.First_QBR_CTA_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Batch_02_01</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_values_to_Collection_variable_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_new_values_of_service_agreement_field</name>
        <label>Assignment new values of service agreement field</label>
        <locationX>138</locationX>
        <locationY>2832</locationY>
        <assignmentItems>
            <assignToReference>varServiceAgreement01.First_QBR_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreement01.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Batch_02_02.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_values_to_Collection_variable_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_values_to_Collection_variable</name>
        <label>Assignment values to Collection variable</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>varTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTask01</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Batch_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_values_to_Collection_variable_01</name>
        <label>Assignment values to Collection variable</label>
        <locationX>138</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>varCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCase01</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Batch_01_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_values_to_Collection_variable_2</name>
        <label>Assignment values to Collection variable</label>
        <locationX>138</locationX>
        <locationY>2532</locationY>
        <assignmentItems>
            <assignToReference>varCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCase02</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Batch_02_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_values_to_Collection_variable_3</name>
        <label>Assignment values to Collection variable</label>
        <locationX>138</locationX>
        <locationY>2940</locationY>
        <assignmentItems>
            <assignToReference>varServiceAgreements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varServiceAgreement01</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Batch_02_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_values_to_Collection_variable_Service_Agreement</name>
        <label>Assignment values to Collection variable (Service Agreement)</label>
        <locationX>138</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>varTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTask02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Batch_02.Current_Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Batch_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_values_to_Collection_variable_Service_Agreement_2</name>
        <label>Assignment values to Collection variable (Service Agreement)</label>
        <locationX>402</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>varTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTask03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Batch_02.Enrollment_Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Batch_02</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>402</locationX>
        <locationY>1308</locationY>
        <defaultConnector>
            <targetReference>Loop_Batch_02</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Batch_02.Current_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_data_to_create_new_task_Service_Agreement</targetReference>
            </connector>
            <label>Current Case</label>
        </rules>
        <rules>
            <name>Enrollment_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Batch_02.Enrollment_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_data_to_create_new_task_Service_Agreement_2</targetReference>
            </connector>
            <label>Enrollment Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_weekday_is_today</name>
        <label>What weekday is today?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Weekend</defaultConnectorLabel>
        <rules>
            <name>Workday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forWeekDay</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forWeekDay</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Enrollment_Record_Type</targetReference>
            </connector>
            <label>Workday</label>
        </rules>
    </decisions>
    <description>Updated with simplified Users</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate15Days</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 15</expression>
    </formulas>
    <formulas>
        <name>forDueDate</name>
        <dataType>Date</dataType>
        <expression>IF(WEEKDAY(TODAY() + 1) = 1, TODAY() + 2, IF(WEEKDAY(TODAY() + 1) = 7, TODAY() + 3, TODAY() + 1))</expression>
    </formulas>
    <formulas>
        <name>forDueDate02</name>
        <dataType>Date</dataType>
        <expression>{!Loop_Batch_01.ClosedDate} + 15</expression>
    </formulas>
    <formulas>
        <name>forDueDate03</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Loop_Batch_02.Enrollment_Case__c})), {!Loop_Batch_02.Enrollment_Case__r.ClosedDate} + 15, IF(NOT(ISBLANK({!Loop_Batch_02.Enrollment_Case__c})), {!Loop_Batch_02.Enrollment_Case__r.ClosedDate} + 15, NOW() + 15))</expression>
    </formulas>
    <formulas>
        <name>forLastQuartelyReview</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 60</expression>
    </formulas>
    <formulas>
        <name>forLaunchDate45days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 45</expression>
    </formulas>
    <formulas>
        <name>forLaunchDate90days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <formulas>
        <name>forNow5days</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 5</expression>
    </formulas>
    <formulas>
        <name>forOwner</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Loop_Batch_02.Current_Case__c})), {!Loop_Batch_02.Current_Case__r.PM_Assigned__c}, IF(NOT(ISBLANK({!Loop_Batch_02.Enrollment_Case__c})), {!Loop_Batch_02.Enrollment_Case__r.PM_Assigned__c},{!Loop_Batch_02.Service_Location__r.OwnerId}))</expression>
    </formulas>
    <formulas>
        <name>forWeekDay</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY(TODAY())</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Gainsight Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gainsight Flow</label>
    <loops>
        <name>Loop_Batch_01</name>
        <label>Loop Batch 01</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_Batch_01</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_data_to_create_new_task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Alicia_Klyn_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Batch_01_01</name>
        <label>Loop Batch 01-01</label>
        <locationX>50</locationX>
        <locationY>1908</locationY>
        <collectionReference>Get_Batch_01</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_new_values_of_case_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Batch_02_01</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Batch_02</name>
        <label>Loop Batch 02</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <collectionReference>Get_Batch_02</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Batch_02_01</name>
        <label>Loop Batch 02-01</label>
        <locationX>50</locationX>
        <locationY>2316</locationY>
        <collectionReference>varCaseIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_new_values_of_case_field_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Batch_02_02</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Batch_02_02</name>
        <label>Loop Batch 02-02</label>
        <locationX>50</locationX>
        <locationY>2724</locationY>
        <collectionReference>Get_Batch_02</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_new_values_of_service_agreement_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_tasks</name>
        <label>Create tasks</label>
        <locationX>50</locationX>
        <locationY>1800</locationY>
        <connector>
            <targetReference>Loop_Batch_01_01</targetReference>
        </connector>
        <inputReference>varTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Alicia_Klyn_Id</name>
        <label>Get Alicia Klyn Id</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Batch_02</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alicia Klyn</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Batch_01</name>
        <label>Get Batch 01</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Batch_01</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 5 AND 6 AND (4 OR 7)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enrollment_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ClosedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2023-10-01T04:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>ClosedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CloseDate15Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5 - Needs Coordinator Assigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>PM_Assigned__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>X15_Day_Post_Launch_CTA_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9 - Launch Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Batch_02</name>
        <label>Get Batch 02</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Batch_02</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Launch_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>forLaunchDate45days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Launch_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>forLaunchDate90days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Quarterly_Review__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Strategic_Account_M__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Alicia_Klyn_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_QBR_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enrollment_Record_Type</name>
        <label>Get Enrollment Record Type</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Batch_01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_fields</name>
        <label>Update Case fields</label>
        <locationX>50</locationX>
        <locationY>3132</locationY>
        <connector>
            <targetReference>Update_Service_Agreement_Fields</targetReference>
        </connector>
        <inputReference>varCases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Agreement_Fields</name>
        <label>Update Service Agreement Fields</label>
        <locationX>50</locationX>
        <locationY>3240</locationY>
        <inputReference>varServiceAgreement01</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_weekday_is_today</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-29</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varCase01</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCase02</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varServiceAgreement01</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varServiceAgreements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varTask01</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTask02</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTask03</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTask04</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
