force-app/main/default/flows/getOpenEnrollmentCaseCountforAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>assignCountofOpenEnrollmentCases</name>
        <label>assignCountofOpenEnrollmentCases</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varOpenEnrollmentCaseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getOpenEnrollmentCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseEnrollmentCountField</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>returnAccountToUpdate</name>
        <label>returnAccountToUpdate</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>accountToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varThisAccountRecord</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateCaseEnrollmentCountField</name>
        <label>UpdateCaseEnrollmentCountField</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varThisAccountRecord.of_Open_Enrollment_Cases__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpenEnrollmentCaseCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>returnAccountToUpdate</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>getOpenEnrollmentCaseCountforAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>getOpenEnrollmentCaseCountforAccount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOpenEnrollmentCases</name>
        <label>getOpenEnrollmentCases</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCountofOpenEnrollmentCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEnrollmentRTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varThisAccountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpenEnrollmentCases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varEnrollmentRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpenEnrollmentCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varThisAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
