force-app/main/default/flows/Lead_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Lead</name>
        <label>Convert Lead</label>
        <locationX>50</locationX>
        <locationY>2186</locationY>
        <actionName>LeadConversionController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>CreatedAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>CreatedContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>doNotCreateOpportunity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadConversionController</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Convert_Lead</name>
        <label>Copy 1 of Convert Lead</label>
        <locationX>314</locationX>
        <locationY>2294</locationY>
        <actionName>LeadConversionController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Opportunity_Records1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>CreatedAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>CreatedContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>doNotCreateOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>CreatedOpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadConversionController</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Update_Account_Id</name>
        <label>Update Account Id</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CreatedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Create_New_Contact_Is_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Id</name>
        <label>Update Contact Id</label>
        <locationX>710</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>CreatedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactSearch.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Create_New_Opportunity_Is_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Id</name>
        <label>Update Opportunity Id</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CreatedOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunities.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Create_New_Is_Selected</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChooseExistingAccount</name>
        <choiceText>Choose Existing Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choose Existing Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChooseExistingContact</name>
        <choiceText>Choose Existing Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choose Existing Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChooseExistingOpportunity</name>
        <choiceText>Choose Existing Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choose Existing Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConvertedStatus</name>
        <choiceText>Convert</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Convert</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateNewAccount</name>
        <choiceText>Create New Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateNewContact</name>
        <choiceText>Create New Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateNewOpportunity</name>
        <choiceText>Create New Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>DoNotCreateOpportunityUponConversion</name>
        <choiceText>Do Not Create Opportunity Upon Conversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Do Not Create Opportunity Upon Conversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>User</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.FirstName} &lt;/span&gt;{!$User.LastName}</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>Constant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Create_New_Contact_Is_Selected</name>
        <label>Check If Create New Contact Is Selected</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Contact_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateNewContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Records</targetReference>
            </connector>
            <label>Create Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Create_New_Is_Selected</name>
        <label>Check If Create New Account Is Selected</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Account_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateNewAccount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Records</targetReference>
            </connector>
            <label>New Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Create_New_Opportunity_Is_Selected</name>
        <label>Check If Create New Opportunity Is Selected</label>
        <locationX>446</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Convert_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Opportunity</defaultConnectorLabel>
        <rules>
            <name>Do_not_Create_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Opportunity_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DoNotCreateOpportunityUponConversion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead</targetReference>
            </connector>
            <label>Do not Create Opportunity</label>
        </rules>
        <rules>
            <name>Create_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Opportunity_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateNewOpportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Records</targetReference>
            </connector>
            <label>Create Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_is_selected</name>
        <label>Opportunity is selected ?</label>
        <locationX>446</locationX>
        <locationY>2942</locationY>
        <defaultConnector>
            <targetReference>AccountContactOpportunityScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Opportunity_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DoNotCreateOpportunityUponConversion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountContactScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>This Flow Converts the Lead into an Account , Contact and Opportunity clone + reduced opportunity RTs+ updated link base urls to production</description>
    <dynamicChoiceSets>
        <name>AccountOpportunities</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>CreatedOpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccountRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>NewAccountRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>NewContactRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vision Packages</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change Order/Cancellation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier2</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>NewOpportunityRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NotChooseExistingOpportunity</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <name>NotCreateNewOpportunity</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Conversion Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Records</name>
        <label>Create Account Records</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>CreatedAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_If_Create_New_Contact_Is_Selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultMail1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NewAccountRTId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Records</name>
        <label>Create Contact Records</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <assignRecordIdToReference>CreatedContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_If_Create_New_Opportunity_Is_Selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultMail2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CreatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NewContactRTId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Records</name>
        <label>Create Opportunity Records</label>
        <locationX>314</locationX>
        <locationY>2186</locationY>
        <assignRecordIdToReference>CreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Convert_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultMail3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CreatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OpportunityFields.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CreatedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NewOpportunityRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualify</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>446</locationX>
        <locationY>2726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>446</locationX>
        <locationY>2834</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_is_selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Configuration_Settings</name>
        <label>Get Flow Configuration Settings</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Layout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Configuration_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_records</name>
        <label>Get Lead records</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Flow_Configuration_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Records</name>
        <label>Get Opportunity Records</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OppRecordSet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Records1</name>
        <label>Get Opportunity Records</label>
        <locationX>314</locationX>
        <locationY>2402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_Layout</name>
        <label>Account Layout</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Records</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <fieldText>Account</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Account_Option</name>
                    <choiceReferences>ChooseExistingAccount</choiceReferences>
                    <choiceReferences>CreateNewAccount</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ChooseExistingAccount</defaultSelectedChoiceReference>
                    <fieldText>Select an Account Option</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Search</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Account_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ChooseExistingAccount</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>{!Get_Lead_records.Company}-</stringValue>
                    </defaultValue>
                    <fieldText>Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Account_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CreateNewAccount</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Record_Type</name>
                    <choiceReferences>AccountRecordTypes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Flow_Configuration_Settings.Account_Default_Record_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Account_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CreateNewAccount</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Contact</name>
            <fieldText>Contact</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Contact_Option</name>
                    <choiceReferences>ChooseExistingContact</choiceReferences>
                    <choiceReferences>CreateNewContact</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ChooseExistingContact</defaultSelectedChoiceReference>
                    <fieldText>Select a Contact Option</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactSearch</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Key_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact Search</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordIds</name>
                        <value>
                            <elementReference>ContactSearch.recordIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>ExistingContactId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Contact_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ChooseExistingContact</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Lead_records.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Contact_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CreateNewContact</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Lead_records.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Contact_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CreateNewContact</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Record_Type1</name>
                    <choiceReferences>ContactRecordTypes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Flow_Configuration_Settings.Default_Contact_Record_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Contact_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CreateNewContact</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>AccountLookup.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Account_Name</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Record_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Find or Create Opp</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AccountContactOpportunityScreen</name>
        <label>AccountContactOpportunityScreen</label>
        <locationX>578</locationX>
        <locationY>3050</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConvertedLead</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(76, 61, 61);&quot;&gt;﻿Your Lead has been Converted&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountContactOpportunityScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AccountContactOpportunityScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadConverted1</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>LeadConversionImage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>5cm</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageCSS</name>
                        <value>
                            <stringValue>box-shadow: 10px 5px 5px white</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AccountContactOpportunityScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AccountContactOpportunityScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountContactOpportunityScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Acc</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(131, 121, 121); font-size: 18px;&quot;&gt;ACCOUNT&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LeadAcc</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>LeadAccountImage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>1cm</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AccName</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(13, 142, 234); font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;https://callrevu.lightning.force.com/lightning/r/Account/{!CreatedAccountId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(13, 142, 234); font-size: 14px;&quot;&gt;{!Get_Account_Records.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Phone &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Account_Records.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Billing Adresss &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account_Records.BillingStreet}, {!Get_Account_Records.BillingCity}, {!Get_Account_Records.BillingState} {!Get_Account_Records.BillingPostalCode}, {!Get_Account_Records.BillingCountry}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Website &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Account_Records.Website}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountContactOpportunityScreen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Con</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(131, 121, 121); font-size: 18px;&quot;&gt;CONTACT&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ConImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>LeadContactImage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>1cm</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ConName</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://callrevu.lightning.force.com/lightning/r/Contact/{!CreatedContactId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Contact_Records.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Contact Title &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Contact_Records.Title}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Account Name &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Contact_Records.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Phone &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Contact_Records.Account.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Mobile &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Contact_Records.MobilePhone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Email &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Contact_Records.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountContactOpportunityScreen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opp</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(131, 121, 121); font-size: 18px;&quot;&gt;OPPORTUNITY&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OppImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>LeadOpportunityImage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>1cm</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>OppName</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://callrevu.lightning.force.com/lightning/r/Opportunity/{!CreatedOpportunityId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Opportunity_Records1.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(39, 38, 40); font-size: 14px;&quot;&gt;Account Name &lt;/span&gt;&lt;span style=&quot;color: rgb(13, 142, 234); font-size: 14px;&quot;&gt;{!Get_Opportunity_Records1.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(39, 38, 40); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Close Date &lt;/span&gt;&lt;span style=&quot;color: rgb(13, 142, 234); font-size: 14px;&quot;&gt;{!Get_Opportunity_Records1.CloseDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(39, 38, 40); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;MRR &lt;/span&gt;&lt;span style=&quot;color: rgb(13, 142, 234); font-size: 14px;&quot;&gt;{!Get_Opportunity_Records1.MRR__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(39, 38, 40); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Closing Probability &lt;/span&gt;&lt;span style=&quot;color: rgb(13, 142, 234); font-size: 14px;&quot;&gt;{!Get_Opportunity_Records1.Closing_Probability__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(39, 38, 40); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Opportunity Owner&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(13, 142, 234); font-size: 14px;&quot;&gt;{!Get_Opportunity_Records1.Opportunity_Owner_Name__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AccountContactScreen</name>
        <label>AccountContactScreen</label>
        <locationX>314</locationX>
        <locationY>3050</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ConvertedLead</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(76, 61, 61);&quot;&gt;﻿Your Lead has been Converted&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_LeadConverted1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>LeadConversionImage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>5cm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AccountContactScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AccountContactScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountContactScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Acc</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(131, 121, 121);&quot;&gt;ACCOUNT&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_LeadAcc</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>LeadAccountImage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>1cm</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_AccName</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;https://callrevu.lightning.force.com/lightning/r/Account/{!CreatedAccountId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Account_Records.Name}&lt;/a&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Phone &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Account_Records.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Billing Adresss &lt;/span&gt;&lt;span style=&quot;color: rgb(13, 142, 234);&quot;&gt;{!Get_Account_Records.BillingStreet}, {!Get_Account_Records.BillingCity}, {!Get_Account_Records.BillingState} {!Get_Account_Records.BillingPostalCode}, {!Get_Account_Records.BillingCountry}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Website &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Account_Records.Website}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountContactScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Con</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(131, 121, 121); font-size: 18px;&quot;&gt;CONTACT&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_ConImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>LeadContactImage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>1cm</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_ConName</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://callrevu.lightning.force.com/lightning/r/Contact/{!CreatedContactId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Contact_Records.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Contact Title &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Contact_Records.Title}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Account Name &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Contact_Records.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Phone &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Contact_Records.Account.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Mobile &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Contact_Records.MobilePhone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Email &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(13, 142, 234);&quot;&gt;{!Get_Contact_Records.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Errors</name>
        <label>Copy 1 of Errors</label>
        <locationX>446</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Occured During Contact Creation&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Errors</name>
        <label>Copy 2 of Errors</label>
        <locationX>578</locationX>
        <locationY>2402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Occured During Opportunity Creation&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Errors</name>
        <label>Copy 3 of Errors</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Occured During Account Creation&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Creation</name>
        <label>Opportunity Creation</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opportunity_Id</targetReference>
        </connector>
        <fields>
            <name>Opportunity</name>
            <fieldText>Opportunity</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Opportunity_Option</name>
                    <choiceReferences>CreateNewOpportunity</choiceReferences>
                    <choiceReferences>ChooseExistingOpportunity</choiceReferences>
                    <choiceReferences>DoNotCreateOpportunityUponConversion</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>CreateNewOpportunity</defaultSelectedChoiceReference>
                    <fieldText>Select an Opportunity Option</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opportunities</name>
                    <choiceReferences>AccountOpportunities</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Search Opportunities</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Opportunity_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ChooseExistingOpportunity</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>AccountLookup.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NoOpportunitiesFound</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(186, 44, 44);&quot;&gt;No Opportunities were found for the Selected Account.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity_Records</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Select_Opportunity_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ChooseExistingOpportunity</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NewAccountCreated</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(173, 40, 40);&quot;&gt;If the &quot;New Account&quot; option is selected, an existing opportunity cannot be chosen.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Opportunity_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ChooseExistingOpportunity</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Select_Account_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CreateNewAccount</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Opportunity_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Opportunity_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Create New Opportunity</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Record_Type2</name>
                    <choiceReferences>OpportunityRecordTypes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Flow_Configuration_Settings.Opportunity_Default_Record_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Opportunity_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Create New Opportunity</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>OpportunityFields.CloseDate</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Opportunity_Option</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Create New Opportunity</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opportunity_Creation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Creation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Record_Owner1</name>
                    <choiceReferences>User</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>User</defaultSelectedChoiceReference>
                    <fieldText>Record Owner</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Creation_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Converted_Status1</name>
                    <choiceReferences>ConvertedStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>ConvertedStatus</defaultSelectedChoiceReference>
                    <fieldText>Converted Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Convert</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>FaultMail1</name>
        <label>FaultMail1</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_3_of_Errors</targetReference>
        </connector>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create Account Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Lead Conversion </stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FaultMail2</name>
        <label>FaultMail2</label>
        <locationX>446</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Copy_1_of_Errors</targetReference>
        </connector>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create Contact Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Lead Conversion </stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FaultMail3</name>
        <label>FaultMail3</label>
        <locationX>578</locationX>
        <locationY>2294</locationY>
        <connector>
            <targetReference>Copy_2_of_Errors</targetReference>
        </connector>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create Opportunity Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Lead Conversion </stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>AccountDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Name : {!Get_Account_Records.Name}&lt;/p&gt;&lt;p&gt;Phn No. {!Get_Account_Records.Phone}&lt;/p&gt;&lt;p&gt;Address {!Get_Account_Records.BillingAddress}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CreatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NewAccountRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContactRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOpportunityRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppRecordSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
