force-app/main/default/flows/leadAssignmentSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Audi_Lead_Owner</name>
        <label>Audi Lead Owner</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>thisLeadRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051N000006DMQ0QAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_new_Lead_HS_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Book_a_Demo_Default_Owner</name>
        <label>Book a Demo Default Owner</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>thisLeadRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005Um0000041FluIAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_new_Lead_HS_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Book_a_Demo_Owner</name>
        <label>Book a Demo Owner</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>thisLeadRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>foundStateTerritory.UserId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_new_Lead_HS_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Us_Lead_Owner</name>
        <label>Contact Us Lead Owner</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>thisLeadRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005Um0000041FluIAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_new_Lead_HS_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Lead_Owner</name>
        <label>Default Lead Owner</label>
        <locationX>2426</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>thisLeadRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadDefaultOwnerIdValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_new_Lead_HS_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>eBook_Lead_Owner</name>
        <label>eBook Lead Owner</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>thisLeadRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005Um0000041FluIAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_new_Lead_HS_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GM_Lead_Owner</name>
        <label>GM Lead Owner</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>thisLeadRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053m00000EULVMAA5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_new_Lead_HS_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Industry_Report_Lead_Owner</name>
        <label>Industry Report Lead Owner</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>thisLeadRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005Um0000041FluIAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_new_Lead_HS_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Phone_Skills_Lead_Owner</name>
        <label>Phone Skills Lead Owner</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>thisLeadRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005Um0000041FluIAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_new_Lead_HS_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Support_Ticket_Lead_Owner_and_Close</name>
        <label>Support Ticket Lead Owner and Close</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>thisLeadRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051N000006LkkhQAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisLeadRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisLeadRecord.Unqualified_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support Issue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_new_Lead_HS_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_new_Lead_HS_fields</name>
        <label>update new Lead HS fields</label>
        <locationX>1238</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>thisLeadRecord.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CallRevu.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisLeadRecord.Lead_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web Form/HubSpot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>saveChangesforLead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>leadAssignmentOwner</name>
        <label>leadAssignmentOwner</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Default_Lead_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Audi_Enterprise_Call_Processing_Program_GM_OEM_Form</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>thisLeadRecord.HS_Recent_Conversion__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OEM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisLeadRecord.HS_Recent_Conversion__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Audi Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audi_Lead_Owner</targetReference>
            </connector>
            <label>Audi Enterprise Call Processing Program: GM OEM Form</label>
        </rules>
        <rules>
            <name>Book_a_Demo_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisLeadRecord.HS_Recent_Conversion__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Demo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Assignment_Territories_States</targetReference>
            </connector>
            <label>Book a Demo Today</label>
        </rules>
        <rules>
            <name>Contact_Us_Contact_Us_Main</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisLeadRecord.HS_Recent_Conversion__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact Us</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Us_Lead_Owner</targetReference>
            </connector>
            <label>Contact Us: Contact Us_Main</label>
        </rules>
        <rules>
            <name>General_Motors_BDC_Tools_Digital_Dealer_Solutions_GM_OEM_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisLeadRecord.HS_Recent_Conversion__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>General Motors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GM_Lead_Owner</targetReference>
            </connector>
            <label>General Motors BDC Tools &amp; Digital Dealer Solutions: GM OEM Form</label>
        </rules>
        <rules>
            <name>CallRevu_2024_Industry_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisLeadRecord.HS_Recent_Conversion__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Industry Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Industry_Report_Lead_Owner</targetReference>
            </connector>
            <label>CallRevu 2024 Industry Report</label>
        </rules>
        <rules>
            <name>Automotive_Industry_Insights_Innovations_Insights_Innovations_eBook_2025</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisLeadRecord.HS_Recent_Conversion__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>eBook</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eBook_Lead_Owner</targetReference>
            </connector>
            <label>Automotive Industry Insights &amp; Innovations: Insights &amp; Innovations eBook 2025</label>
        </rules>
        <rules>
            <name>A_Guide_for_Automotive_Dealerships_Phone_Skills_101_eBook_2024</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisLeadRecord.HS_Recent_Conversion__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Phone Skills 101</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Skills_Lead_Owner</targetReference>
            </connector>
            <label>A Guide for Automotive Dealerships: Phone Skills 101 eBook 2024</label>
        </rules>
        <rules>
            <name>Support_Ticket_Submission_Submit_a_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisLeadRecord.HS_Recent_Conversion__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Support Ticket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Ticket_Lead_Owner_and_Close</targetReference>
            </connector>
            <label>Support Ticket Submission: Submit a Ticket</label>
        </rules>
    </decisions>
    <decisions>
        <name>State_Territory_Record_Found</name>
        <label>State/Territory Record Found?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Book_a_Demo_Default_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match Found</defaultConnectorLabel>
        <rules>
            <name>State_Territory_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundStateTerritory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Book_a_Demo_Owner</targetReference>
            </connector>
            <label>State/Territory Found</label>
        </rules>
    </decisions>
    <description>Nathan references updated to Jon Nahnybida + territory based on HS State first and then HS IP state second</description>
    <environments>Default</environments>
    <formulas>
        <name>properAddressState</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!thisLeadRecord.State}) =2,
UPPER({!thisLeadRecord.State}),
INITCAP({!thisLeadRecord.State})
)</expression>
    </formulas>
    <formulas>
        <name>properStateTerritory</name>
        <dataType>String</dataType>
        <expression>IF(LEN(TEXT({!thisLeadRecord.HS_State_Region__c})) &lt;&gt; 0,
     IF(LEN(TEXT({!thisLeadRecord.HS_State_Region__c})) = 2,
     UPPER(TEXT({!thisLeadRecord.HS_State_Region__c})),
     INITCAP(TEXT({!thisLeadRecord.HS_State_Region__c}))
     ),
     IF(LEN({!thisLeadRecord.HS_IP_State_Region__c}) = 2,
     UPPER({!thisLeadRecord.HS_IP_State_Region__c}),
     INITCAP({!thisLeadRecord.HS_IP_State_Region__c})
	 )
)</expression>
    </formulas>
    <interviewLabel>leadAssignmentSubflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>leadAssignmentSubflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Assignment_Territories_States</name>
        <label>Search Assignment Territories/States</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>State_Territory_Record_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>State_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>properStateTerritory</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>properAddressState</elementReference>
            </value>
        </filters>
        <object>Demo_Lead_Assignment__mdt</object>
        <outputReference>foundStateTerritory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId__c</queriedFields>
        <queriedFields>User_Name__c</queriedFields>
        <queriedFields>State_Territory__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>saveChangesforLead</name>
        <label>saveChangesforLead</label>
        <locationX>1238</locationX>
        <locationY>842</locationY>
        <faultConnector>
            <targetReference>Fault_Path_Flow_Flow_1</targetReference>
        </faultConnector>
        <inputReference>thisLeadRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>leadAssignmentOwner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fault_Path_Flow_Flow_1</name>
        <label>Fault Path Flow Flow 1</label>
        <locationX>2690</locationX>
        <locationY>950</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>RecipientAddressList</name>
            <value>
                <stringValue>jamalwarren@callrevu.com, kristiejaecklein@callrevu.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>leadAssignmentSubflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>leadAssignmentSubflow</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>foundStateTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Demo_Lead_Assignment__mdt</objectType>
    </variables>
    <variables>
        <name>leadDefaultOwnerIdValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisLeadHSConversion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thisLeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
