force-app/main/default/flows/manageOppProductMRRAmount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>addTotalPricetoTotal</name>
        <label>addTotalPricetoTotal</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>totalMRRPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughElements.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughElements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>populateMRR2Field</name>
        <label>populateMRR2Field</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>thisParentOpportunity.MRR2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalMRRPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>saveOpportunity</targetReference>
        </connector>
    </assignments>
    <description>Used to update the MRR Amount on the Opportunity based on the Opportunity Product - v53 api version</description>
    <environments>Default</environments>
    <interviewLabel>manageOppProductMRRAmount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>manageOppProductMRRAmount</label>
    <loops>
        <name>loopThroughElements</name>
        <label>loopThroughElements</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>getOppProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addTotalPricetoTotal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>populateMRR2Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOppProducts</name>
        <label>getOppProducts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughElements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisParentOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MRR_Product_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>saveOpportunity</name>
        <label>saveOpportunity</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <faultConnector>
            <targetReference>Fault_Path_Flow_Flow_1</targetReference>
        </faultConnector>
        <inputReference>thisParentOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOppProducts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fault_Path_Flow_Flow_1</name>
        <label>Fault Path Flow Flow 1</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>RecipientAddressList</name>
            <value>
                <stringValue>jamalwarren@callrevu.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>manageOppProductMRRAmount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>manageOppProductMRRAmount</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>thisParentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>totalMRRPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
