force-app/main/default/flows/New_Case_Creation_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Internal_Case_Creation_Alert</name>
        <label>Send Internal Case Creation Alert</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Case.Internal_Case_Creation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Internal_Case_Creation_Alert</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>check_if_Support_Case</name>
        <label>check if Support Case</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_a_Support_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Flow_Configuration_Record.Case_Support_RT_Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Internal_Case_Creation_Alert</targetReference>
            </connector>
            <label>is a Support Case</label>
        </rules>
    </decisions>
    <description>christophercarcamo@callrevu.com = 0058V00000DkFT3QAN + freddiebaur@callrevu.com = 005Um000002xlbFIAQ</description>
    <environments>Default</environments>
    <interviewLabel>New Case Creation Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Case Creation Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Flow_Configuration_Record</name>
        <label>get Flow Configuration Record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_Support_Case</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Configuration_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Flow_Configuration_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactEmail</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>christophercarcamo@callrevu.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactEmail</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>freddiebaur@callrevu.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0058V00000DkFT3QAN</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005Um000002xlbFIAQ</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
