force-app/main/default/flows/oppCleanUpProcess_MRR2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>addToUpdateList</name>
        <label>addToUpdateList</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>oppsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>checkMRRAlignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkMRRAlignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateMRRwithMRR2</name>
        <label>updateMRRwithMRR2</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>checkMRRAlignment.MRR2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkMRRAlignment.MRR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToUpdateList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIfMRRsMatch</name>
        <label>checkIfMRRsMatch</label>
        <locationX>396</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>checkMRRAlignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MRR_fields_do_NOT_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkMRRAlignment.MRR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>checkMRRAlignment.MRR2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateMRRwithMRR2</targetReference>
            </connector>
            <label>MRR fields do NOT match</label>
        </rules>
    </decisions>
    <description>Clean up process to align MRR2 field with MRR roll-up field - v53 api version</description>
    <environments>Default</environments>
    <formulas>
        <name>recentlyModified</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 2</expression>
    </formulas>
    <interviewLabel>oppCleanUpProcess-MRR2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>oppCleanUpProcess-MRR2</label>
    <loops>
        <name>checkMRRAlignment</name>
        <label>checkMRRAlignment</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>getOpportunityList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkIfMRRsMatch</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAllOpps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOpportunityList</name>
        <label>getOpportunityList</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkMRRAlignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Line_Item_Count__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>recentlyModified</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAllOpps</name>
        <label>updateAllOpps</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <inputReference>oppsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunityList</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-27</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_checkMRRsMatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
