force-app/main/default/flows/Opportunity_Update_Product_Checkboxes_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Opportunity Update Product Checkboxes Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Update Product Checkboxes Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_All_Opportunity_Products_Date_Time_field_False</name>
        <label>Update All Opportunity Products Date/Time field: False</label>
        <locationX>176</locationX>
        <locationY>1043</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>All_Opportunity_Products__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>All_Opp_Products_Chkbox_Selected__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>All_Opp_Products_Chkbox_Selected__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_Opportunity_Products_Date_Time_field_True</name>
        <label>Update All Opportunity Products Date/Time field: True</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_All_Opportunity_Products_Date_Time_field_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>All_Opportunity_Products__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>All_Opp_Products_Chkbox_Selected__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>All_Opp_Products_Chkbox_Selected__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Analytics_Date_Time_field_False</name>
        <label>Update Analytics Date/Time field: False</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Update_Capture_Date_Time_field_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Analytics__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Analytics_Chkbox_Selected__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Analytics_Chkbox_Selected__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Analytics_Date_Time_field_True</name>
        <label>Update Analytics Date/Time field: True</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Update_Analytics_Date_Time_field_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Analytics__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Analytics_Chkbox_Selected__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Analytics_Chkbox_Selected__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Capture_Date_Time_field_False</name>
        <label>Update Capture Date/Time field: False</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Update_Phones_Date_Time_field_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Capture__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Capture_Chkbox_Selected__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Capture_Chkbox_Selected__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Capture_Date_Time_field_True</name>
        <label>Update Capture Date/Time field: True</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Update_Capture_Date_Time_field_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Capture__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Capture_Chkbox_Selected__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Capture_Chkbox_Selected__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Phones_Date_Time_field_False</name>
        <label>Update Phones Date/Time field: False</label>
        <locationX>176</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>Update_All_Opportunity_Products_Date_Time_field_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phones__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phones_Chkbox_Selected__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Phones_Chkbox_Selected__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Phones_Date_Time_field_True</name>
        <label>Update Phones Date/Time field: True</label>
        <locationX>176</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Update_Phones_Date_Time_field_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phones__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phones_Chkbox_Selected__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Phones_Chkbox_Selected__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Analytics_Date_Time_field_True</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Analytics__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Capture__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phones__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>All_Opportunity_Products__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
