force-app/main/default/flows/Opportunity_Sub_flow1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Service_Products_to_Collection</name>
        <label>Add Service Products to Collection</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varServiceAgreementProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varServiceAgreementProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Service_Agrmt_Product_Collection</name>
        <label>Add to Service Agrmt Product Collection</label>
        <locationX>2162</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varServiceAgreementProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varServiceAgreementProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Current_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Service_Products_to_Update</name>
        <label>Add to Service Products to Update</label>
        <locationX>2866</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varServiceProductsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varServiceProductsToUpdateObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Current_Service_Product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Agreement_Product_Loop_Variables</name>
        <label>Assign Service Agreement Product Loop Variables</label>
        <locationX>2866</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varServiceProductsToUpdateObject.Last_Opportunity_Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Current_Opportunity_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceProductsToUpdateObject.Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Order_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceProductsToUpdateObject.Pending_Expiration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceProductsToUpdateObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Current_Service_Product_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Service_Products_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Agrmt_Product_Loop_Variables</name>
        <label>Assign Service Agrmt Product Loop Variables</label>
        <locationX>2162</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Opportunity_Line_Item_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Current_Opportunity_Products.Opportunity_Line_Item_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Current_Opportunity_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Current_Opportunity_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.CallRevu_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Service_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Price_Per_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Current_Opportunity_Products.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Billing_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Billing_Agreement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Included_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Current_Opportunity_Products.Minutes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.First_Bill_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Service_Agrmt_Product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Service_Line_Item</name>
        <label>Assign Values to Service Line Item</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Opportunity_Line_Item_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Line_Items.Opportunity_Line_Item_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Line_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.CallRevu_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varServiceAgreementId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Price_Per_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Billing_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBillingAgreementId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.Included_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Line_Items.Minutes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceAgreementProduct.PriceBookEntryID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Line_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Service_Products_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Match_to_Current_Product</name>
        <label>Check Match to Current Product</label>
        <locationX>2998</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_Current_Service_Product_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Match_to_Current_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Current_Service_Product_Collection.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Current_Opportunity_Products.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Agreement_Product_Loop_Variables</targetReference>
            </connector>
            <label>Match to Current Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_new</name>
        <label>Is Opportunity new?</label>
        <locationX>1722</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunity.Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunity.Service_Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunity.Bill_To_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Service_Agreements_Authorized_To_Create__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>new</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Agreement</targetReference>
            </connector>
            <label>New Opportunity</label>
        </rules>
        <rules>
            <name>Updated_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunity.Order_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunity.Service_Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunity.Bill_To_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Service_Agreements_Authorized_To_Create__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Billing_Agreement</targetReference>
            </connector>
            <label>Updated Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Loop_Quantity</name>
        <label>Product Loop Quantity</label>
        <locationX>2470</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Current_Service_Product_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 0</defaultConnectorLabel>
        <rules>
            <name>Greater_Or_Equal_to_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Current_Opportunity_Products.Quantity</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Agrmt_Product_Loop_Variables</targetReference>
            </connector>
            <label>Greater Or Equal to 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varEffectiveDate</name>
        <dataType>Date</dataType>
        <expression>Date(2999,Month(Today()),Day(Today()))</expression>
    </formulas>
    <interviewLabel>Opportunity Sub flow1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Sub flow1</label>
    <loops>
        <name>Loop_Current_Opportunity_Products</name>
        <label>Loop Current Opportunity Products</label>
        <locationX>2074</locationX>
        <locationY>566</locationY>
        <collectionReference>Look_Up_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Loop_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Service_Agreement_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Current_Service_Product_Collection</name>
        <label>Loop Current Service Product Collection</label>
        <locationX>2778</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Current_Service_Agreement_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Match_to_Current_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Current_Opportunity_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opp_Line_Items</name>
        <label>Loop Opp Line Items</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Look_Up_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Service_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Service_Agreement_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Bill_To_Billing_Agreement</name>
        <label>Create Bill To Billing Agreement</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>varBillingAgreementId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Opp_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bill_to_Account__c</field>
            <value>
                <elementReference>varOpportunity.Bill_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>varEffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>varServiceAgreementId</elementReference>
            </value>
        </inputAssignments>
        <object>Billing_Agreement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Service_Agreement_Products</name>
        <label>Create New Service Agreement Products</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Update_Opportunity_With_Service_Agreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow5</targetReference>
        </faultConnector>
        <inputReference>varServiceAgreementProductCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Agreement</name>
        <label>Create Service Agreement</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>varServiceAgreementId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Bill_To_Billing_Agreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bill_To_Share_Fixed_Amount__c</field>
            <value>
                <elementReference>varOpportunity.Bill_to_Share_Fixed_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Share_Fixed_Frequency__c</field>
            <value>
                <elementReference>varOpportunity.Bill_to_Share_Fixed_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Account__c</field>
            <value>
                <elementReference>varOpportunity.Bill_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Share_Account__c</field>
            <value>
                <elementReference>varOpportunity.Bill_To_Share_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Share_Percentage__c</field>
            <value>
                <elementReference>varOpportunity.Bill_to_Share_Percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discovery_Notes__c</field>
            <value>
                <elementReference>varOpportunity.Discovery_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Features_of_Interest__c</field>
            <value>
                <elementReference>varOpportunity.Features_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>varOpportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity_Change_Type__c</field>
            <value>
                <elementReference>varOpportunity.Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity__c</field>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varOpportunity.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Opportunity__c</field>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pooling_Minutes__c</field>
            <value>
                <elementReference>varOpportunity.Pooling_Minutes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Book__c</field>
            <value>
                <elementReference>varOpportunity.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Partner__c</field>
            <value>
                <elementReference>varOpportunity.Referral_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Location__c</field>
            <value>
                <elementReference>varOpportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_the_Client_Objectives__c</field>
            <value>
                <elementReference>varOpportunity.What_are_the_Client_Objectives__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_are_the__c</field>
            <value>
                <elementReference>varOpportunity.What_are_the_Customer_Challenges__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Agreement_Products</name>
        <label>Create Service Agreement Products</label>
        <locationX>2074</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Update_Service_Products_to_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow7</targetReference>
        </faultConnector>
        <inputReference>varServiceAgreementProductCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Billing_Agreement</name>
        <label>Get Current Billing Agreement</label>
        <locationX>2074</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Service_Agreement_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity.Service_Agreement__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Service_Agreement_Products</name>
        <label>Get Current Service Agreement Products</label>
        <locationX>2074</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Current_Opportunity_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CallRevu_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity.Service_Agreement__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Agreement_Products__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_Opportunity_Line_Items</name>
        <label>Look Up Opportunity Line Items</label>
        <locationX>1722</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opportunity_new</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Minutes__c</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Opportunity_Line_Item_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_With_Service_Agreement</name>
        <label>Update Opportunity With Service Agreement</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <faultConnector>
            <targetReference>Fault_Path_Flow6</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>varServiceAgreementId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Products_to_Update</name>
        <label>Update Service Products to Update</label>
        <locationX>2074</locationX>
        <locationY>1658</locationY>
        <faultConnector>
            <targetReference>Fault_Path_Flow8</targetReference>
        </faultConnector>
        <inputReference>varServiceProductsToUpdateCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>1596</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Look_Up_Opportunity_Line_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fault_Path_Flow</name>
        <label>Fault Path Flow</label>
        <locationX>3658</locationX>
        <locationY>242</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot find Opportunity Line Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Look Up Opportunity Line Items</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow1</name>
        <label>Fault Path Flow1</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot create Service Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create_Service_Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow2</name>
        <label>Fault Path Flow2</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot create Billing Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create_Bill_To_Billing_Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow3</name>
        <label>Fault Path Flow3</label>
        <locationX>3130</locationX>
        <locationY>458</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot find Billing Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Get_Current_Billing_Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow4</name>
        <label>Fault Path Flow4</label>
        <locationX>2866</locationX>
        <locationY>566</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot find Service Agreement Product</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Get Current Service Agreement Products</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow5</name>
        <label>Fault Path Flow5</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot create Service Agreement Products</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create_New_Service_Agreement_Products</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow6</name>
        <label>Fault Path Flow6</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot update Service Agreement on the Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Update_Opportunity_With_Service_Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow7</name>
        <label>Fault Path Flow7</label>
        <locationX>2602</locationX>
        <locationY>1658</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot create Service Agreement Product</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create_Service_Agreement_Products</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow8</name>
        <label>Fault Path Flow8</label>
        <locationX>2338</locationX>
        <locationY>1766</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot Update Service Products</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Update_Service_Products_to_Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varBillingAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Billing_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varBillingAgreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varServiceAgreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceAgreementProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement_Products__c</objectType>
    </variables>
    <variables>
        <name>varServiceAgreementProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement_Products__c</objectType>
    </variables>
    <variables>
        <name>varServiceProductsToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement_Products__c</objectType>
    </variables>
    <variables>
        <name>varServiceProductsToUpdateObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Agreement_Products__c</objectType>
    </variables>
</Flow>
