force-app/main/default/flows/Opportunity_calculateGroupMRR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>add_to_Group_MRR</name>
        <label>add to Group MRR</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varGroupMRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>go_through_Child_Opp_List.MRR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>go_through_Child_Opp_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateParentOppMRR</name>
        <label>updateParentOppMRR</label>
        <locationX>352</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityRecord.Group_MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGroupMRR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>saveParentOppMRR</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>remove_MRRs_to_skip</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>remove MRRs to skip</label>
        <locationX>352</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_remove_MRRs_to_skip</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getAllChildOpps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_remove_MRRs_to_skip.StageName</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Closed Lost</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>go_through_Child_Opp_List</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>check_for_Recursion</name>
        <label>check for Recursion</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>getAllChildOpps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stop_Recursion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecursion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>stop Recursion</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity_calculateGroupMRR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_calculateGroupMRR</label>
    <loops>
        <name>go_through_Child_Opp_List</name>
        <label>go through Child Opp List</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <collectionReference>remove_MRRs_to_skip</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_to_Group_MRR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateParentOppMRR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllChildOpps</name>
        <label>getAllChildOpps</label>
        <locationX>352</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>remove_MRRs_to_skip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varexcludeOppMRR.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>saveParentOppMRR</name>
        <label>saveParentOppMRR</label>
        <locationX>352</locationX>
        <locationY>866</locationY>
        <inputReference>varOpportunityRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_for_Recursion</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_remove_MRRs_to_skip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varexcludeOppMRR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varGroupMRR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varRecursion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
