force-app/main/default/flows/Opportunity_Update_Missing_Date_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>demonstrateVlueLoopaddtosingleOppvar</name>
        <label>demonstrateVlueLoopaddtosingleOppvar</label>
        <locationX>264</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>singleOpptoUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_through_Negotiate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Demonstrate_Value_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>discoverLoopaddtosingleOppvar</name>
        <label>discoverLoopaddtosingleOppvar</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>singleOpptoUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>go_through_Discover</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Discover_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>negotiateLoopaddtosingleOppvar</name>
        <label>negotiateLoopaddtosingleOppvar</label>
        <locationX>264</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>singleOpptoUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_through_Negotiate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Negotiate_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Demonstrate_Value_Records</name>
        <label>update Demonstrate Value Records</label>
        <locationX>264</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>DemonstrateValueRecordstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>go_through_Demonstrate_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>go_through_Demonstrate_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Discover_Records</name>
        <label>update Discover Records</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>discoverOppstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>go_through_Discover</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>go_through_Discover</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fields_for_Demonstrate_Value</name>
        <label>Update Fields for Demonstrate Value</label>
        <locationX>264</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>go_through_Demonstrate_Value.Demonstrate_Value_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedDemonstrateValueDate2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>go_through_Demonstrate_Value.Discover_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filterDemonstrateValueuupdateDiscover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>go_through_Demonstrate_Value.Qualify_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filterDemonstrateVlueupdateQualify</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>go_through_Demonstrate_Value.Automation_Running__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeToggleDemonstrate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>demonstrateVlueLoopaddtosingleOppvar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fields_for_Discover</name>
        <label>Update Fields for Discover</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>go_through_Discover.Discover_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedDiscoverDateFilter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>go_through_Discover.Qualify_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedQualifyDateFilter2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>go_through_Discover.Automation_Running__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeToggleDiscover</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>discoverLoopaddtosingleOppvar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fields_for_Negotiate</name>
        <label>Update Fields for Negotiate +</label>
        <locationX>264</locationX>
        <locationY>2040</locationY>
        <assignmentItems>
            <assignToReference>Go_through_Negotiate.Negotiate_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>negotiateFilterupdateNegotiate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Go_through_Negotiate.Demonstrate_Value_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>negotiateFilterupdateDemonstrateValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Go_through_Negotiate.Discover_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>negotiateFilterDiscoverDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Go_through_Negotiate.Qualify_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>negotiateFilterQualifyDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Go_through_Negotiate.Automation_Running__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeToggleNegotiate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>negotiateLoopaddtosingleOppvar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Negotiate_Records</name>
        <label>update Negotiate Records</label>
        <locationX>264</locationX>
        <locationY>2256</locationY>
        <assignmentItems>
            <assignToReference>negotiateRecordstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleOpptoUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_Negotiate</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_for_Demonstrate_Value</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Demonstrate Value</label>
        <locationX>176</locationX>
        <locationY>1092</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Demonstrate_Value</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Opportunities_with_Missing_Dates</collectionReference>
        <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Demonstrate_Value.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Demonstrate Value</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Demonstrate_Value.Qualify_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Demonstrate_Value.Discover_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Demonstrate_Value.Demonstrate_Value_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>go_through_Demonstrate_Value</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_Discover</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Discover</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Discover</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Opportunities_with_Missing_Dates</collectionReference>
        <conditionLogic>1 AND (2 OR 3)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Discover.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Discover</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Discover.Qualify_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Discover.Discover_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>go_through_Discover</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_Negotiate</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Negotiate +</label>
        <locationX>176</locationX>
        <locationY>1824</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Negotiate</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Opportunities_with_Missing_Dates</collectionReference>
        <conditionLogic>(1 OR 6) AND (2 OR 3 OR 4 OR 5)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Negotiate.Probability</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <numberValue>0.7</numberValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Negotiate.Negotiate_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Negotiate.Demonstrate_Value_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Negotiate.Discover_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Negotiate.Qualify_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Negotiate.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Closed Lost</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Go_through_Negotiate</targetReference>
        </connector>
    </collectionProcessors>
    <description>Updated using the Running Automation checkbox and toggle</description>
    <environments>Default</environments>
    <formulas>
        <name>changeToggleDemonstrate</name>
        <dataType>Boolean</dataType>
        <expression>IF({!go_through_Demonstrate_Value.Automation_Running__c}=TRUE,FALSE,TRUE)</expression>
    </formulas>
    <formulas>
        <name>changeToggleDiscover</name>
        <dataType>Boolean</dataType>
        <expression>IF({!go_through_Discover.Automation_Running__c}=TRUE,FALSE,TRUE)</expression>
    </formulas>
    <formulas>
        <name>changeToggleNegotiate</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Go_through_Negotiate.Automation_Running__c}=TRUE,FALSE,TRUE)</expression>
    </formulas>
    <formulas>
        <name>filterDemonstrateValueuupdateDiscover</name>
        <dataType>DateTime</dataType>
        <expression>IF(!ISNULL({!go_through_Demonstrate_Value.Discover_Date__c}),{!go_through_Demonstrate_Value.Discover_Date__c},{!go_through_Demonstrate_Value.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>filterDemonstrateVlueupdateQualify</name>
        <dataType>DateTime</dataType>
        <expression>IF(!ISNULL({!go_through_Demonstrate_Value.Qualify_Date__c}),{!go_through_Demonstrate_Value.Qualify_Date__c},{!go_through_Demonstrate_Value.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>negotiateFilterDiscoverDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(!ISNULL({!Go_through_Negotiate.Discover_Date__c}),{!Go_through_Negotiate.Discover_Date__c},{!Go_through_Negotiate.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>negotiateFilterQualifyDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(!ISNULL({!Go_through_Negotiate.Qualify_Date__c}),{!Go_through_Negotiate.Qualify_Date__c},{!Go_through_Negotiate.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>negotiateFilterupdateDemonstrateValue</name>
        <dataType>DateTime</dataType>
        <expression>IF(!ISNULL({!Go_through_Negotiate.Demonstrate_Value_Date__c}),{!Go_through_Negotiate.Demonstrate_Value_Date__c},{!Go_through_Negotiate.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>negotiateFilterupdateNegotiate</name>
        <dataType>DateTime</dataType>
        <expression>IF(!ISNULL({!Go_through_Negotiate.Negotiate_Date__c}),{!Go_through_Negotiate.Negotiate_Date__c},{!Go_through_Negotiate.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>updatedDemonstrateValueDate2</name>
        <dataType>DateTime</dataType>
        <expression>IF(!ISNULL({!go_through_Demonstrate_Value.Demonstrate_Value_Date__c}),{!go_through_Demonstrate_Value.Demonstrate_Value_Date__c},{!go_through_Demonstrate_Value.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>updatedDiscoverDateFilter</name>
        <dataType>DateTime</dataType>
        <expression>IF(!ISNULL({!go_through_Discover.Discover_Date__c}),{!go_through_Discover.Discover_Date__c}, {!go_through_Discover.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>updatedQualifyDateFilter</name>
        <dataType>DateTime</dataType>
        <expression>IF(!ISNULL({!currentItem_Filter_for_Discover.Qualify_Date__c}),{!currentItem_Filter_for_Discover.Qualify_Date__c},{!currentItem_Filter_for_Discover.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>updatedQualifyDateFilter2</name>
        <dataType>DateTime</dataType>
        <expression>IF(!ISNULL({!go_through_Discover.Qualify_Date__c}),{!go_through_Discover.Qualify_Date__c},{!go_through_Discover.CreatedDate})</expression>
    </formulas>
    <interviewLabel>Opportunity Update Missing Date Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Update Missing Date Fields</label>
    <loops>
        <name>go_through_Demonstrate_Value</name>
        <label>go through Demonstrate Value</label>
        <locationX>176</locationX>
        <locationY>1200</locationY>
        <collectionReference>Filter_for_Demonstrate_Value</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Fields_for_Demonstrate_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Demonstrate_Value_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>go_through_Discover</name>
        <label>go through Discover</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Filter_for_Discover</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Fields_for_Discover</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateDiscoverFilteredRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Go_through_Negotiate</name>
        <label>Go through Negotiate +</label>
        <locationX>176</locationX>
        <locationY>1932</locationY>
        <collectionReference>Filter_for_Negotiate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Fields_for_Negotiate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Negotiate_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Opportunities_with_Missing_Dates</name>
        <label>get Opportunities with Missing Dates</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_for_Discover</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Qualify_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Discover_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Demonstrate_Value_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Negotiate_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Demonstrate_Value_Update</name>
        <label>Demonstrate Value Update</label>
        <locationX>176</locationX>
        <locationY>1716</locationY>
        <connector>
            <targetReference>Filter_for_Negotiate</targetReference>
        </connector>
        <inputReference>DemonstrateValueRecordstoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Negotiate_Update</name>
        <label>Negotiate Update</label>
        <locationX>176</locationX>
        <locationY>2448</locationY>
        <inputReference>negotiateRecordstoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateDiscoverFilteredRecords</name>
        <label>updateDiscoverFilteredRecords</label>
        <locationX>176</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Filter_for_Demonstrate_Value</targetReference>
        </connector>
        <inputReference>discoverOppstoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Opportunities_with_Missing_Dates</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-03-14</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_for_Demonstrate_Value</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Discover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Negotiate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>DemonstrateValueRecordstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>discoverOppstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>negotiateRecordstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>singleOpptoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
