force-app/main/default/flows/Opportunity_Line_Item_flow_Update_minutes_field_from_parent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_Oppty_closed</name>
        <label>Is Oppty closed?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>MRRneedsCalculation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.StageName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>MRRneedsCalculation</name>
        <label>MRRneedsCalculation</label>
        <locationX>374</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Workflow_is_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MRR_needs_to_recalculate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TotalPrice</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recentlyCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateMRR</targetReference>
            </connector>
            <label>MRR needs to recalculate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Workflow_is_false</name>
        <label>Overage workflow is true?</label>
        <locationX>374</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Overage_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>v53 api version</description>
    <environments>Default</environments>
    <formulas>
        <name>recentlyCreated</name>
        <dataType>Boolean</dataType>
        <expression>(NOW() - {!$Record.CreatedDate} ) *1440 &lt;= 1</expression>
    </formulas>
    <formulas>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity Line Item flow - Update minutes field from parent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Line Item flow - Update minutes field from parent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Record</name>
        <label>Get Parent Record</label>
        <locationX>242</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Minutes_from_parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Product_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Oppty_closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Minutes_from_parent</name>
        <label>Update Minutes from parent</label>
        <locationX>242</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Minutes__c</field>
            <value>
                <elementReference>Get_Parent_Record.Minutes__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>updateMRR</name>
        <label>updateMRR</label>
        <locationX>242</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Workflow_is_false</targetReference>
        </connector>
        <flowName>manageOppProductMRRAmount</flowName>
        <inputAssignments>
            <name>thisParentOpportunity</name>
            <value>
                <elementReference>getOpportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
