force-app/main/default/flows/Opportunity_calculateGroupProjectedMRR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>add_to_Group_MRR</name>
        <label>add to Group MRR</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varGroupMRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>go_through_Child_Opp_List.Projected_MRR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>go_through_Child_Opp_List</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>remove_MRRs_to_skip</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>remove MRRs to skip</label>
        <locationX>352</locationX>
        <locationY>384</locationY>
        <assignNextValueToReference>currentItem_remove_MRRs_to_skip</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getAllChildOpps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_remove_MRRs_to_skip.StageName</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Closed Lost</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>go_through_Child_Opp_List</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Opportunity_calculateGroupProjectedMRR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_calculateGroupProjectedMRR</label>
    <loops>
        <name>go_through_Child_Opp_List</name>
        <label>go through Child Opp List</label>
        <locationX>352</locationX>
        <locationY>492</locationY>
        <collectionReference>remove_MRRs_to_skip</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_to_Group_MRR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>save_Group_MRR_and_Reset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllChildOpps</name>
        <label>getAllChildOpps</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>remove_MRRs_to_skip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>save_Group_MRR_and_Reset</name>
        <label>save Group MRR and Reset</label>
        <locationX>352</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Calculate_Group_MRR__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_MRR__c</field>
            <value>
                <elementReference>varGroupMRR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calculate_Group_MRR__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>getAllChildOpps</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_remove_MRRs_to_skip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varGroupMRR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
