force-app/main/default/flows/Opportunity_Group_MRR_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>add_to_Opps_to_update</name>
        <label>add to Opps to update</label>
        <locationX>754</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>oppstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>go_through_Parents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>go_through_Parents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_calculate_Group_MRR_field</name>
        <label>update calculate Group MRR field</label>
        <locationX>754</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>go_through_Parents.Calculate_Group_MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_Opps_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_calculate_Group_MRR_field_for_Parent</name>
        <label>update calculate Group MRR field for Parent</label>
        <locationX>930</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>getParentOppRecord.Calculate_Group_MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>commit_Save_to_Parent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Group_Updated</name>
        <label>Is Group Updated?</label>
        <locationX>490</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>is_This_a_Child_Opp_with_MRR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Changes Made</defaultConnectorLabel>
        <rules>
            <name>from_True_to_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Group_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group_Opportunity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Group_MRR_to_null</targetReference>
            </connector>
            <label>from True to False</label>
        </rules>
        <rules>
            <name>from_False_to_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Group_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group_Opportunity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Group_MRR_Field</targetReference>
            </connector>
            <label>from False to True</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_This_a_Child_Opp_with_MRR</name>
        <label>is This a Child Opp with MRR?</label>
        <locationX>930</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>is Not a child or no MRR</defaultConnectorLabel>
        <rules>
            <name>child_Opp_with_changing_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_Opportunity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Related_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Related_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Old_and_New_Parent_Opps</targetReference>
            </connector>
            <label>child Opp with changing Parent</label>
        </rules>
        <rules>
            <name>child_Opp_with_MRR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getParentOppRecord</targetReference>
            </connector>
            <label>child Opp with MRR</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_Group_Opp</name>
        <label>new Group Opp</label>
        <locationX>490</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Group_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Group_Opp_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Group_MRR_for_new_Opp</targetReference>
            </connector>
            <label>New Group Opp Created</label>
        </rules>
    </decisions>
    <description>+MRR on child Opp updated</description>
    <environments>Default</environments>
    <formulas>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity Group MRR Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Group MRR Automation</label>
    <loops>
        <name>go_through_Parents</name>
        <label>go through Parents</label>
        <locationX>666</locationX>
        <locationY>947</locationY>
        <collectionReference>get_Old_and_New_Parent_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_calculate_Group_MRR_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>commit_Save_to_Parents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Old_and_New_Parent_Opps</name>
        <label>get Old and New Parent Opps</label>
        <locationX>666</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>go_through_Parents</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParentOppRecord</name>
        <label>getParentOppRecord</label>
        <locationX>930</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_calculate_Group_MRR_field_for_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>commit_Save_to_Parent</name>
        <label>commit Save to Parent</label>
        <locationX>930</locationX>
        <locationY>1055</locationY>
        <inputReference>getParentOppRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>commit_Save_to_Parents</name>
        <label>commit Save to Parents</label>
        <locationX>666</locationX>
        <locationY>1355</locationY>
        <inputReference>oppstoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Group_MRR_Field</name>
        <label>update Group MRR Field</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Calculate_Group_MRR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Group_MRR_for_new_Opp</name>
        <label>update Group MRR for new Opp</label>
        <locationX>358</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_Group_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Calculate_Group_MRR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Group_MRR_to_null</name>
        <label>update Group MRR to null</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Group_MRR__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>new_Group_Opp</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_get_New_Parent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_get_Old_Parent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
