force-app/main/default/flows/Opportunity_Sub_flow2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Case01_Id</name>
        <label>Assign Case01 Id</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varCase01.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case02_Id</name>
        <label>Assign Case02 Id</label>
        <locationX>1282</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varCase02.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_To_Enrollment_Assignment</name>
        <label>Send To Enrollment Assignment</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCase01.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Actionable_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Actionable_Items__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Case_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Client Enrollment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Types_Settings.Enrollment_OwnerId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Types_Settings.Case_Enrollment_RT_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Service_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 - Agreement Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Discovery_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Discovery_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Implementation_Expectations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Implementation_Expectations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Agreement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active Purchase</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Setup_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Setup</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCasesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCase01</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_To_Enrollment_Assignment1</name>
        <label>Send To Enrollment Assignment1</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCase01.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Actionable_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Actionable_Items__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Case_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Types_Settings.Enrollment_OwnerId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Types_Settings.Case_Enrollment_RT_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Service_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Discovery_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Discovery_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase01.Implementation_Expectations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Implementation_Expectations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCasesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCase01</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_To_Support_Assignment1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_To_Support_Assignment</name>
        <label>Send To Support Assignment</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCase02.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Actionable_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Actionable_Items__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Addendum_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Addendum_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Case_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Types_Settings.Support_Owner_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Types_Settings.Case_Support_RT_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Service_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support: Service Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCasesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCase02</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_To_Support_Assignment1</name>
        <label>Send To Support Assignment1</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varCase02.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Actionable_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Actionable_Items__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Addendum_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Addendum_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Case_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Types_Settings.Support_Owner_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Types_Settings.Case_Support_RT_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Service_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase02.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support: Service Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCasesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCase02</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Workflow_Types</name>
        <label>Case Workflow Types</label>
        <locationX>1546</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Workflow</defaultConnectorLabel>
        <rules>
            <name>Send_To_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_To_Enrollment_Assignment</targetReference>
            </connector>
            <label>Send To Enrollment</label>
        </rules>
        <rules>
            <name>Send_To_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_To_Support_Assignment</targetReference>
            </connector>
            <label>Send To Support</label>
        </rules>
        <rules>
            <name>Send_To_Enrollment_and_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to Enrollment and Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_To_Enrollment_Assignment1</targetReference>
            </connector>
            <label>Send To Enrollment and Support</label>
        </rules>
        <rules>
            <name>Addendum_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum Workflow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Addendum_Workflow_Case</targetReference>
            </connector>
            <label>Addendum Workflow</label>
        </rules>
        <rules>
            <name>Send_to_DNI_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send to DNI Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_DNI_Case</targetReference>
            </connector>
            <label>Send to DNI Only</label>
        </rules>
        <rules>
            <name>Addendum_Workflow_DNI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunity.Addendum_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Addendum: DNI Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunity.Agreement_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum Workflow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_DNI_Case</targetReference>
            </connector>
            <label>Addendum Workflow DNI</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_varCase01_is_empty</name>
        <label>check varCase01 is empty</label>
        <locationX>1150</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Case02_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Id_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase01.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case01_Id</targetReference>
            </connector>
            <label>Case Id Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Sub flow2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Sub flow2</label>
    <loops>
        <name>Get_Case_Id</name>
        <label>Get Case Id</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <collectionReference>varCasesList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_varCase01_is_empty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Service_Agreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Addendum_Workflow_Case</name>
        <label>Create Addendum Workflow Case</label>
        <locationX>1722</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Opportunity_Processed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varOpportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actionable_Items__c</field>
            <value>
                <elementReference>varOpportunity.Actionable_Items__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addendum_Alert__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addendum_Type__c</field>
            <value>
                <elementReference>varOpportunity.Addendum_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subtype__c</field>
            <value>
                <stringValue>Service Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Accounts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>varOpportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal Alert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Record_Types_Settings.Enrollment_OwnerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Types_Settings.Case_Support_RT_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>varOpportunity.Service_Agreement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Setup_Type__c</field>
            <value>
                <stringValue>Continuation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>1 - Request Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Addendum - Service Change Actions Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Support: Service Change</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Case_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow</targetReference>
        </faultConnector>
        <inputReference>varCasesList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_DNI_Case</name>
        <label>Create DNI Case</label>
        <locationX>2250</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>varCase01.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Opportunity_Processed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow4</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varOpportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actionable_Items__c</field>
            <value>
                <elementReference>varOpportunity.Actionable_Items__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNI_Status__c</field>
            <value>
                <stringValue>GA Access/Script</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Expectations__c</field>
            <value>
                <elementReference>varOpportunity.Implementation_Expectations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Existing Client Setup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Record_Types_Settings.DNI_Owner_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Types_Settings.Case_DNI_Setup_RT_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Agreement__c</field>
            <value>
                <elementReference>varOpportunity.Service_Agreement__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Types_Settings</name>
        <label>Get Record Types Settings</label>
        <locationX>1546</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Workflow_Types</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Configuration_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Processed</name>
        <label>Update Opportunity Processed</label>
        <locationX>1546</locationX>
        <locationY>1598</locationY>
        <faultConnector>
            <targetReference>Fault_Path_Flow2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Processed__c</field>
            <value>
                <elementReference>varOpportunity.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Agreement</name>
        <label>Update Service Agreement</label>
        <locationX>930</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Update_Opportunity_Processed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity.Service_Agreement__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Case__c</field>
            <value>
                <elementReference>varCase02.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Case__c</field>
            <value>
                <elementReference>varCase01.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity__c</field>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pooling_Minutes__c</field>
            <value>
                <elementReference>varOpportunity.Pooling_Minutes__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Agreement__c</object>
    </recordUpdates>
    <start>
        <locationX>1420</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Types_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fault_Path_Flow</name>
        <label>Fault Path Flow</label>
        <locationX>1458</locationX>
        <locationY>674</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot create a case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create_Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow2</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow1</name>
        <label>Fault Path Flow</label>
        <locationX>1194</locationX>
        <locationY>1274</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot update Service Agreement fields</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Update_Service_Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow2</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow2</name>
        <label>Fault Path Flow</label>
        <locationX>3218</locationX>
        <locationY>1706</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot update the Date_Processed__c field on Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Update_Opportunity_Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow2</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow3</name>
        <label>Fault Path Flow</label>
        <locationX>1986</locationX>
        <locationY>458</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot Create an Addendum Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create_Addendum_Workflow_Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow2</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow4</name>
        <label>Fault Path Flow</label>
        <locationX>2514</locationX>
        <locationY>458</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot create a DNI case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create_DNI_Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow2</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow_0</name>
        <label>Fault Path Flow 0</label>
        <locationX>3482</locationX>
        <locationY>242</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varAdditionalInfo</name>
            <value>
                <stringValue>Cannot fetch Flow_Configuration_Settings Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Get_Record_Types_Settings</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Opportunity_Sub_flow2</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varCase01</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCase02</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCasesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
