force-app/main/default/flows/Roll_Up_Summary_Opportunity_Contact_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assignment_Count_to_Variable</name>
        <label>Assignment Count to Variable</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opportunity_Contact_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Count_to_Variable_2</name>
        <label>Assignment Count to Variable</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varCount02</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Opportunity_Contact_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_role</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_the_Role_a_Signer</name>
        <label>is the Role a Signer?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Role is NOT Signer</defaultConnectorLabel>
        <rules>
            <name>Role_is_Signer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactName</targetReference>
            </connector>
            <label>Role is Signer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_role</name>
        <label>Valid role</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Signer_or_Decision_Maker</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decision Maker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_the_Role_a_Signer</targetReference>
            </connector>
            <label>Signer or Decision Maker</label>
        </rules>
    </decisions>
    <description>+Initial Contact Role Update</description>
    <environments>Default</environments>
    <formulas>
        <name>isAutomationRunning</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Opportunity.Automation_Running__c} = TRUE, FALSE, TRUE)</expression>
    </formulas>
    <interviewLabel>Roll Up Summary Opportunity Contact Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll Up Summary Opportunity Contact Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Opportunity_Contact_Role</name>
        <label>Get All Opportunity Contact Role</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Count_to_Variable_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Contact_Role</name>
        <label>Get Opportunity Contact Role</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Count_to_Variable</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContactName</name>
        <label>getContactName</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>SignerFullName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>336</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Automation_Running__c</field>
            <value>
                <elementReference>isAutomationRunning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactRolesCount__c</field>
            <value>
                <elementReference>varCount02</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Signed_Roles_Count__c</field>
            <value>
                <elementReference>varCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signer_Name__c</field>
            <value>
                <elementReference>SignerFullName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Opportunity_Contact_Role</targetReference>
        </connector>
        <object>OpportunityContactRole</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SignerFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCount02</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
