force-app/main/default/flows/scheduledFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Count_Cases_for_Account_Action_1</name>
        <label>Count Cases for Account Action 1</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <actionName>AccountCaseCounterFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJson</name>
            <value>
                <stringValue>{!allAccounts}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AccountCaseCounterFlow</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>addToCollection</name>
        <label>addToCollection</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>allAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thisAcc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToSingleVar</name>
        <label>assignToSingleVar</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>thisAcc.caseRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121N000001HyN1QAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisAcc.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopThroughAccounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToCollection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>scheduledFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>scheduledFlow</label>
    <loops>
        <name>loopThroughAccounts</name>
        <label>loopThroughAccounts</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>getAllAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignToSingleVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Cases_for_Account_Action_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllAccounts</name>
        <label>getAllAccounts</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughAccounts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAllAccounts</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-15</startDate>
            <startTime>17:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>allAccounts</name>
        <apexClass>AccountCaseInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisAcc</name>
        <apexClass>AccountCaseInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
