force-app/main/default/flows/Send_Email_Alert_to_Case_Owne.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Owner_New_Case_Notification</name>
        <label>Send Owner New Case Notification</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>Case.New_Case_Assigned_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Uncheck_Notification_Checkbox</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow_Flow_1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <stringValue>{!thisCaseRecord.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.New_Case_Assigned_Notification</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Uncheck_Notification_Checkbox</name>
        <label>Uncheck Notification Checkbox</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>thisCaseRecord.Send_Case_Owner_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_thisCaseRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Notification_is_to_Be_Sent</name>
        <label>Check if Notification is to Be Sent</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No Notification Sent</defaultConnectorLabel>
        <rules>
            <name>Notification_should_be_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisCaseRecord.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisCaseRecord.Send_Case_Owner_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Owner_New_Case_Notification</targetReference>
            </connector>
            <label>Notification should be sent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Email Alert to Case Owne {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Alert to Case Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCaseId</name>
        <label>getCaseId</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Notification_is_to_Be_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passedInCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>thisCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Send_Case_Owner_Notification__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_thisCaseRecord</name>
        <label>Update thisCaseRecord</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputReference>thisCaseRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCaseId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fault_Path_Flow_Flow_1</name>
        <label>Fault Path Flow Flow 1</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>SendEmailAlerttoCaseOwner-SendNotification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>passedInCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
