force-app/main/default/flows/Send_Surveys_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AM2023Survey</name>
        <label>AM 2023 Survey</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <actionName>Case.AM_2023_Survey</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_2_of_Update_Survey_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.AM_2023_Survey</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Enrollment_2023_Survey</name>
        <label>Enrollment 2023 Survey</label>
        <locationX>842</locationX>
        <locationY>731</locationY>
        <actionName>Case.Enrollment_2023_Survey</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_3_of_Update_Survey_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Enrollment_2023_Survey</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Failure_to_Launch_2023_Survey</name>
        <label>Failure to Launch 2023 Survey</label>
        <locationX>1106</locationX>
        <locationY>731</locationY>
        <actionName>Case.Failure_to_Launch_2023_Survey</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_4_of_Update_Survey_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Failure_to_Launch_2023_Survey</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Launch_2023_Survey</name>
        <label>Launch 2023 Survey</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <actionName>Case.Launch_2023_Survey</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Survey_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Launch_2023_Survey</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Support_2023_Survey</name>
        <label>Support 2023 Survey</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <actionName>Case.Support_2023_Survey</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Update_Survey_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Support_2023_Survey</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Survey_Decision</name>
        <label>Survey Decision</label>
        <locationX>710</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Launch_Survey</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 8) AND (5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Resolution_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey_Sent_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5.1 - PM Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Spam Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Test Dealer Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClosedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2023-06-24T00:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Launch Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_2023_Survey</targetReference>
            </connector>
            <label>Launch Survey</label>
        </rules>
        <rules>
            <name>Support_Survey</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Resolution_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121N000001HyNQQA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey_Sent_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6 - Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Spam Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Test Dealer Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0031N00001yLWB2QAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClosedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2023-06-24T00:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0033m00002t2O9gAAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_2023_Survey</targetReference>
            </connector>
            <label>Support Survey</label>
        </rules>
        <rules>
            <name>AM_Survey</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND (5 OR 6) AND (7 OR 13 OR 8 OR 10 OR 11 OR 12) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Resolution_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rapid_Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account_Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey_Sent_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Test Dealer Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Spam Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closing_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsive – Meeting held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closing_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsive – Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClosedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2023-06-24T00:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closing_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsive – No meeting held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closing_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsive - No meeting held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closing_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsive - Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closing_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsive - Meeting held</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AM2023Survey</targetReference>
            </connector>
            <label>AM Survey</label>
        </rules>
        <rules>
            <name>Enrollment_Survey</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Resolution_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey_Sent_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Moved to Launch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Spam Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Test Dealer Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClosedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2023-06-24T00:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrollment_2023_Survey</targetReference>
            </connector>
            <label>Enrollment Survey</label>
        </rules>
        <rules>
            <name>Failure_to_Launch_Survey</name>
            <conditionLogic>3 AND 4 AND (1 OR 2) AND 5 AND (6 OR 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121N000001HyN1QAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121N000001HyN6QAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5.2 Failure to Launch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Resolution_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey_Sent_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Spam Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Test Dealer Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClosedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2023-06-24T00:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failure_to_Launch_2023_Survey</targetReference>
            </connector>
            <label>Failure to Launch Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Survey_Value_Send_Survey</name>
        <label>Update Survey Value - Send Survey</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Survey_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Support_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Resolution_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6 - Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>QC Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SPAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Send_Resolution_to_True</targetReference>
            </connector>
            <label>Support Team</label>
        </rules>
        <rules>
            <name>Launch_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Resolution_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Send_Resolution_to_True2</targetReference>
            </connector>
            <label>Launch Team</label>
        </rules>
        <rules>
            <name>Enrollment_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Resolution_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Send_Resolution_to_True3</targetReference>
            </connector>
            <label>Enrollment Team</label>
        </rules>
        <rules>
            <name>AM_Team</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Resolution_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closing_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsive – Meeting held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closing_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsive – Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closing_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsive – No meeting held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closing_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsive - Meeting held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closing_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsive - Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closing_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responsive - No meeting held</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Send_Resolution_to_True4</targetReference>
            </connector>
            <label>AM Team</label>
        </rules>
    </decisions>
    <description>10/6/23 - Update by Becky for AM Case Survey closing outcomes
Includes all Send Resolutions Survey Triggers - added additional logic to AM
11/17/23 - Updated Launch Survey triggers for final status
2/14/24 - fixed closing outcomes for AM case types</description>
    <environments>Default</environments>
    <formulas>
        <name>forToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Send Surveys from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Surveys from Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Survey_Date</name>
        <label>Copy 1 of Update Survey Date</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Survey_Sent_Date__c</field>
            <value>
                <elementReference>forToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Survey_Date</name>
        <label>Copy 2 of Update Survey Date</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Survey_Sent_Date__c</field>
            <value>
                <elementReference>forToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Survey_Date</name>
        <label>Copy 3 of Update Survey Date</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Survey_Sent_Date__c</field>
            <value>
                <elementReference>forToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Survey_Date</name>
        <label>Copy 4 of Update Survey Date</label>
        <locationX>1106</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Survey_Sent_Date__c</field>
            <value>
                <elementReference>forToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Send_Resolution_to_True</name>
        <label>Update Send Resolution to True</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Survey_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Send_Resolution_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Send_Resolution_to_True2</name>
        <label>Update Send Resolution to True</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Survey_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Send_Resolution_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Send_Resolution_to_True3</name>
        <label>Update Send Resolution to True</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Survey_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Send_Resolution_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Send_Resolution_to_True4</name>
        <label>Update Send Resolution to True</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Survey_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Send_Resolution_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Date</name>
        <label>Update Survey Date</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Survey_Sent_Date__c</field>
            <value>
                <elementReference>forToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Survey_Value_Send_Survey</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
