force-app/main/default/flows/Update_contact_owner_batch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>addcontacts_to_collection</name>
        <label>addcontacts to collection</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>contactstoupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_owner_automation_fields</name>
        <label>update owner + automation fields</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>loop_through_contacts.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_contacts.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_through_contacts.Automation_Running__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toggleAutomationRunning</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addcontacts_to_collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>toggleAutomationRunning</name>
        <dataType>Boolean</dataType>
        <expression>IF({!loop_through_contacts.Automation_Running__c}=TRUE,FALSE,TRUE)</expression>
    </formulas>
    <interviewLabel>Update contact owner batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update contact owner batch</label>
    <loops>
        <name>loop_through_contacts</name>
        <label>loop through contacts</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>getContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_owner_automation_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>save_change</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Owner_Different_than_Acct_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>save_change</name>
        <label>save change</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <inputReference>contactstoupdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getContacts</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-03-09</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactstoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
