force-app/main/default/flows/Update_Campaign_Total_MRR_and_One_Time_Fees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_Accumulators</name>
        <label>Update Accumulators</label>
        <locationX>128</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>VarOpportunityMRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpportunityLoop.MRR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOpportunityOneTimeFees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpportunityLoop.One_Time_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunities</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Campaign Total MRR and One Time Fees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Campaign Total MRR and One Time Fees</label>
    <loops>
        <name>Loop_Through_Opportunities</name>
        <label>Loop Through Opportunities</label>
        <locationX>129</locationX>
        <locationY>131</locationY>
        <assignNextValueToReference>varOpportunityLoop</assignNextValueToReference>
        <collectionReference>varOpportunityCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Accumulators</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCampaignFields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindAllOpportunities</name>
        <label>FindAllOpportunities</label>
        <locationX>133</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCampaignID</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOpportunityCollection</outputReference>
        <queriedFields>MRR__c</queriedFields>
        <queriedFields>One_Time_Fees__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCampaignFields</name>
        <label>UpdateCampaignFields</label>
        <locationX>331</locationX>
        <locationY>261</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCampaignID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Opportunity_MRR__c</field>
            <value>
                <elementReference>VarOpportunityMRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Opportunity_One_Time_Fees__c</field>
            <value>
                <elementReference>VarOpportunityOneTimeFees</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <startElementReference>FindAllOpportunities</startElementReference>
    <status>Active</status>
    <variables>
        <name>VarCampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpportunityLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>VarOpportunityMRR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarOpportunityOneTimeFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
