force-app/main/default/flows/updateRelatedOppAmounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>update_Overall_Totals_MRR_Amount</name>
        <label>update Overall Totals (MRR/Amount)</label>
        <locationX>704</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>totalOverallMRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughRecords.MRR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalOverallAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughRecords.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Total_Closed_Totals_MRR_Amount</name>
        <label>update Total Closed Totals (MRR/Amount)</label>
        <locationX>572</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>totalClosedMRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughRecords.MRR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalAmountClosed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughRecords.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Overall_Totals_MRR_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Totals_to_Campaign</name>
        <label>update Totals to Campaign</label>
        <locationX>484</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>thisCampaignRecord.AmountWonOpportunities</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalAmountClosed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisCampaignRecord.AmountAllOpportunities</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalOverallAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisCampaignRecord.Total_Opportunity_MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalOverallMRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisCampaignRecord.Closed_Won_Opportunity_MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalClosedMRR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>save_Changes_to_Campaign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_there_are_Opportunity_Records</name>
        <label>check if there are Opportunity Records</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>loopThroughRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There ARE related Opps</defaultConnectorLabel>
        <rules>
            <name>No_Related_Opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAllOpportunityRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Related Opps</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOpportunityClosed</name>
        <label>isOpportunityClosed</label>
        <locationX>704</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>update_Overall_Totals_MRR_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open Opportunity</defaultConnectorLabel>
        <rules>
            <name>Closed_Opportunity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopThroughRecords.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopThroughRecords.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed-Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Total_Closed_Totals_MRR_Amount</targetReference>
            </connector>
            <label>Closed Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>updateRelatedOppAmounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateRelatedOppAmounts</label>
    <loops>
        <name>loopThroughRecords</name>
        <label>loopThroughRecords</label>
        <locationX>484</locationX>
        <locationY>350</locationY>
        <collectionReference>getAllOpportunityRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isOpportunityClosed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Totals_to_Campaign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllOpportunityRecords</name>
        <label>getAllOpportunityRecords</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_there_are_Opportunity_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisCampaignRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>save_Changes_to_Campaign</name>
        <label>save Changes to Campaign</label>
        <locationX>484</locationX>
        <locationY>1058</locationY>
        <faultConnector>
            <targetReference>Send_Exception</targetReference>
        </faultConnector>
        <inputReference>thisCampaignRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAllOpportunityRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Exception</name>
        <label>Send Exception</label>
        <locationX>748</locationX>
        <locationY>1166</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>RecipientAddressList</name>
            <value>
                <stringValue>jamalwarren@callrevu.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>save Changes to Campaign</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>updateRelatedOppAmounts</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>thisCampaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>totalAmountClosed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalClosedMRR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalOverallAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalOverallMRR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
