force-app/main/default/flows/Update_of_Unsuccessful_Cadences_on_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>FormulaNumberofUnsuccessfulCadencees</name>
        <dataType>Number</dataType>
        <expression>if(ISBLANK({!VarNumberofUnsuccessfulCadences}),1,
{!VarNumberofUnsuccessfulCadences} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update # of Unsuccessful Cadences on Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update # of Unsuccessful Cadences on Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>368</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Number_of_Unsuccessful_Cadences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>VarNumberofUnsuccessfulCadences</assignToReference>
            <field>of_Unsuccessful_Cadences__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Number_of_Unsuccessful_Cadences</name>
        <label>Update Number of Unsuccessful Cadences</label>
        <locationX>366</locationX>
        <locationY>154</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>of_Unsuccessful_Cadences__c</field>
            <value>
                <elementReference>FormulaNumberofUnsuccessfulCadencees</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarNumberofUnsuccessfulCadences</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
