force-app/main/default/flows/Update_Chat_Transcript_Toxic_Detected_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Update Chat Transcript Toxic Detected Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Chat Transcript Toxic Detected Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Chat_Transcript_Toxic_Detected_Field</name>
        <label>Update Chat Transcript Toxic Detected Field</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <faultConnector>
            <targetReference>Fault_Mail</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChatTranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Toxicity_Detected__c</field>
            <value>
                <elementReference>ToxicDetected</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Chat_Transcript_Toxic_Detected_Field</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fault_Mail</name>
        <label>Fault Mail</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Update Chat Transcript Toxic Detected Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>Update Chat Transcript Toxic Detected Field Flow Error</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ChatTranscriptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToxicDetected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
