force-app/main/default/flows/updateContactHubspotActions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Account_Owner_for_HS_action</name>
        <label>Send Email to Account Owner for HS action</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <actionName>Contact.Send_HS_Email_to_Account_Owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <stringValue>{!varThisContact.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Contact.Send_HS_Email_to_Account_Owner</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Values_Customer_Action</name>
        <label>Assign Values - Customer Action</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varThisContact.HubSpot_Action_Triggered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varThisContact.Customer_Took_HS_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>saveContactChanges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_Prospect_Action</name>
        <label>Assign Values - Prospect Action</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varThisContact.Prospect_Took_HS_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varThisContact.HubSpot_Action_Triggered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>saveContactChanges</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Confirm_Action_Type</name>
        <label>Confirm Action Type</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospect_Action_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_Prospect_Action</targetReference>
            </connector>
            <label>Prospect Action Type</label>
        </rules>
        <rules>
            <name>Customer_Action_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_Customer_Action</targetReference>
            </connector>
            <label>Customer Action Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>updateContactHubspotActions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateContactHubspotActions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>saveContactChanges</name>
        <label>saveContactChanges</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Send_Email_to_Account_Owner_for_HS_action</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow_Flow_1</targetReference>
        </faultConnector>
        <inputReference>varThisContact</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Action_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fault_Path_Flow_Flow_1</name>
        <label>Fault Path Flow Flow 1</label>
        <locationX>842</locationX>
        <locationY>542</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>RecipientAddressList</name>
            <value>
                <stringValue>jamalwarren@callrevu.com,kristiejaecklein@callrevu.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowname</name>
            <value>
                <stringValue>updateContactHubspotActions</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>actionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varThisContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
