force-app/main/default/flows/Update_Account_Owner_when_status_is_Permanently_Closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assignment_values_to_variables</name>
        <label>Assignment values to variables</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>varAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_user_id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_record_for_updating</name>
        <label>Count record for updating</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>varCountRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varAccounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account_owner</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Account Owner when status is Permanently Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Owner when status is Permanently Closed</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_values_to_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_record_for_updating</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permanently Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_user_id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user_id</name>
        <label>Get user id</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kristie</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Jaecklein</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>kristiejaecklein@callrevu.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_account_owner</name>
        <label>Update account owner</label>
        <locationX>176</locationX>
        <locationY>972</locationY>
        <inputReference>varAccounts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_user_id</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-21</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCountRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
