force-app/main/default/flows/Update_of_Connected_Cadences_Delete_Open_Cadence_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Cadence_Tasks_are_Found</name>
        <label>Cadence Tasks are Found</label>
        <locationX>401</locationX>
        <locationY>341</locationY>
        <defaultConnectorLabel>Cadence Tasks Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Cadence_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCadenceTaskID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteCadenceActivityTasks</targetReference>
            </connector>
            <label>Found Cadence Tasks</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaNumberofConnectedCadences</name>
        <dataType>Number</dataType>
        <expression>if(ISBLANK({!VarNumberofConnectedCadences}),1,
{!VarNumberofConnectedCadences} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update # of Connected Cadences/Delete Open Cadence Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update # of Connected Cadences/Delete Open Cadence Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteCadenceActivityTasks</name>
        <label>DeleteCadenceActivityTasks</label>
        <locationX>406</locationX>
        <locationY>445</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cadence_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordDeletes>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>404</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateNumberofConnectedCadences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>VarNumberofConnectedCadences</assignToReference>
            <field>of_Connected_Cadences__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Cadence_Tasks</name>
        <label>Get Cadence Tasks</label>
        <locationX>404</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cadence_Tasks_are_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cadence_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>VarCadenceTaskID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateNumberofConnectedCadences</name>
        <label>UpdateNumberofConnectedCadences</label>
        <locationX>404</locationX>
        <locationY>126</locationY>
        <connector>
            <targetReference>Get_Cadence_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>of_Connected_Cadences__c</field>
            <value>
                <elementReference>FormulaNumberofConnectedCadences</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarCadenceTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarNumberofConnectedCadences</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
