force-app/main/default/flows/X8_13_2020_Email_Carryover_for_Support_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This apex action attaches the attachments of the past Email Messages to the New Case
Apex Class : EmailMessageService</description>
        <name>Link_Content_Documents_Action</name>
        <label>Link Content Documents Action</label>
        <locationX>66</locationX>
        <locationY>1656</locationY>
        <actionName>EmailMessageService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newEmailMessages</name>
            <value>
                <elementReference>Coll_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldEmailMessages</name>
            <value>
                <elementReference>Get_Email_Messages_from_Old_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailMessageService</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_EmailCollection</name>
        <label>Add to EmailCollection</label>
        <locationX>154</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>Coll_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Email_Messages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Emails_to_new_Case</name>
        <label>Assign Emails to new Case</label>
        <locationX>154</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>varEmail.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Email_Messages.FromAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewCaseObject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.Flow_Processed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.MessageIdentifier</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Email_Messages.FromName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Email_Messages.ToAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.CcAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Email_Messages.CcAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.BccAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Email_Messages.BccAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.Incoming</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Email_Messages.Incoming</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.MessageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Email_Messages.MessageDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Email_Messages.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.Headers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Email_Messages.Headers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StripSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.TextBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Email_Messages.TextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Email_Messages.HtmlBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_EmailCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_to_new_Case</name>
        <label>Set Values to new Case</label>
        <locationX>66</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>varNewCaseObject.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3. Customer Responded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseObject.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Configuration_Settings_Records.Email_Carry_Owner_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseObject.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Strip_Subject_Thread_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseObject.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_TextBody_No_Reference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseObject.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_ID.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseObject.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_ID.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseObject.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_ID.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseObject.Service_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_ID.Service_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCaseObject.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_ID.Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseMultiStoreRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_new_Support_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Closed_Time_Frame</name>
        <label>Check Case Closed Time Frame</label>
        <locationX>462</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Case Closed less than 30 days</defaultConnectorLabel>
        <rules>
            <name>Case_Closed_for_30_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_ID.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_ID.ClosedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Thirty_Days_less_Than_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values_to_new_Case</targetReference>
            </connector>
            <label>Case Closed for 30 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_Message_has_CaseId</name>
        <label>Check Email Message has CaseId ?</label>
        <locationX>902</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Message_has_CaseId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_ID</targetReference>
            </connector>
            <label>Email Message has CaseId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Case_Record</name>
        <label>Check Get Case Record</label>
        <locationX>418</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Records_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Records Return</label>
        </rules>
        <rules>
            <name>Is_Support_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_ID.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Flow_Configuration_Settings_Records.Case_Support_RT_Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Closed_Time_Frame</targetReference>
            </connector>
            <label>Is Support Case</label>
        </rules>
    </decisions>
    <description>This flow Carries Emails including Attachments to the newly Created Support Case from Past Support Case
02/19/2025 - Flow Optimization
05/15/2024 - Included Email Chain Carryover and attachments
04/26/2024 - Removed unused variables and hardcoded ids
8/13/2020 - Email Carryover for Support Clone; 6/17/21 - include service agreement validation bypass</description>
    <environments>Default</environments>
    <formulas>
        <name>Reference_Search_String</name>
        <dataType>String</dataType>
        <expression>MID({!$Record.Subject},FIND(&quot;ref:&quot;,{!$Record.Subject}),31)</expression>
    </formulas>
    <formulas>
        <name>Strip_Subject_Thread_ID</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Subject},FIND(&quot;[&quot;,{!$Record.Subject}))</expression>
    </formulas>
    <formulas>
        <name>StripSubject</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_through_Email_Messages.Subject},FIND(&quot;[&quot;,{!Loop_through_Email_Messages.Subject}))</expression>
    </formulas>
    <formulas>
        <name>Thirty_Days_less_Than_Today</name>
        <dataType>Date</dataType>
        <expression>today()-30</expression>
    </formulas>
    <formulas>
        <name>Updated_TextBody_No_Reference</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.TextBody},{!Reference_Search_String},&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>8/13/2020 - Email Carryover for Support Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message_Email Carryover for Support</label>
    <loops>
        <name>Loop_through_Email_Messages</name>
        <label>Loop through Email Messages</label>
        <locationX>66</locationX>
        <locationY>1140</locationY>
        <collectionReference>Get_Email_Messages_from_Old_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Emails_to_new_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Email_Messages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_new_Support_Case</name>
        <label>Create a new Support Case</label>
        <locationX>66</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Get_Email_Messages_from_Old_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow_Flow_1</targetReference>
        </faultConnector>
        <inputReference>varNewCaseObject</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Messages</name>
        <label>Create Email Messages</label>
        <locationX>66</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Link_Content_Documents_Action</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Path_Flow_Flow_2</targetReference>
        </faultConnector>
        <inputReference>Coll_Email</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record_ID</name>
        <label>Get Case Record ID</label>
        <locationX>418</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Flow_Configuration_Settings_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Messages_from_Old_Case</name>
        <label>Get Email Messages from Old Case</label>
        <locationX>66</locationX>
        <locationY>1032</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Email_Messages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Configuration_Settings_Records</name>
        <label>Get Flow Configuration Settings Records</label>
        <locationX>418</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Settings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Configuration_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>AND({!$CustomMetadata.Flow_Control__mdt.Email_Message_Email_Carryover_for_Suppor.Turn_Off__c}=false,{!$Record.Flow_Processed__c} = false,{!$Record.Incoming}=true)</filterFormula>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_Email_Message_has_CaseId</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fault_Path_Flow_Flow_1</name>
        <label>Fault Path Flow Flow 1</label>
        <locationX>594</locationX>
        <locationY>1032</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fault_Path_Flow_Flow_2</name>
        <label>Fault Path Flow Flow 2</label>
        <locationX>330</locationX>
        <locationY>1656</locationY>
        <flowName>Fault_Path_Flow</flowName>
        <inputAssignments>
            <name>varElementName</name>
            <value>
                <stringValue>Create Email Messages</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Coll_Email</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>varCaseMultiStoreRequest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>varNewCaseObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
